{"swagger":"2.0","info":{"description":"\"Product Microservice\"","version":"1.0.0","title":"MICROSERVICES API","contact":{"name":"Adventium Tech Support","url":"https://www.adventium.tech","email":"tech-support@adventium.tech"}},"host":"accomsoatest.websitetravel.com","basePath":"/","tags":[{"name":"accommodation-controller","description":"Accommodation Controller"},{"name":"activity-controller","description":"Activity Controller"},{"name":"basic-error-controller","description":"Basic Error Controller"},{"name":"ebs-controller","description":"EBS Controller"},{"name":"index-controller","description":"Index Controller"}],"paths":{"/":{"get":{"tags":["index-controller"],"summary":"index","operationId":"indexUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/accommodationapi/v1/availSearchByHotelID":{"post":{"tags":["accommodation-controller"],"summary":"Availability Search Accommodation by Hotel Id","operationId":"availSearchByHotelIdUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"availSearchByHotelIdInput","description":"availSearchByHotelIdInput","required":true,"schema":{"$ref":"#/definitions/RequestData«AvailSearchByHotelIdRQ»"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«Set«AccommodationResult»»"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/accommodationapi/v1/availSearchByLocationID":{"post":{"tags":["accommodation-controller"],"summary":"Availability Search Accommodation by Location Id","operationId":"availSearchByLocationIdUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"availSearchByLocationInput","description":"availSearchByLocationInput","required":true,"schema":{"$ref":"#/definitions/RequestData«AvailSearchByLocationIdRQ»"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«Set«AccommodationResult»»"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/accommodationapi/v1/availability":{"post":{"tags":["accommodation-controller"],"summary":"Check availability and price of a room in Mews","operationId":"checkAvailabilityUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"checkAvailRQDTO","description":"checkAvailRQDTO","required":true,"schema":{"$ref":"#/definitions/RequestData«CheckAvailRQ»"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«CheckAvailRS»"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/accommodationapi/v1/book":{"post":{"tags":["accommodation-controller"],"summary":"Book","operationId":"bookUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"bookRQ","description":"bookRQ","required":true,"schema":{"$ref":"#/definitions/RequestData«BookRQ»"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«BookRS»"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/accommodationapi/v1/cancel":{"post":{"tags":["accommodation-controller"],"summary":"Cancel","operationId":"cancelUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"cancelRQ","description":"cancelRQ","required":true,"schema":{"$ref":"#/definitions/RequestData«CancelRQ»"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«CancelRS»"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/accommodationapi/v1/directRateCheck":{"post":{"tags":["accommodation-controller"],"summary":"Perform a rate check on a specific rateCode","operationId":"rateCheckUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"directRateCheckRQ","description":"directRateCheckRQ","required":true,"schema":{"$ref":"#/definitions/RequestData«DirectRateCheckRQ»"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«RoomRateCheck»"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/accommodationapi/v1/getHotelbedsCountries":{"post":{"tags":["accommodation-controller"],"summary":"Get Hotelbeds Countries","operationId":"getHotelbedsCountriesUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"rq","description":"rq","required":true,"schema":{"$ref":"#/definitions/RequestData«object»"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«CountriesRS»"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/accommodationapi/v1/getHotelbedsDestinations":{"post":{"tags":["accommodation-controller"],"summary":"Get Hotelbeds Destination","operationId":"getHotelbedsDestinationsUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"rq","description":"rq","required":true,"schema":{"$ref":"#/definitions/RequestData«string»"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«DestinationsRS»"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/accommodationapi/v1/initiateRCLoad":{"post":{"tags":["accommodation-controller"],"summary":"Initiate an RC Load for a channel","operationId":"initiateRCLoadUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"channel","description":"channel","required":true,"schema":{"$ref":"#/definitions/RequestData«string»"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«boolean»"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/accommodationapi/v1/loadRichContent/countryName/{countryName}":{"get":{"tags":["accommodation-controller"],"summary":"Load Rich Content for a country","operationId":"loadRichContentForCountryUsingGET","produces":["application/json"],"parameters":[{"name":"countryName","in":"path","description":"countryName","required":true,"type":"string"},{"name":"lastUpdate","in":"query","description":"lastUpdate","required":false,"type":"string","default":"2000-01-01"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«List«AccommodationRC»»"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/accommodationapi/v1/loadRichContent/destinationId/{destinationId}":{"get":{"tags":["accommodation-controller"],"summary":"Load Rich Content for a destinationID","operationId":"loadRichContentForDestinationIdUsingGET","produces":["application/json"],"parameters":[{"name":"destinationId","in":"path","description":"destinationId","required":true,"type":"string"},{"name":"lastUpdate","in":"query","description":"lastUpdate","required":false,"type":"string","default":"2000-01-01"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«List«AccommodationRC»»"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/accommodationapi/v1/loadRichContent/{code}":{"get":{"tags":["accommodation-controller"],"summary":"Load Rich Content for a single property","operationId":"loadRichContentForPropertyUsingGET","produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"code","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«AccommodationRC»"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/accommodationapi/v1/ping":{"get":{"tags":["accommodation-controller"],"summary":"Ping Test Call","operationId":"pingUsingGET","produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"type":"boolean"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/accommodationapi/v1/products":{"get":{"tags":["accommodation-controller"],"summary":"Get products where country is Australia or New Zealand from a updated date","operationId":"getProductAfterDateUsingGET","produces":["application/json"],"parameters":[{"name":"date","in":"query","description":"date","required":true,"type":"string","format":"date"},{"name":"page","in":"query","description":"page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"size","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«Page«ProductRS»»"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/accommodationapi/v1/properties":{"get":{"tags":["accommodation-controller"],"summary":"Get list of properties excluding Hotelbeds","operationId":"listPropertiesUsingGET","produces":["application/json"],"parameters":[{"name":"keyword","in":"query","description":"keyword","required":false,"type":"string"},{"name":"page","in":"query","description":"page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"size","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«Page«PropertiesRS»»"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/accommodationapi/v1/properties/{hotelCode}/room-rate-mapping":{"get":{"tags":["accommodation-controller"],"summary":"Returns all Room / Rate Combinations","operationId":"getRoomRateMappingUsingGET","produces":["application/json"],"parameters":[{"name":"hotelCode","in":"path","description":"hotelCode","required":true,"type":"string"},{"name":"keyword","in":"query","description":"keyword","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«List«RoomRateRS»»"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activityapi/v1/availSearchByActivityID":{"post":{"tags":["activity-controller"],"summary":"Availability Search by Activity Id","operationId":"availSearchByActivityIdUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"availSearchByActivityIdInput","description":"availSearchByActivityIdInput","required":true,"schema":{"$ref":"#/definitions/RequestData«AvailSearchByActivityIdRQ»"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«Set«ActivityResult»»"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activityapi/v1/book":{"post":{"tags":["activity-controller"],"summary":"Book","operationId":"bookUsingPOST_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"bookRQ","description":"bookRQ","required":true,"schema":{"$ref":"#/definitions/RequestData«ActivityBookRQ»"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«ActivityBookRS»"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activityapi/v1/cancel":{"post":{"tags":["activity-controller"],"summary":"Cancel","operationId":"cancelUsingPOST_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"cancelRQ","description":"cancelRQ","required":true,"schema":{"$ref":"#/definitions/RequestData«ActivityCancelRQ»"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«ActivityCancelRS»"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activityapi/v1/createFareTypes/{code}":{"get":{"tags":["activity-controller"],"summary":"Create Fare Types for a single activity","operationId":"createFareTypesUsingGET","produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"code","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«List«FareCreatorResult»»"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activityapi/v1/createFareTypes/{code}/{date_S}":{"get":{"tags":["activity-controller"],"summary":"Create Fare Types for a single activity","operationId":"createFareTypesByDateUsingGET","produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"code","required":true,"type":"string"},{"name":"date_S","in":"path","description":"date_S","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«List«FareCreatorResult»»"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activityapi/v1/ping":{"get":{"tags":["activity-controller"],"summary":"Ping Test Call","operationId":"pingUsingGET_1","produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"type":"boolean"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activityebsapi/v1/availability/{productIdentifier}":{"get":{"tags":["ebs-controller"],"summary":"Availability","operationId":"getAvailabilityUsingGET","produces":["application/json"],"parameters":[{"name":"bookingTimeId","in":"query","description":"bookingTimeId","required":true,"type":"string"},{"name":"endDate","in":"query","description":"endDate","required":true,"type":"string"},{"name":"productIdentifier","in":"path","description":"productIdentifier","required":true,"type":"string"},{"name":"startDate","in":"query","description":"startDate","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AvailabilityResponse"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activityebsapi/v1/booking/cancel":{"post":{"tags":["ebs-controller"],"summary":"Booking Cancellation","operationId":"cancelUsingPOST_2","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"cancelRequest","description":"cancelRequest","required":true,"schema":{"$ref":"#/definitions/CancelRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CancelResponse"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activityebsapi/v1/booking/{productIdentifier}":{"post":{"tags":["ebs-controller"],"summary":"Bookings","operationId":"nonGroupedBookingUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"bookingRequest","description":"bookingRequest","required":true,"schema":{"$ref":"#/definitions/BookingsRequest"}},{"name":"productIdentifier","in":"path","description":"productIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BookingResponse"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activityebsapi/v1/bookingdetails/{productIdentifier}":{"get":{"tags":["ebs-controller"],"summary":"Booking Parameters","operationId":"getBookingParametersUsingGET","produces":["application/json"],"parameters":[{"name":"productIdentifier","in":"path","description":"productIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BookingParametersResponse"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activityebsapi/v1/bookings/{productIdentifier}":{"post":{"tags":["ebs-controller"],"summary":"Grouped Bookings","operationId":"groupedBookingsUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"bookingRequest","description":"bookingRequest","required":true,"schema":{"$ref":"#/definitions/BookingsRequest"}},{"name":"productIdentifier","in":"path","description":"productIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BookingsResponse"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activityebsapi/v1/ping":{"get":{"tags":["ebs-controller"],"summary":"Ping Test Call","operationId":"pingUsingGET_2","produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"type":"boolean"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activityebsapi/v1/productbookings":{"post":{"tags":["ebs-controller"],"summary":"Grouped Product Bookings","operationId":"groupedProductBookingsUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"bookingRequest","description":"bookingRequest","required":true,"schema":{"$ref":"#/definitions/ProductBookingsRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BookingsResponse"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activityebsapi/v1/token":{"post":{"tags":["ebs-controller"],"summary":"Token Authentication","operationId":"tokenUsingPOST","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"client_id","in":"formData","required":false,"type":"string"},{"name":"client_secret","in":"formData","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/TokenResponse"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/error":{"get":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingGET","produces":["text/html"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModelAndView"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"head":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingHEAD","consumes":["application/json"],"produces":["text/html"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModelAndView"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false},"post":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingPOST","consumes":["application/json"],"produces":["text/html"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModelAndView"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingPUT","consumes":["application/json"],"produces":["text/html"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModelAndView"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingDELETE","produces":["text/html"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModelAndView"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false},"options":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingOPTIONS","consumes":["application/json"],"produces":["text/html"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModelAndView"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false},"patch":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingPATCH","consumes":["application/json"],"produces":["text/html"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModelAndView"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}}},"definitions":{"AccommodationProperty":{"type":"object","properties":{"chain":{"type":"string"},"country":{"type":"string"},"destination":{"$ref":"#/definitions/Destination"},"id":{"type":"string"},"images":{"type":"array","items":{"$ref":"#/definitions/Image"}},"introduction":{"type":"string"},"latitude":{"type":"number"},"longitude":{"type":"number"},"productType":{"type":"string"},"propertyName":{"type":"string"},"rating":{"type":"number"},"ratingText":{"type":"string"}},"title":"AccommodationProperty"},"AccommodationRC":{"type":"object","properties":{"accommodationName":{"type":"string"},"chain":{"type":"string"},"checkinTime":{"type":"string"},"checkoutTime":{"type":"string"},"city":{"type":"string"},"code":{"type":"string"},"country":{"type":"string"},"email":{"type":"string"},"errata":{"type":"string"},"facilityGroups":{"type":"array","items":{"$ref":"#/definitions/FacilityGroup"}},"images":{"type":"array","items":{"$ref":"#/definitions/Image"}},"internalDestinationCode":{"type":"string"},"introduction":{"type":"string"},"lastUpdate":{"type":"string","example":"yyyy-MM-dd"},"latitude":{"type":"number"},"longitude":{"type":"number"},"phone":{"type":"string"},"postcode":{"type":"string"},"productType":{"type":"string"},"rating":{"type":"number"},"ratingText":{"type":"string"},"state":{"type":"string"},"street":{"type":"string"},"zoneCode":{"type":"string"}},"title":"AccommodationRC"},"AccommodationResult":{"type":"object","properties":{"property":{"$ref":"#/definitions/AccommodationProperty"},"rooms":{"type":"array","items":{"$ref":"#/definitions/Room"}}},"title":"AccommodationResult"},"ActivityBookRQ":{"type":"object","required":["booker","internalBookingReference","items","travellers"],"properties":{"booker":{"description":"The contact details of the person making the booking","$ref":"#/definitions/ActivityBooker"},"countryCodeOfOrigin":{"type":"string","example":"AU","description":"The country Code of origin."},"internalBookingReference":{"type":"string","description":"A reference from the calling system for the booking"},"items":{"type":"array","description":"The items to be booked.","items":{"$ref":"#/definitions/ActivityRequestItem"}},"travellers":{"type":"array","description":"A list of details of the customers on this booking.  Note that the order is important, as this array is accessed with an index during booking","items":{"$ref":"#/definitions/Traveller"}}},"title":"ActivityBookRQ"},"ActivityBookRS":{"type":"object","required":["bookingReference","internalBookingReference","items","remarks"],"properties":{"bookingReference":{"type":"string","description":"The booking reference from the called system for this booking"},"internalBookingReference":{"type":"string","description":"A reference from the calling system for the booking"},"items":{"type":"array","description":"The list of items (activities) booked","items":{"$ref":"#/definitions/ActivityResponseItem"}},"remarks":{"type":"array","description":"Any remarks for this booking returned by the supplier","items":{"type":"string"}}},"title":"ActivityBookRS"},"ActivityBooker":{"type":"object","required":["givenName","surname","title"],"properties":{"givenName":{"type":"string","example":"John","description":"The given (or first) name of the booking contact"},"surname":{"type":"string","example":"Smith","description":"The family name (or surname) name of the booking contact"},"telephone":{"type":"string","example":"0414555666","description":"The telephone numnber of the booking contact"},"title":{"type":"string","example":"Mr","description":"The title of the booking contact"}},"title":"ActivityBooker"},"ActivityCancelRQ":{"type":"object","required":["bookingReference","channel","internalBookingReference"],"properties":{"bookingReference":{"type":"string","description":"The booking reference from the called system for this booking"},"channel":{"type":"string","example":"YALAGO","description":"The source channel of this item, from the Room=>Source field in search results"},"internalBookingReference":{"type":"string","description":"A reference from the calling system for this item"}},"title":"ActivityCancelRQ"},"ActivityCancelRS":{"type":"object","required":["cancellationCharge","confirmationCode"],"properties":{"cancellationCharge":{"description":"The charge (fee) for this cancellation","$ref":"#/definitions/CurrencyValue"},"confirmationCode":{"type":"string","description":"The cancellation confirmation code"}},"title":"ActivityCancelRS"},"ActivityCancellationPolicyLine":{"type":"object","properties":{"asOf":{"type":"string","description":"The date this policy line takes effect (before=false) or finishes (before=true)"},"before":{"type":"boolean","description":"Whether this line applies to BEFORE 'asOf' or after (including) 'asOf'"},"penalty":{"description":"Value of the penalty as a dollar figure.  A full value = no refund. EITHER penalty OR penaltyPercent will be given.","$ref":"#/definitions/CurrencyValue"},"penaltyDescription":{"type":"string","description":"Description of this penalty line"},"penaltyPercent":{"type":"number","description":"Value of the penalty as a percntage.  A full value = no refund. EITHER penalty OR penaltyPercent will be given."}},"title":"ActivityCancellationPolicyLine"},"ActivityDeparture":{"type":"object","properties":{"date":{"type":"string","example":"yyyy-MM-dd"},"departureId":{"type":"string"},"departureName":{"type":"string"},"departureTime":{"type":"string","example":"HH:mm"},"options":{"type":"array","items":{"$ref":"#/definitions/ActivityOption"}}},"title":"ActivityDeparture"},"ActivityOption":{"type":"object","properties":{"bookingQuestions":{"type":"array","items":{"$ref":"#/definitions/BookingQuestion"}},"bundlesOnly":{"type":"boolean"},"cancellationPolicy":{"type":"array","description":"Machine readable cancellation policy","items":{"$ref":"#/definitions/ActivityCancellationPolicyLine"}},"cancellationPolicyText":{"type":"string","description":"Human readable cancellation policy"},"nettPrice":{"$ref":"#/definitions/CurrencyValue"},"optionId":{"type":"string"},"optionName":{"type":"string"},"pricePer":{"type":"array","items":{"$ref":"#/definitions/ActivityOptionPriceBand"}},"rrpPrice":{"$ref":"#/definitions/CurrencyValue"}},"title":"ActivityOption"},"ActivityOptionPriceBand":{"type":"object","properties":{"ageBandName":{"type":"string"},"nettPrice":{"$ref":"#/definitions/CurrencyValue"},"rrpPrice":{"$ref":"#/definitions/CurrencyValue"}},"title":"ActivityOptionPriceBand"},"ActivityRC":{"type":"object","required":["countryCode","lastUpdate"],"properties":{"activityName":{"type":"string","description":"The title for this activity"},"additionalInformation":{"type":"string","description":"Additional information"},"cancellationPolicyOverview":{"type":"string","description":"General cancellqtion policy information"},"categories":{"type":"array","description":"The categories for this activity.  Channel specific.","items":{"type":"string"}},"channel":{"type":"string","example":"VIATOR","description":"The channel from which this activity record originated"},"channelCode":{"type":"string","example":123456,"description":"The unique code of this activity within the channel from which it originated"},"code":{"type":"string","example":"VI1234ABC","description":"The unique code of this property within the service"},"countryCode":{"type":"string","description":"The countryId"},"departurePoint":{"type":"string","description":"The departure point for this service"},"duration":{"type":"string","description":"The duration in ISO form"},"durationText":{"type":"string","description":"The description of the duration"},"exclusions":{"type":"string","description":"Activity exclusions"},"fromPerPerson":{"description":"The from / introductory price per adult","$ref":"#/definitions/CurrencyValue"},"geoCoordinates":{"description":"The geocordinates of the property","$ref":"#/definitions/LatitudeLongitude"},"hotelPickupAvailable":{"type":"boolean","description":"Are hotel pickups available?"},"hotelPickupList":{"type":"array","description":"Hotels available for pickup","items":{"type":"string"}},"images":{"type":"array","description":"Images for this activity","items":{"$ref":"#/definitions/Image"}},"inclusions":{"type":"string","description":"Activity inclusions"},"itineraryHighlights":{"type":"string","description":"Long text for itinerary highlights"},"lastUpdate":{"type":"string","description":"the date and time this record was last updated"},"localOperatorInformation":{"type":"string","description":"Extra information about the on the ground operator"},"operator":{"type":"string","description":"The operator of this service"},"overview":{"type":"string","description":"Long text overview"},"productType":{"type":"string","description":"The general type of this activity"},"scheduleAndPricingInformation":{"type":"string","description":"General information about schedules and pricing"},"voucherInformation":{"type":"string","description":"Voucher information"}},"title":"ActivityRC"},"ActivityRequestItem":{"type":"object","required":["activityId","channel","departureId","internalItemReference","optionId"],"properties":{"activityId":{"type":"string","example":"IM123456","description":"The activity id"},"bookingQuestionAnswers":{"type":"array","description":"Answers to the questions specified by the Activity Option","items":{"$ref":"#/definitions/BookingAnswers"}},"channel":{"type":"string","example":"VIATOR","description":"The source channel of this item"},"date":{"type":"string","description":"The activity date"},"departureId":{"type":"string","description":"The departure id"},"internalItemReference":{"type":"string","description":"A reference from the calling system for this item"},"optionId":{"type":"string","description":"The option id"},"supplyRate":{"description":"The net rate.  Used to verify that the rate has not changed between the time of search, and booking","$ref":"#/definitions/CurrencyValue"},"travellerIndex":{"type":"array","description":"The index into the array of travellers against this booking, to indicate which travellers are on/in this item (/room)","items":{"type":"integer","format":"int32"}}},"title":"ActivityRequestItem"},"ActivityResponseItem":{"type":"object","required":["bookingItemReference","bookingQuestionAnswers","channel","internalItemReference","itemStatus"],"properties":{"bookingItemReference":{"type":"string","description":"The booking reference from the called system for this item"},"bookingQuestionAnswers":{"type":"array","description":"Answers to the questions specified by the Activity Option","items":{"$ref":"#/definitions/BookingAnswers"}},"channel":{"type":"string","example":"VIATOR","description":"The source channel of this item, from the Room=>Source field in search results"},"internalItemReference":{"type":"string","description":"A reference from the calling system for this item"},"itemRemark":{"type":"string","description":"Any remark returned by the booking system particularly for this item"},"itemStatus":{"type":"string","description":"The booking status of this iterm","enum":["BOOKED","CANCELLED","FAILED"]}},"title":"ActivityResponseItem"},"ActivityResult":{"type":"object","properties":{"activityRC":{"$ref":"#/definitions/ActivityRC"},"departures":{"type":"array","items":{"$ref":"#/definitions/ActivityDeparture"}}},"title":"ActivityResult"},"AdditionalField":{"type":"object","properties":{"additionalFieldId":{"type":"string"},"additionalFieldTitle":{"type":"string"},"mandatory":{"type":"boolean"},"options":{"type":"array","items":{"type":"string"}},"type":{"type":"string"}},"title":"AdditionalField"},"AdditionalFields":{"type":"object","properties":{"values":{"type":"object","additionalProperties":{"type":"string"}}},"title":"AdditionalFields"},"Agency":{"type":"object","properties":{"agent":{"type":"string"},"branch":{"type":"string"},"branchCode":{"type":"string"},"phone":{"type":"string"}},"title":"Agency"},"AuditData":{"type":"object","properties":{"environment":{"type":"string","xml":{"name":"environment","attribute":false,"wrapped":false}},"processTime":{"type":"string","xml":{"name":"processTime","attribute":false,"wrapped":false}},"release":{"type":"string","xml":{"name":"release","attribute":false,"wrapped":false}},"requestHost":{"type":"string","xml":{"name":"requestHost","attribute":false,"wrapped":false}},"serverId":{"type":"string","xml":{"name":"serverId","attribute":false,"wrapped":false}},"timestamp":{"type":"string","xml":{"name":"timestamp","attribute":false,"wrapped":false}}},"title":"AuditData"},"AvailSearchByActivityIdRQ":{"type":"object","properties":{"activityDate":{"type":"string","format":"date"},"activityDateFrom":{"type":"string","example":"yyyy-MM-dd"},"activityDateTo":{"type":"string","example":"yyyy-MM-dd"},"activityIds":{"type":"array","items":{"type":"string"}},"channel":{"type":"string"},"client":{"type":"string"},"countryCodeOfOrigin":{"type":"string"},"nameFilter":{"type":"string"},"travellers":{"$ref":"#/definitions/TravellerMix"}},"title":"AvailSearchByActivityIdRQ"},"AvailSearchByHotelIdRQ":{"type":"object","properties":{"checkin":{"type":"string","example":"yyyy-MM-dd"},"checkout":{"type":"string","example":"yyyy-MM-dd"},"hotelId":{"type":"string"},"rooms":{"type":"integer","format":"int32"},"travellerMix":{"type":"string","example":"2A1C-10","description":"nAmC-n1-n2-n3"}},"title":"AvailSearchByHotelIdRQ"},"AvailSearchByLocationIdRQ":{"type":"object","properties":{"checkin":{"type":"string","example":"yyyy-MM-dd"},"checkout":{"type":"string","example":"yyyy-MM-dd"},"filterDirect":{"type":"boolean"},"locationId":{"type":"string"},"nameFilter":{"type":"string"},"resultsLimit":{"type":"integer","format":"int32"},"rooms":{"type":"integer","format":"int32"},"starsFilter":{"type":"array","items":{"type":"number"}},"travellerMix":{"type":"string","example":"2A1C-10","description":"nAmC-n1-n2-n3"},"zoneId":{"type":"string"}},"title":"AvailSearchByLocationIdRQ"},"Availability":{"type":"object","properties":{"date":{"type":"string"},"net":{"type":"number"},"notApplicable":{"type":"boolean"},"quantityAvailable":{"type":"integer","format":"int32"},"rrp":{"type":"number"}},"title":"Availability"},"AvailabilityResponse":{"type":"object","properties":{"availability":{"type":"array","items":{"$ref":"#/definitions/Availability"}}},"title":"AvailabilityResponse"},"BookRQ":{"type":"object","properties":{"agentInfo":{"type":"string"},"booker":{"$ref":"#/definitions/Booker"},"internalBookingReference":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/definitions/RequestItem"}},"specialRequests":{"type":"array","items":{"$ref":"#/definitions/SpecialRequest"}},"travellers":{"type":"array","items":{"$ref":"#/definitions/Traveller"}}},"title":"BookRQ"},"BookRS":{"type":"object","properties":{"internalBookingReference":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/definitions/ResponseItem"}}},"title":"BookRS"},"Booker":{"type":"object","properties":{"givenName":{"type":"string"},"surname":{"type":"string"},"telephone":{"type":"string"}},"title":"Booker"},"BookingAnswers":{"type":"object","required":["answer","questionId"],"properties":{"answer":{"type":"string","description":"The answer"},"questionId":{"type":"string","description":"The question Id"},"travelerNum":{"type":"integer","format":"int32","description":"If the question is 'perTraveller', then the traeller index"}},"title":"BookingAnswers"},"BookingDetail":{"type":"object","properties":{"additionalFields":{"type":"array","items":{"$ref":"#/definitions/AdditionalFields"}},"bookingDate":{"type":"string"},"bookingTimeId":{"type":"string"},"currencyCode":{"type":"string"},"net":{"type":"number"},"pickupLocationId":{"type":"string"},"quantity":{"type":"integer","format":"int32"},"rrp":{"type":"number"},"voucherNumber":{"type":"string"}},"title":"BookingDetail"},"BookingDetailCustomer":{"type":"object","properties":{"customerIndex":{"type":"integer","format":"int32"}},"title":"BookingDetailCustomer"},"BookingParametersResponse":{"type":"object","properties":{"additionalFields":{"type":"array","items":{"$ref":"#/definitions/AdditionalField"}},"bookingTimes":{"type":"array","items":{"$ref":"#/definitions/BookingTime"}},"pickupLocations":{"type":"array","items":{"$ref":"#/definitions/PickupLocation"}}},"title":"BookingParametersResponse"},"BookingQuestion":{"type":"object","properties":{"list":{"type":"array","items":{"type":"string"}},"perTraveller":{"type":"boolean"},"questionId":{"type":"string"},"questionText":{"type":"string"},"questionType":{"type":"string","enum":["LIST","STRING","DATE","TIME","NUMBER"]}},"title":"BookingQuestion"},"BookingRange":{"type":"object","properties":{"bookingDetailCustomers":{"type":"array","items":{"$ref":"#/definitions/BookingDetailCustomer"}},"bookingDetails":{"type":"array","items":{"$ref":"#/definitions/BookingDetail"}},"endDate":{"type":"string"},"productIdentifier":{"type":"string"},"startDate":{"type":"string"}},"title":"BookingRange"},"BookingResponse":{"type":"object","properties":{"bookingNotes":{"type":"string"},"bookingReferenceId":{"type":"string"},"errorMessage":{"type":"string"},"success":{"type":"boolean"}},"title":"BookingResponse"},"BookingSystemMapping":{"type":"object","properties":{"bookingSystemName":{"type":"string"},"productId":{"type":"string"}},"title":"BookingSystemMapping"},"BookingTime":{"type":"object","properties":{"bookingTime":{"type":"string"},"bookingTimeId":{"type":"string"},"default":{"type":"boolean"}},"title":"BookingTime"},"BookingsRequest":{"type":"object","properties":{"additionalFields":{"type":"array","items":{"$ref":"#/definitions/AdditionalFields"}},"agency":{"$ref":"#/definitions/Agency"},"bookingDate":{"type":"string"},"bookingTimeId":{"type":"string"},"bookings":{"type":"array","items":{"$ref":"#/definitions/BookingRange"}},"currencyCode":{"type":"string"},"customers":{"type":"array","items":{"$ref":"#/definitions/Customer"}},"net":{"type":"number"},"orderReference":{"type":"string"},"pickupLocationId":{"type":"string"},"quantity":{"type":"integer","format":"int32"},"rrp":{"type":"number"},"voucherNumber":{"type":"string"}},"title":"BookingsRequest"},"BookingsResponse":{"type":"object","properties":{"bookings":{"type":"array","items":{"$ref":"#/definitions/BookingsResponseDetails"}},"orderReference":{"type":"string"}},"title":"BookingsResponse"},"BookingsResponseCustomerDetails":{"type":"object","properties":{"bookingNotes":{"type":"string"},"bookingReferenceId":{"type":"string"},"customerIndex":{"type":"integer","format":"int32"},"errorMessage":{"type":"string"},"success":{"type":"boolean"}},"title":"BookingsResponseCustomerDetails"},"BookingsResponseDetails":{"type":"object","properties":{"bookingDate":{"type":"string"},"bookingDetailCustomers":{"type":"array","items":{"$ref":"#/definitions/BookingsResponseCustomerDetails"}},"voucherNumber":{"type":"string"}},"title":"BookingsResponseDetails"},"CancelRQ":{"type":"object","properties":{"hotelId":{"type":"string"},"internalBookingReference":{"type":"string"},"source":{"type":"string"},"supplierReference":{"type":"string"}},"title":"CancelRQ"},"CancelRS":{"type":"object","properties":{"cancellationCharge":{"$ref":"#/definitions/CurrencyValue"},"confirmationCode":{"type":"string"}},"title":"CancelRS"},"CancelRequest":{"type":"object","properties":{"bookingReferenceId":{"type":"string"},"reason":{"type":"string"}},"title":"CancelRequest"},"CancelResponse":{"type":"object","properties":{"errorMessage":{"type":"string"},"success":{"type":"boolean"}},"title":"CancelResponse"},"CheckAvailRQ":{"type":"object","properties":{"checkin":{"type":"string","example":"yyyy-MM-dd"},"checkout":{"type":"string","example":"yyyy-MM-dd"},"guestCount":{"type":"integer","format":"int32"},"hotelCode":{"type":"string"},"roomCode":{"type":"string"},"source":{"type":"string"}},"title":"CheckAvailRQ"},"CheckAvailRS":{"type":"object","properties":{"dailyPrices":{"type":"array","items":{"$ref":"#/definitions/DailyPrice"}},"hotelCode":{"type":"string"},"roomCode":{"type":"string"}},"title":"CheckAvailRS"},"Countries":{"type":"object","properties":{"country":{"type":"array","items":{"$ref":"#/definitions/Country"}}},"title":"Countries","xml":{"name":"countries","attribute":false,"wrapped":false}},"CountriesRS":{"type":"object","properties":{"auditData":{"xml":{"name":"auditData","attribute":false,"wrapped":false},"$ref":"#/definitions/AuditData"},"countries":{"xml":{"name":"countries","attribute":false,"wrapped":false},"$ref":"#/definitions/Countries"},"from":{"type":"integer","xml":{"name":"from","attribute":false,"wrapped":false}},"to":{"type":"integer","xml":{"name":"to","attribute":false,"wrapped":false}},"total":{"type":"integer","xml":{"name":"total","attribute":false,"wrapped":false}}},"title":"CountriesRS","xml":{"name":"countriesRS","attribute":false,"wrapped":false}},"Country":{"type":"object","properties":{"code":{"type":"string","xml":{"name":"code","attribute":true,"wrapped":false}},"description":{"type":"string","xml":{"name":"description","attribute":false,"wrapped":false}}},"title":"Country","xml":{"name":"country","attribute":false,"wrapped":false}},"CurrencyValue":{"type":"object","required":["amount","currencyId"],"properties":{"amount":{"type":"number","example":100.0},"currencyId":{"type":"string","example":"AUD"}},"title":"CurrencyValue"},"Customer":{"type":"object","properties":{"customerCountry":{"type":"string"},"customerDateOfBirth":{"type":"string"},"customerEmail":{"type":"string"},"customerFirstName":{"type":"string"},"customerIndex":{"type":"integer","format":"int32"},"customerLastName":{"type":"string"},"customerPhone":{"type":"string"},"customerTitle":{"type":"string"},"voucherComment":{"type":"string"}},"title":"Customer"},"DailyPrice":{"type":"object","properties":{"canArrival":{"type":"boolean"},"canArrivalException":{"$ref":"#/definitions/StateExceptionRS"},"canDepart":{"type":"boolean"},"canDepartException":{"$ref":"#/definitions/StateExceptionRS"},"canStay":{"type":"boolean"},"canStayException":{"$ref":"#/definitions/StateExceptionRS"},"currency":{"type":"string"},"date":{"type":"string"},"gross":{"type":"number"},"inventory":{"type":"integer","format":"int32"},"net":{"type":"number"}},"title":"DailyPrice"},"Destination":{"type":"object","properties":{"code":{"type":"string"},"countryCode":{"type":"string","xml":{"name":"countryCode","attribute":true,"wrapped":false}},"groupZones":{"xml":{"name":"groupZones","attribute":false,"wrapped":false},"$ref":"#/definitions/GroupZones"},"isoCode":{"type":"string","xml":{"name":"isoCode","attribute":true,"wrapped":false}},"name":{"type":"string","xml":{"name":"name","attribute":false,"wrapped":false}},"zone":{"type":"string"},"zones":{"xml":{"name":"zones","attribute":false,"wrapped":false},"$ref":"#/definitions/Zones"}},"title":"Destination"},"Destinations":{"type":"object","properties":{"destination":{"type":"array","items":{"$ref":"#/definitions/Destination"}}},"title":"Destinations","xml":{"name":"destinations","attribute":false,"wrapped":false}},"DestinationsRS":{"type":"object","properties":{"auditData":{"xml":{"name":"auditData","attribute":false,"wrapped":false},"$ref":"#/definitions/AuditData"},"destinations":{"xml":{"name":"destinations","attribute":false,"wrapped":false},"$ref":"#/definitions/Destinations"},"from":{"type":"integer","xml":{"name":"from","attribute":false,"wrapped":false}},"to":{"type":"integer","xml":{"name":"to","attribute":false,"wrapped":false}},"total":{"type":"integer","xml":{"name":"total","attribute":false,"wrapped":false}}},"title":"DestinationsRS","xml":{"name":"destinationsRS","attribute":false,"wrapped":false}},"DirectRateCheckRQ":{"type":"object","properties":{"rateCode":{"type":"string"},"source":{"type":"string"}},"title":"DirectRateCheckRQ"},"FacilityGroup":{"type":"object","properties":{"facilities":{"type":"array","items":{"type":"string"}},"groupName":{"type":"string"}},"title":"FacilityGroup"},"FareCreatorResult":{"type":"object","properties":{"bookingSystemMapping":{"$ref":"#/definitions/BookingSystemMapping"},"currency":{"type":"string"},"duration":{"type":"integer","format":"int32"},"fareName":{"type":"string"},"netRate":{"type":"number"},"pax":{"type":"integer","format":"int32"},"periodStart":{"type":"string","example":"yyyy-MM-dd"},"rrp":{"type":"number"}},"title":"FareCreatorResult"},"GroupZones":{"type":"object","properties":{"zone":{"type":"array","items":{"$ref":"#/definitions/Zone"}}},"title":"GroupZones","xml":{"name":"groupZones","attribute":false,"wrapped":false}},"Image":{"type":"object","properties":{"imageDescription":{"type":"string"},"imageURL":{"type":"string"}},"title":"Image"},"LatitudeLongitude":{"type":"object","properties":{"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}},"title":"LatitudeLongitude"},"ModelAndView":{"type":"object","properties":{"empty":{"type":"boolean"},"model":{"type":"object"},"modelMap":{"type":"object","additionalProperties":{"type":"object"}},"reference":{"type":"boolean"},"status":{"type":"string","enum":["100 CONTINUE","101 SWITCHING_PROTOCOLS","102 PROCESSING","103 CHECKPOINT","200 OK","201 CREATED","202 ACCEPTED","203 NON_AUTHORITATIVE_INFORMATION","204 NO_CONTENT","205 RESET_CONTENT","206 PARTIAL_CONTENT","207 MULTI_STATUS","208 ALREADY_REPORTED","226 IM_USED","300 MULTIPLE_CHOICES","301 MOVED_PERMANENTLY","302 FOUND","302 MOVED_TEMPORARILY","303 SEE_OTHER","304 NOT_MODIFIED","305 USE_PROXY","307 TEMPORARY_REDIRECT","308 PERMANENT_REDIRECT","400 BAD_REQUEST","401 UNAUTHORIZED","402 PAYMENT_REQUIRED","403 FORBIDDEN","404 NOT_FOUND","405 METHOD_NOT_ALLOWED","406 NOT_ACCEPTABLE","407 PROXY_AUTHENTICATION_REQUIRED","408 REQUEST_TIMEOUT","409 CONFLICT","410 GONE","411 LENGTH_REQUIRED","412 PRECONDITION_FAILED","413 PAYLOAD_TOO_LARGE","413 REQUEST_ENTITY_TOO_LARGE","414 URI_TOO_LONG","414 REQUEST_URI_TOO_LONG","415 UNSUPPORTED_MEDIA_TYPE","416 REQUESTED_RANGE_NOT_SATISFIABLE","417 EXPECTATION_FAILED","418 I_AM_A_TEAPOT","419 INSUFFICIENT_SPACE_ON_RESOURCE","420 METHOD_FAILURE","421 DESTINATION_LOCKED","422 UNPROCESSABLE_ENTITY","423 LOCKED","424 FAILED_DEPENDENCY","425 TOO_EARLY","426 UPGRADE_REQUIRED","428 PRECONDITION_REQUIRED","429 TOO_MANY_REQUESTS","431 REQUEST_HEADER_FIELDS_TOO_LARGE","451 UNAVAILABLE_FOR_LEGAL_REASONS","500 INTERNAL_SERVER_ERROR","501 NOT_IMPLEMENTED","502 BAD_GATEWAY","503 SERVICE_UNAVAILABLE","504 GATEWAY_TIMEOUT","505 HTTP_VERSION_NOT_SUPPORTED","506 VARIANT_ALSO_NEGOTIATES","507 INSUFFICIENT_STORAGE","508 LOOP_DETECTED","509 BANDWIDTH_LIMIT_EXCEEDED","510 NOT_EXTENDED","511 NETWORK_AUTHENTICATION_REQUIRED"]},"view":{"$ref":"#/definitions/View"},"viewName":{"type":"string"}},"title":"ModelAndView"},"Pageable":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"paged":{"type":"boolean"},"sort":{"$ref":"#/definitions/Sort"},"unpaged":{"type":"boolean"}},"title":"Pageable"},"Page«ProductRS»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/ProductRS"}},"empty":{"type":"boolean"},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/definitions/Pageable"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}},"title":"Page«ProductRS»"},"Page«PropertiesRS»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/PropertiesRS"}},"empty":{"type":"boolean"},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/definitions/Pageable"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}},"title":"Page«PropertiesRS»"},"PickupLocation":{"type":"object","properties":{"pickupLocation":{"type":"string"},"pickupLocationId":{"type":"string"},"pickupTime":{"type":"string"}},"title":"PickupLocation"},"ProductBookingsRequest":{"type":"object","properties":{"additionalFields":{"type":"array","items":{"$ref":"#/definitions/AdditionalFields"}},"agency":{"$ref":"#/definitions/Agency"},"bookingDate":{"type":"string"},"bookingTimeId":{"type":"string"},"bookings":{"type":"array","items":{"$ref":"#/definitions/BookingRange"}},"currencyCode":{"type":"string"},"customers":{"type":"array","items":{"$ref":"#/definitions/Customer"}},"net":{"type":"number"},"orderReference":{"type":"string"},"pickupLocationId":{"type":"string"},"quantity":{"type":"integer","format":"int32"},"rrp":{"type":"number"},"voucherNumber":{"type":"string"}},"title":"ProductBookingsRequest"},"ProductRS":{"type":"object","properties":{"lastUpdate":{"type":"string","example":"yyyy-MM-dd"},"productId":{"type":"string"}},"title":"ProductRS"},"PropertiesRS":{"type":"object","properties":{"apiName":{"type":"string"},"code":{"type":"string"},"name":{"type":"string"}},"title":"PropertiesRS"},"RequestData«ActivityBookRQ»":{"type":"object","properties":{"agentID":{"type":"string"},"data":{"$ref":"#/definitions/ActivityBookRQ"},"site":{"type":"string"}},"title":"RequestData«ActivityBookRQ»"},"RequestData«ActivityCancelRQ»":{"type":"object","properties":{"agentID":{"type":"string"},"data":{"$ref":"#/definitions/ActivityCancelRQ"},"site":{"type":"string"}},"title":"RequestData«ActivityCancelRQ»"},"RequestData«AvailSearchByActivityIdRQ»":{"type":"object","properties":{"agentID":{"type":"string"},"data":{"$ref":"#/definitions/AvailSearchByActivityIdRQ"},"site":{"type":"string"}},"title":"RequestData«AvailSearchByActivityIdRQ»"},"RequestData«AvailSearchByHotelIdRQ»":{"type":"object","properties":{"agentID":{"type":"string"},"data":{"$ref":"#/definitions/AvailSearchByHotelIdRQ"},"site":{"type":"string"}},"title":"RequestData«AvailSearchByHotelIdRQ»"},"RequestData«AvailSearchByLocationIdRQ»":{"type":"object","properties":{"agentID":{"type":"string"},"data":{"$ref":"#/definitions/AvailSearchByLocationIdRQ"},"site":{"type":"string"}},"title":"RequestData«AvailSearchByLocationIdRQ»"},"RequestData«BookRQ»":{"type":"object","properties":{"agentID":{"type":"string"},"data":{"$ref":"#/definitions/BookRQ"},"site":{"type":"string"}},"title":"RequestData«BookRQ»"},"RequestData«CancelRQ»":{"type":"object","properties":{"agentID":{"type":"string"},"data":{"$ref":"#/definitions/CancelRQ"},"site":{"type":"string"}},"title":"RequestData«CancelRQ»"},"RequestData«CheckAvailRQ»":{"type":"object","properties":{"agentID":{"type":"string"},"data":{"$ref":"#/definitions/CheckAvailRQ"},"site":{"type":"string"}},"title":"RequestData«CheckAvailRQ»"},"RequestData«DirectRateCheckRQ»":{"type":"object","properties":{"agentID":{"type":"string"},"data":{"$ref":"#/definitions/DirectRateCheckRQ"},"site":{"type":"string"}},"title":"RequestData«DirectRateCheckRQ»"},"RequestData«object»":{"type":"object","properties":{"agentID":{"type":"string"},"data":{"type":"object"},"site":{"type":"string"}},"title":"RequestData«object»"},"RequestData«string»":{"type":"object","properties":{"agentID":{"type":"string"},"data":{"type":"string"},"site":{"type":"string"}},"title":"RequestData«string»"},"RequestItem":{"type":"object","properties":{"checkin":{"type":"string","example":"yyyy-MM-dd"},"checkout":{"type":"string","example":"yyyy-MM-dd"},"hotelID":{"type":"string"},"internalItemReference":{"type":"string"},"rateCode":{"type":"string"},"rooms":{"type":"integer","format":"int32"},"source":{"type":"string"},"supplierprice":{"$ref":"#/definitions/CurrencyValue"},"travellerMix":{"type":"string"}},"title":"RequestItem"},"ResponseData«AccommodationRC»":{"type":"object","properties":{"data":{"$ref":"#/definitions/AccommodationRC"},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«AccommodationRC»"},"ResponseData«ActivityBookRS»":{"type":"object","properties":{"data":{"$ref":"#/definitions/ActivityBookRS"},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«ActivityBookRS»"},"ResponseData«ActivityCancelRS»":{"type":"object","properties":{"data":{"$ref":"#/definitions/ActivityCancelRS"},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«ActivityCancelRS»"},"ResponseData«BookRS»":{"type":"object","properties":{"data":{"$ref":"#/definitions/BookRS"},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«BookRS»"},"ResponseData«CancelRS»":{"type":"object","properties":{"data":{"$ref":"#/definitions/CancelRS"},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«CancelRS»"},"ResponseData«CheckAvailRS»":{"type":"object","properties":{"data":{"$ref":"#/definitions/CheckAvailRS"},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«CheckAvailRS»"},"ResponseData«CountriesRS»":{"type":"object","properties":{"data":{"$ref":"#/definitions/CountriesRS"},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«CountriesRS»"},"ResponseData«DestinationsRS»":{"type":"object","properties":{"data":{"$ref":"#/definitions/DestinationsRS"},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«DestinationsRS»"},"ResponseData«List«AccommodationRC»»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/AccommodationRC"}},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«List«AccommodationRC»»"},"ResponseData«List«FareCreatorResult»»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/FareCreatorResult"}},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«List«FareCreatorResult»»"},"ResponseData«List«RoomRateRS»»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/RoomRateRS"}},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«List«RoomRateRS»»"},"ResponseData«Page«ProductRS»»":{"type":"object","properties":{"data":{"$ref":"#/definitions/Page«ProductRS»"},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«Page«ProductRS»»"},"ResponseData«Page«PropertiesRS»»":{"type":"object","properties":{"data":{"$ref":"#/definitions/Page«PropertiesRS»"},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«Page«PropertiesRS»»"},"ResponseData«RoomRateCheck»":{"type":"object","properties":{"data":{"$ref":"#/definitions/RoomRateCheck"},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«RoomRateCheck»"},"ResponseData«Set«AccommodationResult»»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/AccommodationResult"}},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«Set«AccommodationResult»»"},"ResponseData«Set«ActivityResult»»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/ActivityResult"}},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«Set«ActivityResult»»"},"ResponseData«boolean»":{"type":"object","properties":{"data":{"type":"boolean"},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«boolean»"},"ResponseExtraInformation":{"type":"object","properties":{"code":{"type":"string"},"text":{"type":"string"}},"title":"ResponseExtraInformation"},"ResponseItem":{"type":"object","properties":{"channel":{"type":"string"},"comments":{"type":"string"},"internalItemReference":{"type":"string"},"itemStatus":{"type":"string","enum":["BOOKED","FAILED","PROCESSING"]},"supplierReference":{"type":"string"}},"title":"ResponseItem"},"Room":{"type":"object","properties":{"cancellationPolicyText":{"type":"string"},"defaultRateCode":{"type":"string"},"extraFees":{"type":"array","items":{"$ref":"#/definitions/RoomExtraFee"}},"inventory":{"type":"integer"},"promotions":{"type":"array","items":{"$ref":"#/definitions/RoomPromotion"}},"requiresRecheck":{"type":"boolean"},"roomCancellationPolicy":{"type":"array","items":{"$ref":"#/definitions/RoomCancellationPolicyLine"}},"roomCode":{"type":"string"},"roomName":{"type":"string"},"roomNumber":{"type":"integer","format":"int32"},"rrpIsMandatory":{"type":"boolean"},"source":{"type":"string"},"supplyRate":{"$ref":"#/definitions/CurrencyValue"},"totalRate":{"$ref":"#/definitions/CurrencyValue"}},"title":"Room"},"RoomCancellationPolicyLine":{"type":"object","properties":{"asOf":{"type":"string","format":"date"},"before":{"type":"boolean"},"penalty":{"$ref":"#/definitions/CurrencyValue"},"penaltyDescription":{"type":"string"}},"title":"RoomCancellationPolicyLine"},"RoomExtraFee":{"type":"object","properties":{"description":{"type":"string"},"fee":{"$ref":"#/definitions/CurrencyValue"},"feeType":{"type":"string","enum":["CheckinFees","CheckoutFees","BookingFees"]}},"title":"RoomExtraFee"},"RoomPromotion":{"type":"object","properties":{"customerFulfillmentRequirements":{"type":"string"},"promoType":{"type":"string","enum":["MEAL","VALUEADD","DISCOUNT_OFFER"]},"shortMarketingText":{"type":"string"},"termsAndConditions":{"type":"string"}},"title":"RoomPromotion"},"RoomRateCheck":{"type":"object","properties":{"cancellationPolicyText":{"type":"string"},"defaultRateCode":{"type":"string"},"rateComment":{"type":"string"},"roomCancellationPolicy":{"type":"array","items":{"$ref":"#/definitions/RoomCancellationPolicyLine"}},"roomCode":{"type":"string"},"source":{"type":"string"},"supplyRate":{"$ref":"#/definitions/CurrencyValue"},"totalRate":{"$ref":"#/definitions/CurrencyValue"}},"title":"RoomRateCheck"},"RoomRateRS":{"type":"object","properties":{"hotelCode":{"type":"string"},"hotelName":{"type":"string"},"rateCode":{"type":"string"},"rateName":{"type":"string"},"roomCode":{"type":"string"},"roomName":{"type":"string"},"roomRate":{"type":"string"}},"title":"RoomRateRS"},"Sort":{"type":"object","properties":{"empty":{"type":"boolean"},"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"}},"title":"Sort"},"SpecialRequest":{"type":"object","properties":{"code":{"type":"string"},"value":{"type":"string"}},"title":"SpecialRequest"},"StateExceptionRS":{"type":"object","properties":{"maxLos":{"type":"integer","format":"int32"},"minLos":{"type":"integer","format":"int32"}},"title":"StateExceptionRS"},"TokenResponse":{"type":"object","properties":{"access_token":{"type":"string"},"error_description":{"type":"string"},"expires_in":{"type":"integer","format":"int32"},"scope":{"type":"string"},"token_type":{"type":"string"}},"title":"TokenResponse"},"Traveller":{"type":"object","properties":{"birthDate":{"type":"string","example":"yyyy-MM-dd"},"email":{"type":"string","example":"fred@gmail.com","description":"The email of the traveller. Currently only used for transfers."},"givenName":{"type":"string"},"surname":{"type":"string"},"telephone":{"type":"string","example":"0414555666","description":"The telephone numnber of the person.  Currently only used for transfers."},"title":{"type":"string"}},"title":"Traveller"},"TravellerMix":{"type":"object","required":["adultCount","childAges"],"properties":{"adultCount":{"type":"integer","format":"int32","description":"The number of adults over (and including) the age of 18"},"childAges":{"type":"array","description":"The ages of the children (the number is given by the number of ages provided","items":{"type":"integer","format":"int32"}}},"title":"TravellerMix"},"View":{"type":"object","properties":{"contentType":{"type":"string"}},"title":"View"},"Zone":{"type":"object","properties":{"name":{"type":"string","xml":{"name":"name","attribute":true,"wrapped":false}},"zoneCode":{"type":"string","xml":{"name":"zoneCode","attribute":true,"wrapped":false}}},"title":"Zone","xml":{"name":"zone","attribute":false,"wrapped":false}},"Zones":{"type":"object","properties":{"zone":{"type":"array","items":{"$ref":"#/definitions/Zone"}}},"title":"Zones","xml":{"name":"zones","attribute":false,"wrapped":false}}}}