{
  "openapi": "3.0.0",
  "info": {
    "title": "TravelDesk Agent API",
    "description": "![AGENT API](https://tdms.websitetravel.com/images/api-hero-banner.jpg)\n\n# Agent API\n**Sell travel through your website / platform via our simple Agent API**\n\n---\n\n## Overview\n\nTravelDesk represents over 3,300 Tourism Operators; listing more than 6,500 activities, tours, accommodation and transport options across Australasia. TravelDesk is technology designed to facilitate transactions between agents and operators.\n\nThe Agent API is for businesses wanting to on-sell tours, activities and accommodation through their own website or internal reservation platform.\n\nVia the API we seamlessly connect your:\n\n**Your Systems:**\n- Website\n- App  \n- Control Management System (CMS)\n- Property Management System (PMS)\n- Reservation system\n- Booking platform\n\n**With Our Services:**\n- Excellent wholesale rates\n- Up to date content\n- Product images\n- Live availability\n- Booking and confirmation\n- Thousands of experiences\n\n## Integration Process\n\n### 🔐 GET ACCESS\nView our published API documentation.\nRequest the login credentials and get access to the API and our test server.\n\n### 🛠️ DEVELOP & TEST\nConsume our Agent API directly into your platform/site/app.\nApproximate development time for a simple integration has been within 10 days followed by testing.\n\n### 🚀 TEST & RELEASE\nShared media release and subsequent campaign to promote the new connection to relevant stakeholders.\n\n## Environments\n- **Test**: https://tdmstest.websitetravel.com\n- **Production**: https://tdms.websitetravel.com\n\n## Data Format\nThe API accepts requests and returns responses in **JSON format only**! All incoming requests must have an `Accept: application/json` header. An error message with a 406 HTTP status code will be returned if this is omitted.\n\n## Authentication\nThe WebsiteTravel API uses **OAuth2 authentication**. To acquire a token, call the `POST /apiv1/token` route, including the client_id and client_secret provided to you by WebsiteTravel upon signup.\nThis token should then be included in every subsequent request.\n\n## Products\n### Basics\nThe Product database can be searched using the `GET /apiv1/products` method. Each Product will have one or more fares associated with it. The primary key of a fare is the `productPricesDetailsId` field. Most methods in our API take the ID of a fare as parameters, rather than a Product.\n\n### Caching Products\nSome developers prefer to cache a list of Website Travel products in order to reduce the number of queries that they make to the Website Travel API. To support this we provide a `GET /apiv1/product/lastupdate` method, which can be used to check whether any changes have been made to the product since you retrieved it from the API.\n\n## Packages\nProducts with productClass 'Z' are packages. Each of the components of the package is known as an 'option'. An option contains one or more Products; when it contains more than one Product, the customer can choose between these Products. You can use the `GET /apiv1/package` method to find out what options are in a package.\n\n## Live Availability\nSome of our Fares support live availability querying. These Products can be identified because the `bookingSystem` field will not be null. You can find out what time slots the Product has by calling `GET /bookingdetails`.\n\n\n## Placing an Order\nThe first step of placing an order is to generate a booking reference by calling POST /bookingreference. You should then include this when you call POST /order. If order submission fails for any reason, you will need to generate a new booking reference before you resubmit the order.\n\nThe POST /order method takes a paymentMethod parameter. The available payment methods vary between agents. You can see what payment methods you have access to by looking at /paymentmethods.\n        \n\n### Order Placement Workflows\n\nThe API supports two distinct order placement workflows depending on your payment processing needs:\n\n#### 🏪 Offline Payment Workflow (Simple)\nFor cash, bank transfer, or external payment processing:\n\n1. `POST /apiv1/bookingreference` - Generate booking reference\n2. `GET /apiv1/referralsources` - Get referral options *(optional - depends on reseller)*\n3. `GET /apiv1/agent/paymentmethods` - Get payment methods\n4. `POST /apiv1/validateCart` - Validate cart before submission\n5. `POST /apiv1/order` - Submit order directly (`processAsQuote: false`)\n\n#### 💳 Online Payment Workflow (Full)\nFor credit card processing via payment gateway:\n\n1. `POST /apiv1/bookingreference` - Generate booking reference  \n2. `GET /apiv1/referralsources` - Get referral options *(optional - depends on reseller)*\n3. `GET /apiv1/agent/paymentmethods` - Get online payment methods\n4. `POST /apiv1/validateCart` - Validate cart before submission\n5. `POST /apiv1/order` - Create quote (`processAsQuote: true`)\n6. `GET /apiv1/validateQuote` - Validate quote integrity\n7. `GET /apiv1/pgw/authenticate` - Get payment gateway URL\n8. `POST /apiv1/order/{bookingReference}/convertQuote` - Convert to order after payment\n\n### Important Notes\n- Always validate cart contents before order submission\n- Use unique booking references for each order attempt\n- Online payments require quote-to-order conversion after successful payment\n- If order submission fails, generate a new booking reference before retry\n- **Referral sources are optional** - depends on reseller configuration; if no referral sources are available, skip step 2 and omit referralSourceId from order submission\n\n### 📊 Interactive Workflow Documentation\n**[View Visual Flowcharts →](/api/workflows/order-placement)**\n\n## Payment Gateway\nWebsite Travel provides an online credit card payment facility known as the Payment Gateway. Some configuration is required before you can use the Payment Gateway; please contact Website Travel to arrange for this to happen.\n\nTo use the Payment Gateway, you should call POST /pgw/authenticate to obtain a payment URL, and then redirect the user to this page so that they can fill in their card details. Please note that you are only permitted to make one payment per order through the Payment Gateway.\n\nThis API method takes a returnUrl parameter, and you will receive a GET request on this URI once the payment has been processed. The request will include a cmsgw_TxnResponseCode parameter - a value of 0 indicates that the payment was successful, while any other value indicates that an error occurred.\n\n\n## Support\nIf you have any queries about this API, please contact **api@websitetravel.com**.\n\n---\n\n**Start exploring the API endpoints below** ⬇️\n",
    "contact": {
      "name": "API Support",
      "email": "api@websitetravel.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://tdms.websitetravel.com",
      "description": "Production Server"
    },
    {
      "url": "https://tdmstest03.websitetravel.com",
      "description": "Test Server"
    },
    {
      "url": "http://tdms.localhost",
      "description": "Development Server"
    }
  ],
  "paths": {
    "/apiv1/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get OAuth access token",
        "description": "Obtain an OAuth token for API authentication using client credentials flow. This token must be included in all subsequent API requests as either a query parameter (?access_token=TOKEN) or Authorization header (Authorization: Bearer TOKEN).",
        "operationId": "post_tdms_api_v1_gettoken",
        "requestBody": {
          "description": "Client credentials for token generation. Can be sent as JSON or form-encoded data.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "client_id",
                  "client_secret"
                ],
                "properties": {
                  "client_id": {
                    "description": "Your assigned client ID",
                    "type": "string",
                    "example": "333_YourAgent"
                  },
                  "client_secret": {
                    "description": "Your assigned client secret",
                    "type": "string",
                    "example": "9ak0onc2ccw8wwo0c8ww84s4cokowk4wk4coog4ko0ocswok0"
                  }
                },
                "type": "object"
              },
              "example": {
                "client_id": "333_YourAgent",
                "client_secret": "9ak0onc2ccw8wwo0c8ww84s4cokowk4wk4coog4ko0ocswok0"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "client_id",
                  "client_secret"
                ],
                "properties": {
                  "client_id": {
                    "description": "Your assigned client ID",
                    "type": "string"
                  },
                  "client_secret": {
                    "description": "Your assigned client secret",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token successfully generated",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "access_token": {
                      "description": "OAuth access token to use in subsequent requests",
                      "type": "string",
                      "example": "MGZhMTQ0NmNkMGJhOGExMWYyMTU0NjJiYjljY2MzOWEwZjRhNmNmMjRkMDcwMTMyMzA3YzVhYWI4MTIzZWI3MA"
                    },
                    "expires_in": {
                      "description": "Token expiration time in seconds",
                      "type": "integer",
                      "example": 3600
                    },
                    "token_type": {
                      "description": "Token type (always \"bearer\")",
                      "type": "string",
                      "example": "bearer"
                    },
                    "scope": {
                      "description": "Token scope permissions",
                      "type": "string",
                      "example": "api"
                    }
                  },
                  "type": "object"
                },
                "example": {
                  "access_token": "MGZhMTQ0NmNkMGJhOGExMWYyMTU0NjJiYjljY2MzOWEwZjRhNmNmMjRkMDcwMTMyMzA3YzVhYWI4MTIzZWI3MA",
                  "expires_in": 3600,
                  "token_type": "bearer",
                  "scope": "api"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing Content-Type header, invalid request format, or missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "invalid_request"
                    },
                    "error_description": {
                      "type": "string",
                      "example": "Missing client_id parameter"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid client credentials",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "invalid_client"
                    },
                    "error_description": {
                      "type": "string",
                      "example": "Client authentication failed"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - missing Content-Type header will return HTTP 500",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "server_error"
                    },
                    "error_description": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/apiv1/agent/paymentmethods": {
      "get": {
        "tags": [
          "Order Placement"
        ],
        "summary": "Get available payment methods",
        "description": "Get a list of payment methods that the agent supports. Includes online payment configuration fields where this is enabled. This is typically the third step in the order placement workflow.\n\n**Request URL**: `GET /apiv1/agent/paymentmethods`\n\n**Authentication Required**: Yes - Bearer token in Authorization header\n\n**Usage in Order Flow**:\n1. Get booking reference (`POST /apiv1/bookingreference`)\n2. Get referral sources (`GET /apiv1/referralsources`) - optional\n3. **Get payment methods** (`GET /apiv1/agent/paymentmethods`) - this endpoint\n4. Validate cart (`POST /apiv1/validateCart`)\n5. Submit order (`POST /apiv1/order`)\n\n#### Response\n\n**Top Level Result Object**\n\n| Field name | Nullable | Type | Description |\n|------------|----------|------|-------------|\n| paymentMethods | n | Array (Objects) | Array of paymentMethod objects. |\n\n**paymentMethod Object**\n\n| Field name | Nullable | Type | Description |\n|------------|----------|------|-------------|\n| journalAccountId | n | Integer | ID of journal account/payment method. |\n| name | n | String | Human-readable name of payment method. |\n| code | n | String | API reference code of payment method (can be passed into POST /order). |\n| supportsOnlinePayment | n | boolean | Whether this payment method supports online payments taken via the Website Travel payment gateway. |\n| paymentReturnUrl | y | String | Hostname currently registered for payment attempt returnUrls. |",
        "operationId": "step3_getPaymentMethods",
        "responses": {
          "200": {
            "description": "List of available payment methods for the agent",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "paymentMethods": {
                      "description": "Array of available payment method objects",
                      "type": "array",
                      "items": {
                        "properties": {
                          "name": {
                            "description": "Payment method name",
                            "type": "string",
                            "example": "Agent On Credit"
                          },
                          "journalAccountId": {
                            "description": "Unique identifier for payment method",
                            "type": "integer",
                            "example": 6
                          },
                          "code": {
                            "description": "Payment method code",
                            "type": "string",
                            "example": "agent_on_credit"
                          },
                          "supportsOnlinePayment": {
                            "description": "Whether this method supports online payments via payment gateway",
                            "type": "boolean",
                            "example": false
                          },
                          "paymentReturnUrl": {
                            "description": "Hostname registered for payment return URLs",
                            "type": "string",
                            "example": ""
                          },
                          "isActive": {
                            "description": "Whether payment method is active (1=active, 0=inactive)",
                            "type": "string",
                            "example": "1"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                },
                "examples": {
                  "basic_request": {
                    "summary": "List available payment methods",
                    "description": "GET /apiv1/agent/paymentmethods - List available payment methods for the authenticated agent",
                    "value": {
                      "paymentMethods": [
                        {
                          "name": "Agent On Credit",
                          "journalAccountId": 6,
                          "code": "agent_on_credit",
                          "supportsOnlinePayment": false,
                          "paymentReturnUrl": "",
                          "isActive": "1"
                        }
                      ]
                    }
                  },
                  "multiple_payment_methods": {
                    "summary": "Multiple payment methods available",
                    "description": "GET /apiv1/agent/paymentmethods - Agent with multiple payment options including offline methods",
                    "value": {
                      "paymentMethods": [
                        {
                          "name": "Agent On Credit",
                          "journalAccountId": 6,
                          "code": "agent_on_credit",
                          "supportsOnlinePayment": false,
                          "paymentReturnUrl": "",
                          "isActive": "1"
                        },
                        {
                          "name": "Cash Payment",
                          "journalAccountId": 7,
                          "code": "cash",
                          "supportsOnlinePayment": false,
                          "paymentReturnUrl": "",
                          "isActive": "1"
                        },
                        {
                          "name": "Bank Transfer",
                          "journalAccountId": 8,
                          "code": "bank_transfer",
                          "supportsOnlinePayment": false,
                          "paymentReturnUrl": "",
                          "isActive": "1"
                        }
                      ]
                    }
                  },
                  "online_payment_enabled": {
                    "summary": "Agent with online payment gateway",
                    "description": "GET /apiv1/agent/paymentmethods - Agent with online payment gateway support enabled",
                    "value": {
                      "paymentMethods": [
                        {
                          "name": "Agent On Credit",
                          "journalAccountId": 6,
                          "code": "agent_on_credit",
                          "supportsOnlinePayment": false,
                          "paymentReturnUrl": "",
                          "isActive": "1"
                        },
                        {
                          "name": "Credit Card (Online)",
                          "journalAccountId": 25,
                          "code": "credit_card_online",
                          "supportsOnlinePayment": true,
                          "paymentReturnUrl": "https://youragency.com",
                          "isActive": "1"
                        },
                        {
                          "name": "PayPal",
                          "journalAccountId": 26,
                          "code": "paypal",
                          "supportsOnlinePayment": true,
                          "paymentReturnUrl": "https://youragency.com/return",
                          "isActive": "1"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Returned when the user is not authorized."
          }
        }
      }
    },
    "/apiv1/bookingreference": {
      "post": {
        "tags": [
          "Order Placement"
        ],
        "summary": "Obtain a booking reference",
        "description": "## Obtain a booking reference ##\n<p>\nObtain a booking reference, to be used when calling <code>POST /order</code>. Booking references are used to protected\nagainst double submission of orders, and a unique booking reference is required for each call to <code>POST /order</code>.\n</p>\n\n#### Response ####\n\n**Top Level Result Object**\n\n <table class=\"fullwidth\">\n     <thead>\n         <tr>\n             <th>Field name</th>\n             <th>Nullable</th>\n             <th>Type</th>\n             <th>Description</th>\n         </tr>\n     </thead>\n     <tbody>\n         <tr>\n             <td>bookingReference</td><td>n</td><td>String</td><td>Reference to be used on next Order submission.</td>\n         </tr>\n     </tbody>\n </table>",
        "operationId": "step1_getBookingReference",
        "responses": {
          "200": {
            "description": "Returned when successful."
          },
          "403": {
            "description": "Returned when the user is not authorized."
          },
          "400": {
            "description": "Returned when there is an issue with the data provided."
          }
        }
      }
    },
    "/apiv1/bookingdetails/{productPricesDetailsId}": {
      "get": {
        "tags": [
          "Availability and Pricing - Booking system based Live Availability"
        ],
        "summary": "Get booking details for a fareprice",
        "description": "Get lists of booking times, pickup locations and optional fields to be used when making a booking for the fareprice. Also provides some basic contact details for the supplier. Examples: GET /apiv1/bookingdetails/20322250, GET /apiv1/bookingdetails/17602092\n\n#### Response\n\n**Top Level Result Object**\n\n| Field name | Nullable | Type | Description |\n|------------|----------|------|-------------|\n| bookingTimes | y | Array (Objects) | Array of bookingTime objects. |\n| pickupLocations | y | Array (Objects) | Array of pickupLocation objects. |\n| optionalFields | y | Array (Objects) | Array of optionalField objects |\n| supplier | y | Object | Supplier object. |\n| imagePath | n | String | Full URL of product thumbnail. |\n\n**bookingTime Object**\n\nA booking time indicates a time slot for which a booking may be made (eg \"11am\", \"2pm\"). You will need to pass the desired booking time into the `GET /checkavailabilityrange` method to find out whether the product can be booked for your preferred dates, and into `POST /order` when you place the order.\n\n| Field name | Nullable | Type | Description |\n|------------|----------|------|-------------|\n| BookingTimeID | n | String | Booking Time ID used by booking system. |\n| BookingTime | n | String | Time of Booking as returned from the booking system. May or may not be an actual time (for example, an accommodation product doesn't have the concept of separate times so it might return a string like \"Daily availability\"). |\n| Default | y | Boolean | Indicates that this Booking Time is the default for the fareprice. This may be used by products that only have one booking time, and indicates that it is not necessary to display the time to the user. For example, when booking an accommodation product you can assume that the customer wants to use the default 'time', without having to ask them. |\n\n**pickupLocation Object**\n\nA pickup location gives a time and location where a customer may request to be picked up from. If the product's supplier does not provide pickups, the array of pickup locations will be empty. Where this service is provided, you will need to pass information about your chosen pickup location into `POST /order`.\n\n| Field name | Nullable | Type | Description |\n|------------|----------|------|-------------|\n| PickupID | n | String | ID of Pickup used by booking. |\n| PickupTime | y | String | Time of Pickup. |\n| PickupLocation | n | String | Pickup location text. |\n\n**optionalField Object**\n\nAn optional field may be used by the supplier to request some additional information about the booking, for example dietary requirements. If the product does not have any optional fields, this array will be empty. Where optional fields are specified, you should collect this information from the customer and pass it into `POST /order`.\n\n| Field name | Nullable | Type | Description |\n|------------|----------|------|-------------|\n| optionalFieldId | n | Integer | Unique ID of the Optional field |\n| title | n | String | Title of optional field |\n\n**supplier Object**\n\nThe supplier object contains contact details for the product's supplier.\n\n| Field name | Nullable | Type | Description |\n|------------|----------|------|-------------|\n| name | n | String | Name of Supplier. |\n| phone | y | String | Phone number of Supplier. |\n| freePhone | y | String | Alternate phone number of Supplier. |\n\n#### Requirements\n\n| Name | Type | Description |\n|------|------|-------------|\n| productPricesDetailsId | integer | The Product Price Details ID of the fareprice. |\n\n#### Status Codes\n\n| Status Code | Description |\n|-------------|-------------|\n| [200](http://en.wikipedia.org/wiki/HTTP_200) | • Returned when successful. |\n| [400](http://en.wikipedia.org/wiki/HTTP_400) | • Returned when the fareprice does not support live availability. |\n| [403](http://en.wikipedia.org/wiki/HTTP_403) | • Returned when the user is not authorized. |\n| [404](http://en.wikipedia.org/wiki/HTTP_404) | • Returned when the fareprice does not exist. |\n| [500](http://en.wikipedia.org/wiki/HTTP_500) | • Returned when invalid combination of parameters is issued. |",
        "operationId": "get_tdms_api_v1_getbookingdetails",
        "parameters": [
          {
            "name": "productPricesDetailsId",
            "in": "path",
            "description": "ID of the product price details",
            "required": true,
            "schema": {
              "type": "integer",
              "pattern": "^\\d+$"
            },
            "example": 20322250
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "content": {
              "application/json": {
                "schema": [],
                "examples": {
                  "kgari-swag-adventures": {
                    "summary": "K'gari Swag Adventures with pickup locations",
                    "description": "GET /apiv1/bookingdetails/20322250 - K'gari Swag Adventures tour with pickup locations",
                    "value": {
                      "bookingTimes": [
                        {
                          "BookingTimeID": 1,
                          "BookingTime": "Daily availability",
                          "Default": true
                        }
                      ],
                      "pickupLocations": [
                        {
                          "PickupID": "NNO",
                          "PickupLocation": "Nomads Noosa Backpackers",
                          "PickupTime": "06:30"
                        },
                        {
                          "PickupID": "RAI",
                          "PickupLocation": "Premier Bus Stop, Spectrum Street, Rainbow Beach",
                          "PickupTime": "09:15"
                        }
                      ],
                      "supplier": {
                        "name": "K'gari Swag Adventures (TAG)",
                        "phone": "+610730413256",
                        "freePhone": ""
                      },
                      "optionalFields": [],
                      "imagePath": "https://cms.websitetravel.com/upload/sm/66eb9468a8538_8929_75-mile-beach.jpg",
                      "autoCheckPackageDates": false
                    }
                  },
                  "dingo-adventure": {
                    "summary": "Dingo Adventure with mandatory fields",
                    "description": "GET /apiv1/bookingdetails/17602092 - AAG Dingos K'gari Adventures with mandatory customer details",
                    "value": {
                      "bookingTimes": [
                        {
                          "BookingTime": "07:00 AM",
                          "BookingTimeID": "07_00_00",
                          "Default": true
                        }
                      ],
                      "pickupLocations": [],
                      "supplier": {
                        "name": "AAG - Dingos K'gari Adventures",
                        "phone": "1800 111 126",
                        "freePhone": ""
                      },
                      "optionalFields": [
                        {
                          "commonName": "Mobile",
                          "optionalFieldId": "MobilePhone",
                          "title": "Mobile Phone",
                          "mandatory": true,
                          "type": "text",
                          "options": [],
                          "apiName": ""
                        },
                        {
                          "commonName": "Age",
                          "optionalFieldId": "Age",
                          "title": "Age",
                          "mandatory": true,
                          "type": "text",
                          "options": [],
                          "apiName": ""
                        },
                        {
                          "commonName": "Dietary",
                          "optionalFieldId": "DietaryRequirements",
                          "title": "Dietary Requirements",
                          "mandatory": true,
                          "type": "text",
                          "options": [],
                          "apiName": ""
                        }
                      ],
                      "imagePath": "https://api.websitetravel.com/upload/sm/5cc64eac572bc_2772_elicreek-copy2.jpg",
                      "autoCheckPackageDates": false
                    }
                  },
                  "skydive-airlie-beach": {
                    "summary": "Skydiving with multiple time slots and restrictions",
                    "description": "GET /apiv1/bookingdetails/9487875 - SKYONE Airlie Beach with multiple booking times and customer restrictions",
                    "value": {
                      "bookingTimes": [
                        {
                          "BookingTime": "07:00 AM",
                          "BookingTimeID": "07:00:00",
                          "Default": false
                        },
                        {
                          "BookingTime": "08:00 AM",
                          "BookingTimeID": "08:00:00",
                          "Default": false
                        },
                        {
                          "BookingTime": "09:00 AM",
                          "BookingTimeID": "09:00:00",
                          "Default": false
                        },
                        {
                          "BookingTime": "10:00 AM",
                          "BookingTimeID": "10:00:00",
                          "Default": false
                        },
                        {
                          "BookingTime": "12:00 PM",
                          "BookingTimeID": "12:00:00",
                          "Default": false
                        },
                        {
                          "BookingTime": "01:00 PM",
                          "BookingTimeID": "13:00:00",
                          "Default": false
                        }
                      ],
                      "pickupLocations": [],
                      "supplier": {
                        "name": "SKYONE Airlie Beach",
                        "phone": "07 4838 4040",
                        "freePhone": "1300 759 348"
                      },
                      "optionalFields": [
                        {
                          "commonName": "Mobile",
                          "optionalFieldId": 709821,
                          "title": "Mobile",
                          "mandatory": false,
                          "type": "text",
                          "options": [],
                          "apiName": ""
                        },
                        {
                          "commonName": null,
                          "optionalFieldId": 771266,
                          "title": "Anyone 95kg or more?  Surcharge applies (Max 115kg)",
                          "mandatory": true,
                          "type": "select",
                          "options": [
                            "No",
                            "Yes",
                            "Unknown"
                          ],
                          "apiName": ""
                        },
                        {
                          "commonName": null,
                          "optionalFieldId": 3323427,
                          "title": "Must be 16 years old",
                          "mandatory": true,
                          "type": "select",
                          "options": [
                            "Everyone is over 18",
                            "Someone is between 16 - 18",
                            "Unknown"
                          ],
                          "apiName": ""
                        }
                      ],
                      "imagePath": "https://cms.websitetravel.com/upload/sm/607d0b108875f_8225_gh0117756386844289009000.jpg",
                      "autoCheckPackageDates": false
                    }
                  },
                  "bruny-island-comprehensive": {
                    "summary": "Bruny Island Safari with extensive pickup network",
                    "description": "GET /apiv1/bookingdetails/13693690 - Bruny Island Safaris with comprehensive pickup locations across Hobart",
                    "value": {
                      "bookingTimes": [
                        {
                          "BookingTime": "07:00 AM",
                          "BookingTimeID": "07:00:00",
                          "Default": false
                        }
                      ],
                      "pickupLocations": [
                        {
                          "PickupID": "Brooke Street Pier Bus Zone",
                          "PickupLocation": "Brooke Street Pier Bus Zone, Brooke Street Pier Bus Zone, Hobart TAS, Australia, at: 07:02 AM",
                          "PickupTime": "07:02 AM"
                        },
                        {
                          "PickupID": "Bruny Island Cheese Company",
                          "PickupLocation": "Bruny Island Cheese Company, Bruny Island Cheese Company, 1807 Bruny Island Main Rd, Great Bay TAS, Australia, at: 08:30 AM",
                          "PickupTime": "08:30 AM"
                        },
                        {
                          "PickupID": "Bruny Island Safaris Office",
                          "PickupLocation": "Bruny Island Safaris Office, Bruny Island Safaris, 22A Maxwells Road, Cambridge TAS, Australia, at: 06:30 AM",
                          "PickupTime": "06:30 AM"
                        },
                        {
                          "PickupID": "Default meeting point - Tasmanian Travel and Information Centre",
                          "PickupLocation": "Default meeting point - Tasmanian Travel and Information Centre, Tasmanian Travel and Information Centre, 20 Davey Street, Hobart TAS, Australia, at: 07:00 AM",
                          "PickupTime": "07:00 AM"
                        },
                        {
                          "PickupID": "Wrest Point",
                          "PickupLocation": "Wrest Point, Wrest Point, Drysdale Pl, Sandy Bay TAS 7005, Australia, at: 07:20 AM",
                          "PickupTime": "07:20 AM"
                        }
                      ],
                      "supplier": {
                        "name": "Bruny Island Safaris",
                        "phone": "0361443045",
                        "freePhone": ""
                      },
                      "optionalFields": [
                        {
                          "commonName": null,
                          "optionalFieldId": 2290716,
                          "title": "Dietary/Allergy Requirements",
                          "mandatory": false,
                          "type": "select",
                          "options": [
                            "Yes - Please advise ",
                            "No"
                          ],
                          "apiName": ""
                        },
                        {
                          "commonName": "Mobile",
                          "optionalFieldId": 721897,
                          "title": "Mobile",
                          "mandatory": true,
                          "type": "text",
                          "options": [],
                          "apiName": ""
                        },
                        {
                          "commonName": "Country",
                          "optionalFieldId": 721892,
                          "title": "Country",
                          "mandatory": true,
                          "type": "text",
                          "options": [],
                          "apiName": ""
                        },
                        {
                          "commonName": "State",
                          "optionalFieldId": 721878,
                          "title": "State/County/Region",
                          "mandatory": true,
                          "type": "text",
                          "options": [],
                          "apiName": ""
                        }
                      ],
                      "imagePath": "https://api.websitetravel.com/upload/sm/664e89cf51df7_2008_neckbrunyislandsafaris202318.jpg",
                      "autoCheckPackageDates": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Returned when the fareprice does not support live availability."
          },
          "403": {
            "description": "Returned when the user is not authorized."
          },
          "404": {
            "description": "Returned when the fareprice does not exist."
          },
          "500": {
            "description": "Returned when invalid combination of parameters is issued."
          }
        }
      }
    },
    "/apiv1/categories/{type}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get a list of categories of a given type",
        "description": "## Get a list of categories of a given type ##\n\n<p>\nGet a list of categories that belong to the given category type.  The IDs of these categories can then be passed\ninto <code>GET /products</code> to get a list of products which belong to those categories. For example, to get\na list of all dorm-style accommodation in Brisbane, you would find the region category ID for \"Brisbane\" and the\naccommodation category for \"dorms\" and use these as filters for <code>GET /products</code>.\n</p>\n<p>\nThere are four category types that tell you where a product is - <span class=\"bold\">country</span>, <span\nclass=\"bold\">state</span>, <span class=\"bold\">region</span> and <span class=\"bold\">locality</span>. These\ncategories are hierarchical - each state belongs to a country.  However, it is possible to \"skip\" layers in the\nhierarchy, so a region or a locality may belong directly to a country.  If you want to see a list of all\nlocalities for a country, you should use the 'countries' parameter rather than finding all the regions for that\ncountry and passing them in as the 'regions' parameter.\n</p>\n<p>\nThere are also four other category types that give you more information type of product. Each product belongs to\na <span class=\"bold\">productclass</span>, which divides the products up into groups such as transport, day activity,\nmerchandise or accommodation. Products may also have multiple <span class=\"bold\">accommodation</span>, <span\nclass=\"bold\">transport</span> and <span class=\"bold\">activity</span> types. In the case of these last three\ncategories, you can use this method to find out what types of accommodation/transport/activities are available in\na geographic area - for example, you can call <code>GET /categories/activities?locality=123</code> to find out\nwhat types of activities can be purchased in locality 123.\n</p>\n\n#### Response ####\n\n**Top Level Result Object**\n\n <table class=\"fullwidth\">\n     <thead>\n         <tr>\n             <th>Field name</th>\n             <th>Nullable</th>\n             <th>Type</th>\n             <th>Description</th>\n         </tr>\n     </thead>\n     <tbody>\n         <tr>\n             <td>results</td><td>n</td><td>Array (Objects)</td><td>Array of Category objects.</td>\n         </tr>\n     </tbody>\n </table>\n\n**Category**\n\n <table class=\"fullwidth\">\n     <thead>\n         <tr>\n             <th>Field name</th>\n             <th>Nullable</th>\n             <th>Type</th>\n             <th>Description</th>\n         </tr>\n     </thead>\n     <tbody>\n         <tr>\n             <td>id</td><td>n</td><td>Integer</td><td>ID of Category.</td>\n         </tr>\n         <tr>\n             <td>text</td><td>n</td><td>String</td><td>Name of Category.</td>\n         </tr>\n     </tbody>\n </table>",
        "operationId": "get_tdms_api_v1_getcategories",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Type of category to retrieve. Available types and example requests:\n                \n**countries** - `GET /apiv1/categories/countries?term=Aust`  \n**states** - `GET /apiv1/categories/states?countries=20`  \n**regions** - `GET /apiv1/categories/regions?states=24`  \n**localities** - `GET /apiv1/categories/localities?regions=65`  \n**activities** - `GET /apiv1/categories/activities`  \n**accommodation** - `GET /apiv1/categories/accommodation`  \n**transport** - `GET /apiv1/categories/transport`  \n**productclasses** - `GET /apiv1/categories/productclasses`",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "countries",
                "states",
                "regions",
                "localities",
                "activities",
                "accommodation",
                "transport",
                "productclasses"
              ],
              "example": "countries"
            }
          },
          {
            "name": "term",
            "in": "query",
            "description": "Limit the returned results to those matching partially the term provided.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "sydney"
          },
          {
            "name": "countries",
            "in": "query",
            "description": "Limit results to Countries. Format is comma delimited Country IDs.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "100001,100002"
          },
          {
            "name": "states",
            "in": "query",
            "description": "Limit results to States. Format is comma delimited State IDs.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "200001,200002"
          },
          {
            "name": "regions",
            "in": "query",
            "description": "Limit results to Regions. Format is comma delimited Region IDs.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "300001,300002"
          },
          {
            "name": "locality",
            "in": "query",
            "description": "Limit results to Localities. Format is comma delimited Locality IDs.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "400001,400002"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 100001
                          },
                          "text": {
                            "type": "string",
                            "example": "Australia"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                },
                "examples": {
                  "countries_example": {
                    "summary": "Get countries with optional filter",
                    "description": "GET /apiv1/categories/countries?term=Aust - Get a list of available countries, filtered (optionally) by \"Aust\"",
                    "value": {
                      "results": [
                        {
                          "id": 20,
                          "text": "Australia"
                        }
                      ]
                    }
                  },
                  "states_example": {
                    "summary": "Get states filtered by countries",
                    "description": "GET /apiv1/categories/states?countries=20 - Get a list of available states, filtered by countries",
                    "value": {
                      "results": [
                        {
                          "id": 31,
                          "text": "Australian Capital Territory"
                        },
                        {
                          "id": 24,
                          "text": "New South Wales"
                        },
                        {
                          "id": 28,
                          "text": "Northern Territory"
                        },
                        {
                          "id": 29,
                          "text": "Queensland"
                        },
                        {
                          "id": 26,
                          "text": "South Australia"
                        },
                        {
                          "id": 30,
                          "text": "Tasmania"
                        },
                        {
                          "id": 25,
                          "text": "Victoria"
                        },
                        {
                          "id": 27,
                          "text": "Western Australia"
                        }
                      ]
                    }
                  },
                  "regions_example": {
                    "summary": "Get regions filtered by states",
                    "description": "GET /apiv1/categories/regions?states=24 - Get regions within New South Wales",
                    "value": {
                      "results": [
                        {
                          "id": 65,
                          "text": "Sydney"
                        },
                        {
                          "id": 109,
                          "text": "Blue Mountains"
                        },
                        {
                          "id": 110,
                          "text": "Hunter Valley"
                        },
                        {
                          "id": 111,
                          "text": "Central Coast"
                        },
                        {
                          "id": 112,
                          "text": "Snowy Mountains"
                        }
                      ]
                    }
                  },
                  "localities_example": {
                    "summary": "Get localities (cities/towns)",
                    "description": "GET /apiv1/categories/localities?regions=65 - Get cities and towns within Sydney region",
                    "value": {
                      "results": [
                        {
                          "id": 636,
                          "text": "Sydney CBD"
                        },
                        {
                          "id": 637,
                          "text": "Darling Harbour"
                        },
                        {
                          "id": 638,
                          "text": "Circular Quay"
                        },
                        {
                          "id": 639,
                          "text": "Bondi Beach"
                        },
                        {
                          "id": 640,
                          "text": "Manly"
                        }
                      ]
                    }
                  },
                  "productclasses_example": {
                    "summary": "Get all product classes",
                    "description": "GET /apiv1/categories/productclasses - Get a list of available product classes",
                    "value": {
                      "results": [
                        {
                          "id": 525,
                          "text": "Activity"
                        },
                        {
                          "id": 526,
                          "text": "Merchandise"
                        },
                        {
                          "id": 527,
                          "text": "Accommodation"
                        },
                        {
                          "id": 531,
                          "text": "Transport"
                        },
                        {
                          "id": 532,
                          "text": "Free Product"
                        },
                        {
                          "id": 543,
                          "text": "Miscellaneous Product"
                        },
                        {
                          "id": 544,
                          "text": "Variable Price Product"
                        },
                        {
                          "id": 546,
                          "text": "Package"
                        },
                        {
                          "id": 597,
                          "text": "Tour Product"
                        },
                        {
                          "id": 618,
                          "text": "Variable Price Product (No API)"
                        }
                      ]
                    }
                  },
                  "accommodation_example": {
                    "summary": "Get accommodation types",
                    "description": "GET /apiv1/categories/accommodation - Get a list of available accommodation types",
                    "value": {
                      "results": [
                        {
                          "id": 4378,
                          "text": "Apartment"
                        },
                        {
                          "id": 8036,
                          "text": "Beach House"
                        },
                        {
                          "id": 8088,
                          "text": "Boat"
                        },
                        {
                          "id": 6366,
                          "text": "Bungalow"
                        },
                        {
                          "id": 4379,
                          "text": "Cabins"
                        },
                        {
                          "id": 8030,
                          "text": "Camping"
                        },
                        {
                          "id": 8090,
                          "text": "Desert Camp"
                        },
                        {
                          "id": 4380,
                          "text": "Dorms"
                        },
                        {
                          "id": 4381,
                          "text": "Double/Twin"
                        },
                        {
                          "id": 4382,
                          "text": "Farm Stay"
                        },
                        {
                          "id": 8657,
                          "text": "Glamping"
                        },
                        {
                          "id": 8087,
                          "text": "Homestay"
                        },
                        {
                          "id": 8089,
                          "text": "Hotel"
                        },
                        {
                          "id": 8658,
                          "text": "Safari Lodge"
                        },
                        {
                          "id": 4383,
                          "text": "Single"
                        },
                        {
                          "id": 8086,
                          "text": "Sleeper Train"
                        },
                        {
                          "id": 4384,
                          "text": "Suite"
                        },
                        {
                          "id": 5221,
                          "text": "Tent"
                        },
                        {
                          "id": 4385,
                          "text": "Triple"
                        },
                        {
                          "id": 4386,
                          "text": "Villa"
                        }
                      ]
                    }
                  },
                  "activities_example": {
                    "summary": "Get activity categories",
                    "description": "GET /apiv1/categories/activities - Get a list of available activity categories",
                    "value": {
                      "results": [
                        {
                          "id": 4300,
                          "text": "Adventure Tours"
                        },
                        {
                          "id": 4301,
                          "text": "Cultural Tours"
                        },
                        {
                          "id": 4302,
                          "text": "Food & Wine"
                        },
                        {
                          "id": 4303,
                          "text": "Wildlife"
                        },
                        {
                          "id": 4304,
                          "text": "Water Sports"
                        },
                        {
                          "id": 4305,
                          "text": "City Tours"
                        },
                        {
                          "id": 4306,
                          "text": "Day Trips"
                        }
                      ]
                    }
                  },
                  "transport_example": {
                    "summary": "Get transport types",
                    "description": "GET /apiv1/categories/transport - Get a list of available transport types",
                    "value": {
                      "results": [
                        {
                          "id": 7001,
                          "text": "Bus Transfer"
                        },
                        {
                          "id": 7002,
                          "text": "Private Car"
                        },
                        {
                          "id": 7003,
                          "text": "Shuttle Service"
                        },
                        {
                          "id": 7004,
                          "text": "Ferry"
                        },
                        {
                          "id": 7005,
                          "text": "Flight"
                        },
                        {
                          "id": 7006,
                          "text": "Train"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Returned when the user is not authorized."
          },
          "400": {
            "description": "Returned on an invalid request."
          }
        }
      }
    },
    "/apiv1/category/{categoryIds}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get categories by ID",
        "description": "## Get categories by ID ##\n\n<p>\nRetrieves one or more categories by their ID.  The output is the same as for <code>GET /categories</code>.\n</p>",
        "operationId": "get_tdms_api_v1_getcategory",
        "parameters": [
          {
            "name": "categoryIds",
            "in": "path",
            "description": "Comma separated list of IDs of Categories to return.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful."
          },
          "404": {
            "description": "No matching categories found."
          },
          "403": {
            "description": "Returned when the user is not authorized."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/apiv1/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Search products",
        "description": "Search for travel products using various filters including name, location, categories, and date ranges. Results can be sorted and paginated.",
        "operationId": "get_tdms_api_v1_searchproducts",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Returns all Products which match a given set of keywords. Multiple keywords can be separated with spaces (e.g. 'sailing Whitsundays') and only Products which match all of the keywords will be returned.",
            "schema": {
              "type": "string",
              "example": "kayak tour"
            }
          },
          {
            "name": "supplier",
            "in": "query",
            "description": "Returns all Products which belong to a given set of Suppliers. Multiple Suppliers can be included in one query using a comma-separated list of IDs. Refer GET /suppliers",
            "schema": {
              "type": "string",
              "example": "1,2,3"
            }
          },
          {
            "name": "packages",
            "in": "query",
            "description": "Limits the search to packages. You may pass in keywords as per the 'name' parameter, which will limit the search to packages which match that keyword. Alternatively, you can use the 'packages' parameter without a value ('packages=') and use the other filter parameters to limit your search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countries",
            "in": "query",
            "description": "Comma-separated list of Country IDs. Refer GET /categories/countries",
            "schema": {
              "type": "string",
              "example": "1,2"
            }
          },
          {
            "name": "states",
            "in": "query",
            "description": "Comma-separated list of State IDs. Refer GET /categories/states",
            "schema": {
              "type": "string",
              "example": "5,10"
            }
          },
          {
            "name": "regions",
            "in": "query",
            "description": "Comma-separated list of Region IDs. Refer GET /categories/regions",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "localities",
            "in": "query",
            "description": "Comma-separated list of Locality IDs. A locality is a town, city or suburb within a region. Refer GET /categories/locality",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accommodation",
            "in": "query",
            "description": "Comma-separated list of Accommodation Type IDs. Refer GET /categories/accommodation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Comma-separated list of Activity Type IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transport",
            "in": "query",
            "description": "Comma-separated list of Transport Type IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productclass",
            "in": "query",
            "description": "Comma-separated list of Product Class IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minLat",
            "in": "query",
            "description": "Limit results to products north of this latitude.",
            "schema": {
              "type": "number",
              "format": "float",
              "example": -33.8688
            }
          },
          {
            "name": "maxLat",
            "in": "query",
            "description": "Limit results to products south of this latitude.",
            "schema": {
              "type": "number",
              "format": "float",
              "example": -33.85
            }
          },
          {
            "name": "minLng",
            "in": "query",
            "description": "Limit results to products east of this longitude.",
            "schema": {
              "type": "number",
              "format": "float",
              "example": 151.2093
            }
          },
          {
            "name": "maxLng",
            "in": "query",
            "description": "Limit results to products west of this longitude.",
            "schema": {
              "type": "number",
              "format": "float",
              "example": 151.22
            }
          },
          {
            "name": "travelStart",
            "in": "query",
            "description": "Limit results to products with fares available on or after this date (YYYY-MM-DD format).",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-06-01"
            }
          },
          {
            "name": "travelEnd",
            "in": "query",
            "description": "Limit results to products with fares available on or before this date (YYYY-MM-DD format).",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-12-31"
            }
          },
          {
            "name": "duration",
            "in": "query",
            "description": "Length of trip in days",
            "schema": {
              "type": "integer",
              "example": 7
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort results by",
            "schema": {
              "type": "string",
              "enum": [
                "rrp",
                "name",
                "ranking"
              ],
              "example": "name"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "asc"
            }
          },
          {
            "name": "records-start",
            "in": "query",
            "description": "Position of first result to return (for pagination).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "example": 0
            }
          },
          {
            "name": "records-length",
            "in": "query",
            "description": "Number of results to return (max 100).",
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "example": 20
            }
          },
          {
            "name": "shortSearch",
            "in": "query",
            "description": "Return shortened results without fare information for faster response.",
            "schema": {
              "type": "boolean",
              "example": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product search results",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "totalRecords": {
                      "description": "Total number of matching records in database",
                      "type": "string"
                    },
                    "fetchedRecords": {
                      "description": "Number of records returned in this response",
                      "type": "integer"
                    },
                    "totalDisplayRecords": {
                      "description": "Total records that can be displayed",
                      "type": "string"
                    },
                    "results": {
                      "description": "Array of product objects",
                      "type": "array",
                      "items": {
                        "description": "Product details with fares and categories",
                        "properties": {
                          "productId": {
                            "description": "Product ID",
                            "type": "string",
                            "example": "18673"
                          },
                          "name": {
                            "description": "Product name",
                            "type": "string",
                            "example": "Grasshoppers Nimbin Day Tour"
                          },
                          "productClass": {
                            "description": "Product class code (A=Activities, H=Accommodation, T=Transport)",
                            "type": "string",
                            "example": "A"
                          },
                          "rrp": {
                            "description": "Recommended retail price",
                            "type": "string",
                            "example": "65.00"
                          },
                          "supplierName": {
                            "description": "Supplier/operator name",
                            "type": "string",
                            "example": "Grasshoppers"
                          },
                          "country": {
                            "description": "Country name",
                            "type": "string",
                            "example": "Australia"
                          },
                          "productImagePath": {
                            "description": "Product image URL",
                            "type": "string",
                            "example": "https://cms.websitetravel.com/upload/sm/58c8774064b02_200_grasshoppers-pic.jpg"
                          },
                          "productTeaser": {
                            "description": "Short product description",
                            "type": "string"
                          },
                          "categories": {
                            "description": "Product category information",
                            "type": "object"
                          },
                          "faresprices": {
                            "description": "Available fares and pricing (empty if shortSearch=true)",
                            "type": "array",
                            "items": {
                              "description": "Fare and pricing information",
                              "properties": {
                                "fareName": {
                                  "description": "Name of the fare",
                                  "type": "string"
                                },
                                "fareTypeId": {
                                  "description": "Fare type identifier",
                                  "type": "string"
                                },
                                "currencyCode": {
                                  "description": "Currency code (e.g., AUD)",
                                  "type": "string"
                                },
                                "rrp": {
                                  "description": "Recommended retail price",
                                  "type": "number"
                                },
                                "wholesale": {
                                  "description": "Wholesale price",
                                  "type": "number"
                                },
                                "productPricesDetailsId": {
                                  "description": "Unique fare identifier for booking",
                                  "type": "integer"
                                }
                              },
                              "type": "object"
                            }
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                },
                "examples": {
                  "keyword_search_short": {
                    "summary": "Search by keyword with short results",
                    "description": "GET /apiv1/products?name=grasshoppers nimbin day tour&shortSearch=true",
                    "value": {
                      "totalRecords": "7373",
                      "fetchedRecords": 1,
                      "totalDisplayRecords": "1",
                      "results": [
                        {
                          "productId": "18673",
                          "productImagePath": "https://cms.websitetravel.com/upload/sm/58c8774064b02_200_grasshoppers-pic.jpg",
                          "name": "Grasshoppers Nimbin Day Tour",
                          "productClass": "A",
                          "rrp": "65.00",
                          "supplierName": "Grasshoppers",
                          "country": "Australia",
                          "productTeaser": "Grasshoppers Nimbin Tour is the Nimbin tour with a difference. This is the tour that rocks all day long!",
                          "productDetails": "<p>Day Tour - What's Included: Return transport to Nimbin, waterfall national park, guided rainforest walk, unique country pub BBQ lunch and dinner voucher for Cheeky Monkeys.</p>",
                          "categories": {
                            "countries": [
                              "20"
                            ],
                            "countryCodes": [
                              "AU"
                            ],
                            "states": [
                              "24"
                            ],
                            "regions": [
                              "65"
                            ],
                            "locations": [
                              "636",
                              "5272"
                            ],
                            "activities": [
                              "4300",
                              "5213"
                            ],
                            "startLocation": "636",
                            "endLocation": "5272",
                            "startLocationName": "Byron Bay",
                            "endLocationName": "Nimbin"
                          },
                          "address": {
                            "formattedAddress": "1 Ti Tree Place Byron Bay NSW Australia 2481",
                            "geometry": {
                              "lat": null,
                              "lng": null
                            }
                          },
                          "ageRestriction": "Over 18",
                          "minGroupSize": "1",
                          "maxGroupSize": "39",
                          "durationDays": "1",
                          "faresprices": []
                        }
                      ]
                    }
                  },
                  "region_search": {
                    "summary": "Search by regions",
                    "description": "GET /apiv1/products?regions=109,65 - Search by region IDs obtained from /apiv1/categories/regions",
                    "value": {
                      "totalRecords": "450",
                      "fetchedRecords": 10,
                      "totalDisplayRecords": "450",
                      "results": [
                        {
                          "productId": "12345",
                          "name": "Sydney Harbour Bridge Climb",
                          "productClass": "A",
                          "rrp": "220.00",
                          "supplierName": "BridgeClimb",
                          "country": "Australia",
                          "productTeaser": "Climb the iconic Sydney Harbour Bridge for spectacular views",
                          "categories": {
                            "countries": [
                              "20"
                            ],
                            "states": [
                              "24"
                            ],
                            "regions": [
                              "109"
                            ],
                            "activities": [
                              "4301"
                            ]
                          },
                          "faresprices": []
                        },
                        {
                          "productId": "12346",
                          "name": "Blue Mountains Day Tour",
                          "productClass": "A",
                          "rrp": "89.00",
                          "supplierName": "AAT Kings",
                          "country": "Australia",
                          "productTeaser": "Experience the beauty of the Blue Mountains on this full-day tour",
                          "categories": {
                            "countries": [
                              "20"
                            ],
                            "states": [
                              "24"
                            ],
                            "regions": [
                              "65"
                            ],
                            "activities": [
                              "4302"
                            ]
                          },
                          "faresprices": []
                        }
                      ]
                    }
                  },
                  "pagination_example": {
                    "summary": "Paginated search results",
                    "description": "GET /apiv1/products?records-start=50&records-length=25 - Return 25 results starting at 50th result. Default is 10.",
                    "value": {
                      "totalRecords": "2500",
                      "fetchedRecords": 25,
                      "totalDisplayRecords": "2500",
                      "results": [
                        {
                          "productId": "15001",
                          "name": "Great Ocean Road Tour",
                          "productClass": "A",
                          "rrp": "145.00",
                          "supplierName": "Gray Line",
                          "country": "Australia",
                          "productTeaser": "Drive along one of the world's most scenic coastal routes",
                          "categories": {
                            "countries": [
                              "20"
                            ],
                            "states": [
                              "25"
                            ],
                            "activities": [
                              "4303"
                            ]
                          },
                          "faresprices": []
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid search parameters"
          },
          "401": {
            "description": "Unauthorized - missing or invalid authentication token"
          },
          "403": {
            "description": "Forbidden - user not authorized to access products"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": []
          }
        ]
      }
    },
    "/apiv1/product/{productIds}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get product details by ID",
        "description": "Get details on a specific product by productId. Returns complete product information including fares, categories, itinerary, and booking details.\n\n**Request URL**: `GET /apiv1/product/{productIds}`\n\n**Example**: `GET /apiv1/product/26401`\n\n**Multiple Products**: `GET /apiv1/product/26401,18673,12345`\n\n**Authentication Required**: Yes - Bearer token in Authorization header\n\n#### Response\n\n**Top Level Result Object**\n\n| Field name | Nullable | Type | Description |\n|------------|----------|------|-------------|\n| fetchedRecords | n | Integer | Number of records fetched for this request. |\n| totalDisplayRecords | n | Integer | Total number of matching records found. Note that this is an indicator only, and occasionally the actual number of matching results may be lower than this. |\n| totalRecords | n | Integer | Total number of Products in the database. |\n| results | n | Array (Objects) | Array of Product objects. |\n\n**Product Object**\n\n| Field name | Nullable | Type | Description |\n|------------|----------|------|-------------|\n| extras | y | String | Optional extra (HTML). |\n| instructions | y | String | Instructions to the customer (HTML). |\n| favourite | n | Boolean | Is this a favourite Product. |\n| pickups | y | String | Pickup details text. |\n| productImagePath | y | String | URL to main Product image. |\n| itinerary | y | String | Itinerary information (HTML). |\n| productClass | y | String | One character code indicating Product Class (see table below). |\n| productDetails | n | String | Details of Product to show customer (HTML). |\n| productId | n | Integer | Product ID. |\n| conditions | y | String | Any conditions on Product (HTML). |\n| name | n | String | Display name of the Product. |\n| productTeaser | n | String | Short description of Product (HTML). |\n| ticketEntryFieldDescription | y | String | Description for ID input for external system Products. |\n| ticketEntryFieldFormat | y | String | Used to limit ID input entry for external system Products (JSON). |\n| ticketEntryFieldName | y | String | Label text for external system Products (JSON). |\n| noRefunds | n | Integer | Whether Product can be refunded. |\n| noRefundMessage | y | String | Message to display when a Product is not refundable. |\n| categories | n | Array (Objects) | Array of Category objects. |\n| address | y | Object | Optional Address object related to Product. |\n| faresprices | n | Array (Objects) | Array of FarePrice objects. |\n| supplierName | n | String | Name of Supplier Product belongs to. |\n| apiProviderId | n | Integer | Indicates product fetches information externally. |\n| groupFaresForAvailabilityCheck | n | Integer | Indicates that products fares can be searched grouped, using a fare type and a range of dates. See 'Live Availability Bulk Checking' at top of page. |\n| supplierid | n | Integer | Supplier identification. |\n| countryId | n | Integer | Country identification. |\n| minAgeRecommendation | n | Integer | Minimum recommended age. |\n| maxAgeRecommendation | n | Integer | Maximum recommended age. |\n| ageRestriction | n | String | Description of any age restrictions (e.g. for an R18 hostel). |\n| fitnessRequirement | n | String | Description of fitness requirements. |\n| minGroupSize | n | Integer | Minimum tour group size. |\n| maxGroupSize | n | Integer | Maximum tour group size. |\n| dietaryRequirements | n | Integer | Dietary requirements. |\n| luggageRequirements | n | String | Luggage requirements. |\n| includedItems | n | Array(String) | Description of items included in fare. |\n| bringItems | n | Array(String) | Description of items the guest is expected to bring. |\n| voucherTerms | y | String | Description of terms and conditions, disclaimers etc. |\n| weekDays | y | Array(String) | Comma-separated list of days of the week that trip departs. This field is \"Deprecated\", recommended to use \"departureDates\" field. |\n| departureDates | y | Array | Tour departure dates as array. (e.g [\"2018-06-09\",\"2018-06-16\",\"2018-06-23\"]). Date format of individual departure date is \"YYYY-MM-DD\". |\n| recurrenceDate | y | String | Frequency of departure recurrence (e.g. \"Weekly\", \"Daily\", \"Monthly\"). This field is \"Deprecated\", recommended to use \"departureDates\" field. |\n| specialCircumstanceDate | y | String | Description of special dates which affect departure info (e.g. Christmas Day). This field is \"Deprecated\", recommended to use \"departureDates\" field. |\n| operatingPartner | y | String | Operating partner. |\n| tourCode | y | String | Tour code. |\n| accommodationStyle | y | String | Description of accommodation style. |\n| vehicleType | y | String | Description of vehicle type. |\n| mandatoryFieldCheckout | y | Array(string) | Indicates these customer field information are mandatory for this product. |\n| isCachecowSupported | n | Boolean | Indicates whether this product supports CacheCow. |\n| cachecowCalendarSupport | n | Boolean | Indicates whether this product supports CacheCow calendar. |\n| productRanking | n | Integer | Product ranking for display order. |\n\n**Product Classes**\n\n| Product Class Name | Product Class Key | Product Description |\n|--------------------|-------------------|---------------------|\n| Activity | V | Activity only Product. |\n| Merchandise | M | Merchandise. |\n| Accommodation | A | Accommodation Product. |\n| Tour Product | Y | Different Tour Products. |\n| Transport | T | Transportation. |\n\n**Category Object**\n\nCategory names can be retrieved using the appropriate call to GET /categories/{name}.\n\n| Field name | Nullable | Type | Description |\n|------------|----------|------|-------------|\n| countries | n | Array | Array of Country IDs. |\n| countryCodes | n | Array | Array of ISO 3166-1 alpha-2 country codes. |\n| states | n | Array | Array of State IDs. |\n| regions | n | Array | Array of Region IDs. |\n| locations | n | Array | Array of Location IDs. |\n| accommodation | n | Array | Array of Accommodation type IDs. |\n| activities | n | Array | Array of Activity IDs. |\n| transport | n | Array | Array of Transport IDs. |\n| startLocation | n | Integer | ID of start location. |\n| endLocation | n | Integer | ID of end location. |\n\n**FarePrice**\n\n| Field name | Nullable | Type | Description |\n|------------|----------|------|-------------|\n| fareName | n | String | Name of Fare. |\n| fareTypeCategory | y | String | Name of the Fare Type Category. |\n| numAdults | y | Integer | Number of adults eligible to travel on fare (applies to Family category fares). |\n| numChildren | y | Integer | Number of children eligible to travel on fare (applies to Family category fares). |\n| childMinAge | y | Integer | Minimum age for children eligible to travel on fare (applies to Child and Family category fares). |\n| childMaxAge | y | Integer | Maximum age for children eligible to travel on fare (applies to Child and Family category fares). |\n| earlyBirdLeadDays | y | Integer | Lead time (in days) for early bird fares, i.e. the number of days in advance of travel date that the fare must be booked. |\n| bookingSystem | y | String | Name of Booking System. |\n| numPax | y | Integer | Number of people Fare covers. |\n| fareQtyRestrictions | n | Integer | Total quantity (or multiples of) this fare that agents must select when purchasing this fare. Rrp is a price per unit. Use a simple modulus calculation to determine whether the price per unit is applicable for the desired quantity. (Qty % fareQtyRestrictions === 0 ? rrp : n/a). Attempts to book with an invalid qty will be rejected. |\n| periodStart | y | String | Date this Fare becomes active in format '01 Oct 2013'. |\n| currencyCode | n | String | Currency the Fare prices are in (ISO 4217 format). |\n| travelEnd | y | String | Ending date for travel period in format '01 Oct 2013'. |\n| productPriceId | n | Integer | Fare Price ID. |\n| levy | y | Float | Any levy charged on top of price at the point of travel. |\n| fareCurrencyLevy | y | Float | Levy (Fares currency). |\n| levyDescription | y | String | Description of any levy payable. |\n| fareTypeId | n | Integer | Fare Type ID. |\n| noPickup | y | Boolean | This Fare has no Pickup. |\n| wstMargin | y | Float | Margin, only used on variable priced Products. |\n| bookingProductId | y | String | ID used in Booking System. |\n| availabilityInfoUrl | y | String | URL for availability details. |\n| tripDuration | y | Integer | Number of days included in trip. |\n| durationNights | y | Integer | Number of nights included in trip. |\n| wholesale | n | Float | Wholesale price (Agent's currency). |\n| fareCurrencyNet | y | Float | Wholesale price (Fare's currency). |\n| productPriceSequence | n | Integer | Sequence number of Fare. |\n| agentPricingGroupId | y | Integer | Agent Pricing Group ID of Fare Price. |\n| rrp | n | Float | Recommended retail price (Agent's currency). |\n| fareCurrencyRRP | y | Float | Recommended retail price (Fare's currency). |\n| periodEnd | y | String | Date Fare becomes in-active in format '01 Oct 2013'. |\n| travelStart | y | String | Starting date for travel period in format '01 Oct 2013'. |\n| productPricesDetailsId | n | Integer | Fare Price Details ID. |\n| hasBookingSystem | n | Boolean | Indicates at least one of the Fares is eBooking eligible. Flag only found on first Fare response. |\n| allowOpenDated | n | Boolean | Indicates whether a travel date is required for Fare. |\n| allowFreeSell | n | Boolean | Indicates whether fare is freesell or not. |\n| cancellationFeePolicyDescription | y | String | Cancellation fee description. |\n| cancellationFeePolicyRules | y | String | Cancellation fee rules. |\n| addOnProductCode | y | String | Code of add-on product related to this fare. |\n| fareTags | y | Array | Array of Fare tag. Example: ('addOn', 'Child', 'infantFOC'). |\n| freeCancellationDays | y | Integer | Number of days before travel that free cancellation is allowed. |\n\n\n\n**Address**\n\n| Field name | Nullable | Type | Description |\n|------------|----------|------|-------------|\n| formattedAddress | n | String | Formatted address details. |\n| geometry | n | Object | Coordinate object. |\n\n**Coordinates**\n\n| Field name | Nullable | Type | Description |\n|------------|----------|------|-------------|\n| lat | y | Decimal (10,8) | Latitude for Address. |\n| lng | y | Decimal (11,8) | Longitude for Address. |",
        "operationId": "get_tdms_api_v1_getproduct",
        "parameters": [
          {
            "name": "productIds",
            "in": "path",
            "description": "Product ID or comma-separated list of Product IDs to return. **Examples**: `26401` (single product) or `26401,18673,12345` (multiple products)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "single_product": {
                "summary": "Single product",
                "value": "26401"
              },
              "multiple_products": {
                "summary": "Multiple products",
                "value": "26401,18673,12345"
              }
            }
          },
          {
            "name": "includePackageOnly",
            "in": "query",
            "description": "Include package-only fares in the result set",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "Product details successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "totalRecords": {
                      "description": "Total number of matching records",
                      "type": "string"
                    },
                    "fetchedRecords": {
                      "description": "Number of records returned",
                      "type": "integer"
                    },
                    "totalDisplayRecords": {
                      "description": "Total records that can be displayed",
                      "type": "string"
                    },
                    "results": {
                      "description": "Array of detailed product objects",
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                },
                "examples": {
                  "api_test_product": {
                    "summary": "Get API Test Product details",
                    "description": "GET /apiv1/product/26401 - Get details on a specific product by productId",
                    "value": {
                      "totalRecords": "1",
                      "fetchedRecords": 1,
                      "totalDisplayRecords": "1",
                      "results": [
                        {
                          "productId": "26401",
                          "productImagePath": "https://cms.websitetravel.com/upload/sm/575fbe05145f5_3495_ida.jpg",
                          "productLargeSizeImagePath": "575fbe05145f5_3495_ida.jpg",
                          "productSmallToMediumSizeImagePath": "https://cms.websitetravel.com/upload/sm-med/575fbe05145f5_3495_ida.jpg",
                          "apiProviderId": 0,
                          "name": "API Test Product",
                          "productClass": "A",
                          "ticketEntryFieldName": null,
                          "ticketEntryFieldFormat": "{}",
                          "ticketEntryFieldDescription": null,
                          "isOverlayed": false,
                          "productOverlayId": null,
                          "productDetails": "<p>API Test Product</p>",
                          "itinerary": "<div class=\"itineraryTitle\"><strong>Day 1 : API Test Product</strong></div><div class=\"itineraryDescription\"> API Test Product API Test Product API Test Product </div><div class=\"itineraryMeals\">Meals :None</div><br/>",
                          "pickups": "<p>API Test Product</p>",
                          "extras": "<p>None</p>",
                          "productTeaser": "API Test Product\r\n\r\nAPI Test Product\r\n\r\n \r\n\r\nTEst test test\r\n",
                          "noRefundMessage": null,
                          "noRefunds": 0,
                          "instructions": "<p>Open date tickets are subject to availability, please give 7-14 days notice to book. All bookings must be reconfirmed 24-48 hours in advance.TEST</p>\r\n",
                          "conditions": "",
                          "categories": {
                            "countries": [
                              "20"
                            ],
                            "countryCodes": [
                              "AU"
                            ],
                            "states": [
                              "29"
                            ],
                            "regions": [
                              "115"
                            ],
                            "locations": [
                              "1609"
                            ],
                            "accommodation": [],
                            "activities": [
                              "4273"
                            ],
                            "transport": [],
                            "accommodationNames": [],
                            "transportNames": [],
                            "startLocation": "1609",
                            "endLocation": "1609",
                            "startLocationName": "Cairns",
                            "endLocationName": "Cairns"
                          },
                          "address": {
                            "formattedAddress": "Office Brisbane Brisbane Brisbane QLD Australia 4000",
                            "geometry": {
                              "lat": "-27.46785140",
                              "lng": "153.02793570"
                            }
                          },
                          "groupFaresForAvailabilityCheck": false,
                          "rrp": "100.00",
                          "supplierName": "Website Travel Training",
                          "supplierid": "3495",
                          "workPhone": "0412 015 086",
                          "reservationPhone": null,
                          "freePhone": "",
                          "country": "Australia",
                          "voucherInformationContactDetailsBits": "1",
                          "providerDetails": "<strong>Provider Details</strong></br>Website Travel Training</br> Phone: 0412 015 086</br>",
                          "isNewHotDeal": false,
                          "minAgeRecommendation": "18",
                          "maxAgeRecommendation": "40",
                          "fitnessRequirement": "Must be able to swim",
                          "tourCode": "",
                          "ageRestriction": "No Children under 10",
                          "minGroupSize": "5",
                          "maxGroupSize": "25",
                          "includedItems": [
                            "API Test Product",
                            "API Test Product"
                          ],
                          "operatingPartner": "Website Travel Training",
                          "dietaryRequirement": "",
                          "luggageLimit": "",
                          "bringItems": [
                            "API Test Product"
                          ],
                          "importantInfos": "",
                          "weekDays": [],
                          "departureDates": [
                            "2018-06-11",
                            "2018-06-13",
                            "2018-06-15",
                            "2018-06-18",
                            "2018-06-20",
                            "2018-06-22",
                            "2018-06-25",
                            "2018-06-27",
                            "2018-06-29",
                            "2018-07-02",
                            "2018-07-04",
                            "2018-07-06",
                            "2018-07-09",
                            "2018-07-11"
                          ],
                          "itineraryBreakfast": [
                            "0"
                          ],
                          "itineraryLunch": [
                            "0"
                          ],
                          "itineraryDinner": [
                            "0"
                          ],
                          "itineraryTitle": [
                            "API Test Product"
                          ],
                          "itineraryDescription": [
                            " API Test Product API Test Product API Test Product "
                          ],
                          "itineraryMeals": [
                            "None"
                          ],
                          "recurrenceDate": "",
                          "specialCircumstanceDate": "",
                          "durationDays": "1",
                          "durationNight": "0",
                          "vehicleType": [],
                          "accommodationStyle": [],
                          "favourite": true,
                          "nonEBookingNotifications": 1,
                          "faresprices": [
                            {
                              "fareName": " Adult Fare (API)",
                              "fareTypeId": "65510",
                              "fareTypeCategory": null,
                              "currencyCode": "AUD",
                              "tripDuration": "1",
                              "rrp": 100,
                              "wholesale": 80,
                              "levy": "",
                              "periodStart": "30 Jan 2018",
                              "periodEnd": null,
                              "productPriceId": "108840",
                              "productPricesDetailsId": 739673,
                              "allowOpenDated": true,
                              "pax": "1",
                              "defaultFare": false,
                              "hasBookingSystem": true,
[...]
