{"openapi":"3.0.0","info":{"title":"TravelDesk Agent API","contact":{"name":"API Support","email":"api@websitetravel.com"},"version":"1.0"},"servers":[{"url":"https://tdms.websitetravel.com","description":"Production Server"},{"url":"https://tdmstest03.websitetravel.com","description":"Test Server"},{"url":"http://tdms.localhost","description":"Development Server"}],"paths":{"/apiv1/token":{"post":{"tags":["Authentication"],"summary":"Get OAuth access token","operationId":"post_tdms_api_v1_gettoken","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["client_id","client_secret"],"properties":{"client_id":{"type":"string"},"client_secret":{"type":"string"}},"type":"object"}},"application/x-www-form-urlencoded":{"schema":{"required":["client_id","client_secret"],"properties":{"client_id":{"type":"string"},"client_secret":{"type":"string"}},"type":"object"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"access_token":{"type":"string"},"expires_in":{"type":"integer"},"token_type":{"type":"string"},"scope":{"type":"string"}},"type":"object"}}}},"400":{"content":{"application/json":{"schema":{"properties":{"error":{"type":"string"},"error_description":{"type":"string"}},"type":"object"}}}},"401":{"content":{"application/json":{"schema":{"properties":{"error":{"type":"string"},"error_description":{"type":"string"}},"type":"object"}}}},"500":{"content":{"application/json":{"schema":{"properties":{"error":{"type":"string"},"error_description":{"type":"string"}},"type":"object"}}}}}}},"/apiv1/agent/paymentmethods":{"get":{"tags":["Order Placement"],"summary":"Get available payment methods","operationId":"step3_getPaymentMethods","responses":{"200":{"content":{"application/json":{"schema":{"properties":{"paymentMethods":{"type":"array","items":{"properties":{"name":{"type":"string"},"journalAccountId":{"type":"integer"},"code":{"type":"string"},"supportsOnlinePayment":{"type":"boolean"},"paymentReturnUrl":{"type":"string"},"isActive":{"type":"string"}},"type":"object"}}},"type":"object"}}}},"403":{}}}},"/apiv1/bookingreference":{"post":{"tags":["Order Placement"],"summary":"Obtain a booking reference","operationId":"step1_getBookingReference","responses":{"200":{},"403":{},"400":{}}}},"/apiv1/bookingdetails/{productPricesDetailsId}":{"get":{"tags":["Availability and Pricing - Booking system based Live Availability"],"summary":"Get booking details for a fareprice","operationId":"get_tdms_api_v1_getbookingdetails","parameters":[{"name":"productPricesDetailsId","in":"path","required":true,"schema":{"type":"integer","pattern":"^\\d+$"}}],"responses":{"200":{"content":{"application/json":{"schema":[]}}},"400":{},"403":{},"404":{},"500":{}}}},"/apiv1/categories/{type}":{"get":{"tags":["Products"],"summary":"Get a list of categories of a given type","operationId":"get_tdms_api_v1_getcategories","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["countries","states","regions","localities","activities","accommodation","transport","productclasses"]}},{"name":"term","in":"query","required":false,"schema":{"type":"string"}},{"name":"countries","in":"query","required":false,"schema":{"type":"string"}},{"name":"states","in":"query","required":false,"schema":{"type":"string"}},{"name":"regions","in":"query","required":false,"schema":{"type":"string"}},{"name":"locality","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"results":{"type":"array","items":{"properties":{"id":{"type":"integer"},"text":{"type":"string"}},"type":"object"}}},"type":"object"}}}},"403":{},"400":{}}}},"/apiv1/category/{categoryIds}":{"get":{"tags":["Products"],"summary":"Get categories by ID","operationId":"get_tdms_api_v1_getcategory","parameters":[{"name":"categoryIds","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{},"404":{},"403":{},"500":{}}}},"/apiv1/products":{"get":{"tags":["Products"],"summary":"Search products","operationId":"get_tdms_api_v1_searchproducts","parameters":[{"name":"name","in":"query","schema":{"type":"string"}},{"name":"supplier","in":"query","schema":{"type":"string"}},{"name":"packages","in":"query","schema":{"type":"string"}},{"name":"countries","in":"query","schema":{"type":"string"}},{"name":"states","in":"query","schema":{"type":"string"}},{"name":"regions","in":"query","schema":{"type":"string"}},{"name":"localities","in":"query","schema":{"type":"string"}},{"name":"accommodation","in":"query","schema":{"type":"string"}},{"name":"activities","in":"query","schema":{"type":"string"}},{"name":"transport","in":"query","schema":{"type":"string"}},{"name":"productclass","in":"query","schema":{"type":"string"}},{"name":"minLat","in":"query","schema":{"type":"number","format":"float"}},{"name":"maxLat","in":"query","schema":{"type":"number","format":"float"}},{"name":"minLng","in":"query","schema":{"type":"number","format":"float"}},{"name":"maxLng","in":"query","schema":{"type":"number","format":"float"}},{"name":"travelStart","in":"query","schema":{"type":"string","format":"date"}},{"name":"travelEnd","in":"query","schema":{"type":"string","format":"date"}},{"name":"duration","in":"query","schema":{"type":"integer"}},{"name":"sortBy","in":"query","schema":{"type":"string","enum":["rrp","name","ranking"]}},{"name":"sortDirection","in":"query","schema":{"type":"string","enum":["asc","desc"]}},{"name":"records-start","in":"query","schema":{"type":"integer","minimum":0}},{"name":"records-length","in":"query","schema":{"type":"integer","maximum":100,"minimum":1}},{"name":"shortSearch","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"totalRecords":{"type":"string"},"fetchedRecords":{"type":"integer"},"totalDisplayRecords":{"type":"string"},"results":{"type":"array","items":{"properties":{"productId":{"type":"string"},"name":{"type":"string"},"productClass":{"type":"string"},"rrp":{"type":"string"},"supplierName":{"type":"string"},"country":{"type":"string"},"productImagePath":{"type":"string"},"productTeaser":{"type":"string"},"categories":{"type":"object"},"faresprices":{"type":"array","items":{"properties":{"fareName":{"type":"string"},"fareTypeId":{"type":"string"},"currencyCode":{"type":"string"},"rrp":{"type":"number"},"wholesale":{"type":"number"},"productPricesDetailsId":{"type":"integer"}},"type":"object"}}},"type":"object"}}},"type":"object"}}}},"400":{},"401":{},"403":{},"500":{}},"security":[{"bearerAuth":[]},{"oauth2":[]}]}},"/apiv1/product/{productIds}":{"get":{"tags":["Products"],"summary":"Get product details by ID","operationId":"get_tdms_api_v1_getproduct","parameters":[{"name":"productIds","in":"path","required":true,"schema":{"type":"string"}},{"name":"includePackageOnly","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"totalRecords":{"type":"string"},"fetchedRecords":{"type":"integer"},"totalDisplayRecords":{"type":"string"},"results":{"type":"array","items":{"type":"object"}}},"type":"object"}}}},"400":{},"403":{},"500":{}}}},"/apiv1/products/lastUpdate":{"get":{"tags":["Products"],"summary":"Search for product updates","operationId":"get_tdms_api_v1_getallproductupdates","parameters":[{"name":"recordStart","in":"query","required":false,"schema":{"type":"integer"}},{"name":"recordLength","in":"query","required":false,"schema":{"type":"integer"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string"}},{"name":"updatedBefore","in":"query","required":false,"schema":{"type":"string"}},{"name":"updatedAfter","in":"query","required":false,"schema":{"type":"string"}},{"name":"productIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"countries","in":"query","required":false,"schema":{"type":"string"}},{"name":"states","in":"query","required":false,"schema":{"type":"string"}},{"name":"regions","in":"query","required":false,"schema":{"type":"string"}},{"name":"localities","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":[]}}},"400":{},"403":{},"500":{}}}},"/apiv1/product/lastupdate/{productIds}":{"get":{"tags":["Products"],"summary":"Get the last updated date for given Products","operationId":"get_tdms_api_v1_lastupdated","parameters":[{"name":"productIds","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":[]}}},"400":{},"403":{},"500":{}}}},"/apiv1/suppliers":{"get":{"tags":["Products"],"summary":"Get a list of available suppliers","operationId":"get_tdms_api_v1_getsuppliers","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":[]}}},"400":{},"403":{},"500":{}}}},"/apiv1/media/images/product/{productId}/{size}":{"get":{"tags":["Products"],"summary":"Get a list of images for a given Product","operationId":"get_tdms_api_v1_getproductimagepaths","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"integer","pattern":"\\d+"}},{"name":"size","in":"path","required":true,"schema":{"type":"string","pattern":"sm|med|lg","enum":["sm","med","lg"]}}],"responses":{"200":{"content":{"application/json":{"schema":[]}}},"400":{},"403":{},"500":{}}}},"/apiv1/checkavailabilityrange/{productPricesDetailsId}/{timeId}/{startDate}/{days}":{"get":{"tags":["Availability and Pricing - Booking system based Live Availability"],"summary":"Check availability of a given fareprice","operationId":"get_tdms_api_v1_checkavailabilityrange","parameters":[{"name":"productPricesDetailsId","in":"path","required":true,"schema":{"type":"integer"}},{"name":"timeId","in":"path","required":true,"schema":{"type":"string"}},{"name":"startDate","in":"path","required":true,"schema":{"type":"string","format":"date"}},{"name":"days","in":"path","required":true,"schema":{"type":"integer"}},{"name":"cached","in":"query","required":false,"schema":{"type":"integer","default":0,"enum":[0,1]}}],"responses":{"200":{"content":{"application/json":{"schema":[]}}},"403":{},"500":{}}}},"/apiv1/bookingdetails/detailsToConfirmAvailability/{productPricesDetailsId}/{date}/{timeId}":{"get":{"tags":["Availability and Pricing - Booking system based Live Availability"],"summary":"Get pickup/dropoff details to confirm availability","operationId":"get_tdms_api_v1_detailstoconfirmavailability","parameters":[{"name":"productPricesDetailsId","in":"path","required":true,"schema":{"type":"integer"}},{"name":"date","in":"path","required":true,"schema":{"type":"string","format":"date"}},{"name":"timeId","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":[]}}},"403":{},"500":{}}}},"/apiv1/checkAvailabilityByProductAndRange/{productId}/{fareTypeId}/{startDate}/{endDate}":{"post":{"tags":["Availability and Pricing - Siteminder Live Availability"],"summary":"Check availability by product and date range","operationId":"post_tdms_api_v1_checkavailabilitybyproductandrange","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"integer"}},{"name":"fareTypeId","in":"path","required":true,"schema":{"type":"integer"}},{"name":"startDate","in":"path","required":true,"schema":{"type":"string","format":"date"}},{"name":"endDate","in":"path","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"content":{"application/json":{"schema":[]}}},"403":{},"404":{},"500":{}}}},"/apiv1/checkAvailability":{"get":{"tags":["Availability and Pricing - Cached Availability and Live pricing"],"summary":"Check product availability","operationId":"get_tdms_api_v1_checkavailability","parameters":[{"name":"startDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"days","in":"query","required":true,"schema":{"type":"integer","maximum":93}},{"name":"productPricesDetailsIds[]","in":"query","required":true,"schema":{"type":"array","items":{"type":"integer"}}}],"responses":{"200":{"content":{"application/json":{"schema":[]}}},"403":{},"409":{},"500":{}},"security":[{"bearerAuth":[]},{"oauth2":[]}]}},"/apiv1/checkAvailability/{productPricesDetailsId}/pricingData":{"get":{"tags":["Availability and Pricing - Cached Availability and Live pricing"],"summary":"Get pricing data for selected options","operationId":"get_tdms_api_v1_getpricingdataforfare","parameters":[{"name":"productPricesDetailsId","in":"path","required":true,"schema":{"type":"integer","pattern":"\\d+"}},{"name":"bookingTimeId","in":"query","required":true,"schema":{"type":"string"}},{"name":"bookingDate","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"content":{"application/json":{"schema":[]}}},"403":{},"500":{}}}},"/apiv1/checkAvailability/{productPricesDetailsId}/reservation":{"get":{"tags":["Availability and Pricing - Cached Availability and Live pricing"],"summary":"Check reservation and confirm availability","operationId":"get_tdms_api_v1_checkreservationforfare","parameters":[{"name":"productPricesDetailsId","in":"path","required":true,"schema":{"type":"integer","pattern":"\\d+"}},{"name":"bookingTimeId","in":"query","required":true,"schema":{"type":"string","nullable":true}},{"name":"bookingDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"pickupId","in":"query","required":false,"schema":{"type":"string","nullable":true}},{"name":"dropoffId","in":"query","required":false,"schema":{"type":"string","nullable":true}}],"responses":{"200":{"content":{"application/json":{"schema":[]}}},"403":{},"500":{}}}},"/apiv1/checkAvailabilityByPackageAndDate/{packageId}/{startDate}":{"get":{"tags":["Availability and Pricing - Package Availability"],"summary":"Check availability of options","operationId":"get_tdms_api_v1_checkavailabilitybypackageanddate","parameters":[{"name":"packageId","in":"path","required":true,"schema":{"type":"integer"}},{"name":"startDate","in":"path","required":true,"schema":{"type":"string","format":"date"}},{"name":"packageOptionProductPricesDetailsIds","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"cached","in":"query","required":false,"schema":{"type":"integer","default":0,"enum":[0,1]}}],"responses":{"200":{},"403":{},"404":{},"500":{}}}},"/apiv1/order":{"post":{"tags":["Order Placement"],"summary":"Submit an Order","operationId":"step5_submitOrder","requestBody":{"required":true,"content":{"application/json":{"schema":{"properties":{"bookingReference":{"type":"string"},"agentReference":{"type":"string"},"paymentMethod":{"type":"string"},"emailVouchers":{"type":"boolean"},"totalCharged":{"type":"number","format":"float"},"creditCardFee":{"type":"number","format":"float"},"processAsQuote":{"type":"boolean"},"referralSourceId":{"type":"integer"},"products":{"type":"array","items":{"properties":{"productPricesDetailsId":{"type":"integer"},"qty":{"type":"integer"},"packageId":{"type":"integer"},"apiProviderId":{"type":"integer"},"datePriceCacheId":{"type":"integer"},"priceOverRidden":{"type":"boolean"},"agentRRP":{"type":"number","format":"float"},"adjustedAgentNR":{"type":"number","format":"float"},"discountClaimReason":{"type":"string"},"staffContactName":{"type":"string"},"rateDetails":{"type":"array","items":{"properties":{"commissionable":{"type":"boolean"},"gross":{"type":"number","format":"float"},"net":{"type":"number","format":"float"},"datePriceCacheId":{"type":"integer"},"allocatedRevenueGroup":{"type":"string"},"name":{"type":"string"}},"type":"object"}}},"type":"object"}},"payments":{"type":"array","items":{"properties":{"amount":{"type":"number","format":"float"},"journalAccountId":{"type":"integer"},"paymentMethod":{"type":"string"},"reference":{"type":"string"}},"type":"object"}},"redeemers":{"type":"array","items":{"properties":{"emailAddress":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"phone":{"type":"string"},"redeemerCountry":{"type":"integer"},"dateOfBirth":{"type":"string","format":"date"},"title":{"type":"string"},"products":{"type":"array","items":{"properties":{"productPricesDetailsId":{"type":"integer"},"redeemerQty":{"type":"integer"},"bookWithFirstRedeemer":{"type":"boolean"},"bookings":{"type":"array","items":{"properties":{"bookingComment":{"type":"string"},"travelDate":{"type":"string"},"datePriceCacheId":{"type":"integer"},"timeId":{"type":"string"},"pickupId":{"type":"string"},"commences":{"type":"string"},"pickupTime":{"type":"string"},"pickupLocation":{"type":"string"},"dropoffId":{"type":"string"},"dropoffLocation":{"type":"string"},"dropoffTime":{"type":"string"},"bookingDetailsComment":{"type":"string"},"optionalFields":{"type":"array","items":{"properties":{"optionalFieldId":{"type":"integer"},"fieldText":{"type":"string"}},"type":"object"}}},"type":"object"}}},"type":"object"}}},"type":"object"}}},"type":"object"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"id":{"type":"integer"},"hasCreditCardPayment":{"type":"boolean"},"eBookings":{"type":"object"},"vouchers":{"type":"object"},"messages":{"type":"array","items":{"type":"string"}},"bookingReference":{"type":"string"},"quoteUrl":{"type":"string"}},"type":"object"}}}},"403":{},"400":{},"404":{},"409":{},"500":{}}}},"/apiv1/package/{productPricesDetailsId}":{"get":{"tags":["Products"],"summary":"Get options for package","operationId":"get_tdms_api_v1_getpackage","parameters":[{"name":"productPricesDetailsId","in":"path","required":true,"schema":{"type":"integer","pattern":"\\d+"}}],"responses":{"200":{},"403":{},"404":{}}}},"/apiv1/accommodation/availableAccommodationProductsByLocation":{"get":{"tags":["Accommodation"],"summary":"Get available accommodation products by location (alias)","operationId":"getAvailableAccommodationProductsByLocation","parameters":[{"name":"accommCountry","in":"query","required":true,"schema":{"type":"integer"}},{"name":"accommState","in":"query","required":true,"schema":{"type":"integer"}},{"name":"accommZone","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{},"400":{},"403":{},"500":{}}}},"/apiv1/voucher/{orderId}.json":{"get":{"tags":["Post Order Management"],"summary":"Get Voucher Details in JSON Format","operationId":"step1_getVoucherDetails","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"integer","pattern":"\\d+"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"agent":{"properties":{"name":{"type":"string"},"address1":{"type":"string"},"address2":{"type":"string"},"state":{"type":"string"},"postcode":{"type":"string"},"country":{"type":"string"},"phone":{"type":"string"},"email":{"type":"string"},"website":{"type":"string"},"logo":{"type":"string"}},"type":"object"},"agentUser":{"properties":{"name":{"type":"string"},"email":{"type":"string"}},"type":"object"},"purchaseDate":{"type":"string"},"customerEmail":{"type":"string"},"bookingReference":{"type":"string"},"products":{"type":"array","items":{"properties":{"voucherNumber":{"type":"string"},"qty":{"type":"integer"},"name":{"type":"string"},"fareName":{"type":"string"},"depositOnly":{"type":"boolean"},"remainingAmount":{"type":"number","format":"float"},"instructions":{"type":"string"},"supplier":{"properties":{"freePhone":{"type":"string"},"suburb":{"type":"string"},"name":{"type":"string"},"address1":{"type":"string"},"address2":{"type":"string"},"state":{"type":"string"},"postcode":{"type":"string"},"country":{"type":"string"},"phone":{"type":"string"},"email":{"type":"string"}},"type":"object"},"redeemers":{"type":"array","items":{"properties":{"qty":{"type":"integer"},"bookingDetails":{"type":"array","items":{"properties":{"type":{"type":"string"},"travelDate":{"type":"string"},"fareValidFrom":{"type":"string"},"fareValidUntil":{"type":"string"},"commencementTime":{"type":"string"},"pickupTime":{"type":"string"},"pickupLocation":{"type":"string"},"optionalFields":{"type":"array","items":{"properties":{"name":{"type":"string"},"value":{"type":"string"}},"type":"object"}},"eBookingReferenceId":{"type":"string"},"detailComment":{"type":"string"},"comments":{"type":"string"},"apiProviderReferenceId":{"type":"string"},"apiProviderDetails":{"type":"array","items":{"type":"string"}},"ticketNumber":{"type":"string"},"levy":{"type":"number","format":"float"},"levyDescription":{"type":"string"},"fareCurrencyLevy":{"type":"number","format":"float"},"cancellationFeePolicyDescription":{"type":"string"},"cancellationFeePolicyRules":{"type":"array","items":{"type":"string"}}},"type":"object"}},"name":{"type":"string"},"phone":{"type":"string"},"postcode":{"type":"string"},"title":{"type":"string"},"dateOfBirth":{"type":"string"},"email":{"type":"string"},"country":{"type":"string"}},"type":"object"}},"tripId":{"type":"integer"},"tourCode":{"type":"string"},"startLocation":{"type":"string"},"endLocation":{"type":"string"}},"type":"object"}},"expires":{"type":"string"},"termsAndConditions":{"type":"string"},"termsAndConditionsChecklist":{"type":"string"},"customerOrderPageUrl":{"type":"string"}},"type":"object"}}}},"401":{},"404":{},"500":{}}}},"/apiv1/voucher/{orderId}.{type}":{"get":{"tags":["Post Order Management"],"summary":"Download Vouchers","operationId":"get_tdms_api_v1_getvoucher","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"integer","pattern":"\\d+"}},{"name":"type","in":"path","required":true,"schema":{"type":"string","pattern":"(html|pdf|json)"}}],"responses":{"200":{},"500":{}}}},"/apiv1/productpricedetails/{productPricesDetailsId}/availabilityemail":{"post":{"tags":["Availability and Pricing - Check Availability via mail to supplier"],"summary":"Send an availability request email to product's supplier","operationId":"step99_requestSupplierAvailabilityEmail","parameters":[{"name":"body","in":"query","required":false,"schema":{"type":"string"}},{"name":"date","in":"query","required":false,"schema":{"type":"string"}},{"name":"days","in":"query","required":false,"schema":{"type":"integer"}},{"name":"productPricesDetailsId","in":"path","required":true,"schema":{"type":"integer","pattern":"\\d+"}}],"responses":{"204":{},"400":{},"404":{},"500":{}}}},"/apiv1/referralsources":{"get":{"tags":["Order Placement"],"summary":"Get referral sources","operationId":"step2_getReferralSources","responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"properties":{"id":{"type":"integer"},"name":{"type":"string"}},"type":"object"}}}}},"403":{}}}},"/apiv1/pgw/authenticate/{bookingReference}":{"get":{"tags":["Order Placement"],"summary":"Get Payment Gateway URL","operationId":"step7_getPaymentGatewayUrl","parameters":[{"name":"paymentAmount","in":"query","required":true,"schema":{"type":"number","format":"float"}},{"name":"returnUrl","in":"query","required":true,"schema":{"type":"string"}},{"name":"responseUrl","in":"query","required":false,"schema":{"type":"string"}},{"name":"eBookingUrl","in":"query","required":false,"schema":{"type":"string"}},{"name":"journalAccountId","in":"query","required":false,"schema":{"type":"integer"}},{"name":"orderId","in":"query","required":false,"schema":{"type":"integer"}},{"name":"shouldCustomerPayCreditCardFees","in":"query","required":false,"schema":{"type":"integer"}},{"name":"showProducts","in":"query","required":false,"schema":{"type":"integer"}},{"name":"customerEmailAddress","in":"query","required":false,"schema":{"type":"string"}},{"name":"bookingReference","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"authenticated":{"type":"boolean"},"redirectUrl":{"type":"string"},"quoteUrl":{"type":"string"}},"type":"object"}}}},"400":{},"403":{},"409":{}}}},"/apiv1/order/{bookingReference}/convertQuote":{"post":{"tags":["Order Placement"],"summary":"Convert Quote to Order","operationId":"step8_convertQuoteToOrder","parameters":[{"name":"bookingReference","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"id":{"type":"integer"},"hasCreditCardPayment":{"type":"boolean"},"eBookings":{"type":"object"},"vouchers":{"type":"object"},"messages":{"type":"array","items":{"type":"string"}},"bookingReference":{"type":"string"}},"type":"object"}}}},"400":{},"403":{}}}},"/apiv1/order/{bookingReference}/supplierCancellationFees":{"get":{"tags":["Post Order Management"],"summary":"Get cancellation fees for an order","operationId":"step3_getSupplierCancellationFees","parameters":[{"name":"bookingReference","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{},"400":{},"403":{},"404":{}}}},"/apiv1/order/{bookingReference}/cancel":{"post":{"tags":["Post Order Management"],"summary":"Cancel an Order","operationId":"step4_cancelOrder","parameters":[{"name":"bookingReference","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"totalRefundAmount":{"type":"number","format":"float"},"ordersProductsRefunds":{"type":"array","items":{"properties":{"ordersProductId":{"type":"integer"},"totalQty":{"type":"integer"},"agentCancellationFee":{"type":"number","format":"float"},"supplierCancellationFee":{"type":"number","format":"float"},"refundCategoryId":{"type":"integer"},"refundReason":{"type":"string"},"supplierContactName":{"type":"string"},"redeemers":{"type":"array","items":{"properties":{"id":{"type":"integer"},"qty":{"type":"integer"},"bookingDetails":{"type":"array","items":{"type":"integer"}}},"type":"object"}}},"type":"object"}},"refundPayments":{"type":"array","items":{"properties":{"amount":{"type":"number","format":"float"},"journalAccountId":{"type":"integer"},"paymentMethod":{"type":"string"}},"type":"object"}}},"type":"object"}}}},"responses":{"204":{},"400":{},"403":{},"500":{}}}},"/apiv1/agentCategories":{"get":{"tags":["Products"],"summary":"Get all agent categories","operationId":"getAllAgentCategories","responses":{"200":{"content":{"application/json":{"schema":[]}}},"400":{},"403":{}}}},"/apiv1/agentCategories/{productId}":{"get":{"tags":["Products"],"summary":"Get Agent Categories for a specific Product","operationId":"getAgentCategoriesForProduct","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"integer","pattern":"\\d+"}}],"responses":{"200":{"content":{"application/json":{"schema":[]}}},"400":{},"403":{}}}},"/apiv1/customerOrderDetail":{"get":{"tags":["Post Order Management"],"summary":"Get Customer Order Details","operationId":"step2_getCustomerOrderDetail","parameters":[{"name":"email","in":"query","required":false,"schema":{"type":"string"}},{"name":"since","in":"query","required":false,"schema":{"type":"string","pattern":"\\d{0,2}-[A-Za-z]{3}-\\d{4}"}},{"name":"toDate","in":"query","required":false,"schema":{"type":"string","pattern":"\\d{0,2}-[A-Za-z]{3}-\\d{4}"}},{"name":"orderId","in":"query","required":false,"schema":{"type":"integer"}},{"name":"searchOnlyStatus","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"properties":{"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"phone":{"type":"string"},"productTags":{"type":"string","nullable":true},"orderId":{"type":"integer"},"bookingReference":{"type":"string"},"salesAgentName":{"type":"string"},"salesAgentEmail":{"type":"string"},"salesBranchCode":{"type":"string"},"brand":{"type":"string","nullable":true},"datePurchased":{"type":"string","format":"date"},"earliestTravelDate":{"type":"string","format":"date"},"latestTravelDate":{"type":"string","format":"date"},"vouchersPDF":{"type":"string"},"vouchersHTML":{"type":"string"},"orderStatus":{"type":"string"},"totalAmount":{"type":"number","format":"float"},"paidAmount":{"type":"number","format":"float"},"netTotal":{"type":"number","format":"float"},"commissionAmount":{"type":"number","format":"float"},"vouchers":{"type":"array","items":{"properties":{"voucherNumber":{"type":"string"},"productQty":{"type":"integer"},"productQtyAdjust":{"type":"integer"}},"type":"object"}},"totalAmountExcludeCCFee":{"type":"number","format":"float"}},"type":"object"}}}}},"403":{},"500":{}}}},"/apiv1/report/productSales":{"post":{"tags":["Reports"],"summary":"Product Sales Report","operationId":"post_tdms_api_v1_getproductsalesreport","requestBody":{"content":{"application/json":{"schema":{"required":["startDate","endDate"],"properties":{"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"}},"type":"object"}}}},"responses":{"200":{"content":{"application/json":{}}},"403":{},"500":{}}}},"/apiv1/validateQuote/{ordersId}/{bookingReference}":{"get":{"tags":["Order Placement"],"summary":"Validate quote availability","operationId":"step6_validateQuote","parameters":[{"name":"ordersId","in":"path","required":true,"schema":{"type":"integer"}},{"name":"bookingReference","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{}}},"403":{},"404":{},"400":{},"500":{}}}},"/apiv1/validateCart":{"post":{"tags":["Order Placement"],"summary":"Validate cart\nCheck the products in the cart are available","operationId":"step4_validateCart","requestBody":{"required":true,"content":{"application/json":{"schema":{"properties":{"bookingReference":{"type":"string"},"agentReference":{"type":"string"},"paymentMethod":{"type":"string"},"emailVouchers":{"type":"boolean"},"totalCharged":{"type":"number","format":"float"},"creditCardFee":{"type":"number","format":"float"},"processAsQuote":{"type":"boolean"},"referralSourceId":{"type":"integer"},"products":{"type":"array","items":{"properties":{"productPricesDetailsId":{"type":"integer"},"qty":{"type":"integer"},"packageId":{"type":"integer"},"apiProviderId":{"type":"integer"},"datePriceCacheId":{"type":"integer"},"bookingKey":{"type":"string"},"name":{"type":"string"},"fareName":{"type":"string"},"roomCode":{"type":"string"},"priceOverRidden":{"type":"boolean"},"agentRRP":{"type":"number","format":"float"},"adjustedAgentNR":{"type":"number","format":"float"},"discountClaimReason":{"type":"string"},"staffContactName":{"type":"string"},"rateDetails":{"type":"array","items":{"properties":{"commissionable":{"type":"boolean"},"gross":{"type":"number","format":"float"},"net":{"type":"number","format":"float"},"datePriceCacheId":{"type":"integer"},"allocatedRevenueGroup":{"type":"string"},"name":{"type":"string"}},"type":"object"}}},"type":"object"}},"payments":{"type":"array","items":{"properties":{"amount":{"type":"number","format":"float"},"journalAccountId":{"type":"integer"},"paymentMethod":{"type":"string"},"reference":{"type":"string"}},"type":"object"}},"redeemers":{"type":"array","items":{"properties":{"emailAddress":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"phone":{"type":"string"},"redeemerCountry":{"type":"integer"},"dateOfBirth":{"type":"string","format":"date"},"title":{"type":"string"},"products":{"type":"array","items":{"properties":{"productPricesDetailsId":{"type":"integer"},"redeemerQty":{"type":"integer"},"bookWithFirstRedeemer":{"type":"boolean"},"bookings":{"type":"array","items":{"properties":{"bookingComment":{"type":"string"},"travelDate":{"type":"string"},"datePriceCacheId":{"type":"integer"},"timeId":{"type":"string"},"pickupId":{"type":"string"},"commences":{"type":"string"},"pickupTime":{"type":"string"},"pickupLocation":{"type":"string"},"dropoffId":{"type":"string"},"dropoffLocation":{"type":"string"},"dropoffTime":{"type":"string"},"bookingDetailsComment":{"type":"string"},"checkIn":{"type":"string"},"checkOut":{"type":"string"}},"type":"object"}},"optionalFields":{"type":"array","items":{"properties":{"optionalFieldId":{"type":"integer"},"fieldText":{"type":"string"}},"type":"object"}}},"type":"object"}}},"type":"object"}}},"type":"object"}}}},"responses":{"200":{},"403":{},"404":{},"400":{},"500":{}}}},"/apiv1/accommodation/countries":{"get":{"tags":["Accommodation"],"summary":"Get list of accommodation countries (including SOA).","operationId":"accom1_getAccommodationCountries","responses":{"200":{},"400":{},"403":{},"500":{}}}},"/apiv1/accommodation/types":{"get":{"tags":["Accommodation"],"summary":"Get accommodation property types","operationId":"accom4_getAccommodationTypes","responses":{"200":{},"403":{}}}},"/apiv1/accommodation/locations":{"get":{"tags":["Accommodation"],"summary":"Get accommodation state/zone locations","operationId":"accom5_searchAccommodationLocations","parameters":[{"name":"accommCountry","in":"query","required":true,"schema":{"type":"integer"}},{"name":"term","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"default":{}}}},"/apiv1/accommodation/search":{"get":{"tags":["Accommodation"],"summary":"Get available accommodation products by location","operationId":"searchAccommodationProductsByLocationAndFilters","parameters":[{"name":"accommCountry","in":"query","required":true,"schema":{"type":"integer"}},{"name":"accommState","in":"query","required":true,"schema":{"type":"integer"}},{"name":"accommZone","in":"query","required":false,"schema":{"type":"integer"}},{"name":"accommPropertyType","in":"query","required":false,"schema":{"type":"string"}},{"name":"accommSearchKey","in":"query","required":false,"schema":{"type":"string"}},{"name":"roomOrDorm","in":"query","required":false,"schema":{"type":"string","default":"Dorm","enum":["Room","Dorm"]}},{"name":"numberOfDormBeds","in":"query","required":false,"schema":{"type":"integer","default":1}},{"name":"numRooms","in":"query","required":false,"schema":{"type":"integer","default":1}},{"name":"adultsPerRoom","in":"query","required":false,"schema":{"type":"integer","default":1}},{"name":"childrenPerRoom","in":"query","required":false,"schema":{"type":"integer","default":0}},{"name":"childrenAge","in":"query","required":false,"schema":{"type":"string"}},{"name":"checkInDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"checkOutDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"records-start","in":"query","required":false,"schema":{"type":"integer","default":0}},{"name":"records-length","in":"query","required":false,"schema":{"type":"integer","default":10}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string","enum":["asc","desc"]}}],"responses":{"200":{},"400":{},"403":{},"500":{}}}},"/apiv1/test":{"get":{"tags":["Authentication"],"summary":"Test API connectivity and authentication","operationId":"get_tdms_api_v1_test","responses":{"200":{"content":{"application/json":{"schema":{"properties":{"message":{"type":"string"}},"type":"object"}}}},"401":{},"403":{}},"security":[{"bearerAuth":[]},{"oauth2":[]}]}}},"components":{"securitySchemes":{"oauth2":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"/apiv1/token","scopes":[]}}},"bearerAuth":{"type":"http","bearerFormat":"OAuth","scheme":"bearer"}}},"tags":[{"name":"Authentication"},{"name":"Products"},{"name":"Availability and Pricing - Booking system based Live Availability"},{"name":"Availability and Pricing - Siteminder Live Availability"},{"name":"Availability and Pricing - Cached Availability and Live pricing"},{"name":"Availability and Pricing - Package Availability"},{"name":"Availability and Pricing - Check Availability via mail to supplier"},{"name":"Order Placement"},{"name":"Post Order Management"},{"name":"Accommodation"},{"name":"Reports"}]}
