{"openapi":"3.0.0","info":{"title":"TravelDesk Agent API","contact":{"name":"API Support","email":"api@websitetravel.com"},"version":"1.0"},"servers":[{"url":"https://tdms.websitetravel.com","description":"Production Server"},{"url":"https://tdmstest03.websitetravel.com","description":"Test Server"},{"url":"http://tdms.localhost","description":"Development Server"}],"paths":{"/apiv1/token":{"post":{"tags":["Authentication"],"summary":"Get OAuth access token","operationId":"post_tdms_api_v1_gettoken","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["client_id","client_secret"],"properties":{"client_id":{"description":"Your assigned client ID","type":"string"},"client_secret":{"description":"Your assigned client secret","type":"string"}},"type":"object"}},"application/x-www-form-urlencoded":{"schema":{"required":["client_id","client_secret"],"properties":{"client_id":{"description":"Your assigned client ID","type":"string"},"client_secret":{"description":"Your assigned client secret","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"Token successfully generated","content":{"application/json":{"schema":{"properties":{"access_token":{"description":"OAuth access token to use in subsequent requests","type":"string"},"expires_in":{"description":"Token expiration time in seconds","type":"integer"},"token_type":{"description":"Token type (always \"bearer\")","type":"string"},"scope":{"description":"Token scope permissions","type":"string"}},"type":"object"}}}},"400":{"description":"Bad request - missing Content-Type header, invalid request format, or missing required parameters","content":{"application/json":{"schema":{"properties":{"error":{"type":"string"},"error_description":{"type":"string"}},"type":"object"}}}},"401":{"description":"Unauthorized - invalid client credentials","content":{"application/json":{"schema":{"properties":{"error":{"type":"string"},"error_description":{"type":"string"}},"type":"object"}}}},"500":{"description":"Internal server error - missing Content-Type header will return HTTP 500","content":{"application/json":{"schema":{"properties":{"error":{"type":"string"},"error_description":{"type":"string"}},"type":"object"}}}}}}},"/apiv1/agent/paymentmethods":{"get":{"tags":["Order Placement"],"summary":"Get available payment methods","operationId":"step3_getPaymentMethods","responses":{"200":{"description":"List of available payment methods for the agent","content":{"application/json":{"schema":{"properties":{"paymentMethods":{"description":"Array of available payment method objects","type":"array","items":{"properties":{"name":{"description":"Payment method name","type":"string"},"journalAccountId":{"description":"Unique identifier for payment method","type":"integer"},"code":{"description":"Payment method code","type":"string"},"supportsOnlinePayment":{"description":"Whether this method supports online payments via payment gateway","type":"boolean"},"paymentReturnUrl":{"description":"Hostname registered for payment return URLs","type":"string"},"isActive":{"description":"Whether payment method is active (1=active, 0=inactive)","type":"string"}},"type":"object"}}},"type":"object"}}}},"403":{"description":"Returned when the user is not authorized."}}}},"/apiv1/bookingreference":{"post":{"tags":["Order Placement"],"summary":"Obtain a booking reference","operationId":"step1_getBookingReference","responses":{"200":{"description":"Returned when successful."},"403":{"description":"Returned when the user is not authorized."},"400":{"description":"Returned when there is an issue with the data provided."}}}},"/apiv1/bookingdetails/{productPricesDetailsId}":{"get":{"tags":["Availability and Pricing - Booking system based Live Availability"],"summary":"Get booking details for a fareprice","operationId":"get_tdms_api_v1_getbookingdetails","parameters":[{"name":"productPricesDetailsId","in":"path","required":true,"schema":{"type":"integer","pattern":"^\\d+$"}}],"responses":{"200":{"description":"Returned when successful.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"400":{"description":"Returned when the fareprice does not support live availability."},"403":{"description":"Returned when the user is not authorized."},"404":{"description":"Returned when the fareprice does not exist."},"500":{"description":"Returned when invalid combination of parameters is issued."}}}},"/apiv1/categories/{type}":{"get":{"tags":["Products"],"summary":"Get a list of categories of a given type","operationId":"get_tdms_api_v1_getcategories","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["countries","states","regions","localities","activities","accommodation","transport","productclasses"]}},{"name":"term","in":"query","required":false,"schema":{"type":"string"}},{"name":"countries","in":"query","required":false,"schema":{"type":"string"}},{"name":"states","in":"query","required":false,"schema":{"type":"string"}},{"name":"regions","in":"query","required":false,"schema":{"type":"string"}},{"name":"locality","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returned when successful.","content":{"application/json":{"schema":{"properties":{"results":{"type":"array","items":{"properties":{"id":{"type":"integer"},"text":{"type":"string"}},"type":"object"}}},"type":"object"}}}},"403":{"description":"Returned when the user is not authorized."},"400":{"description":"Returned on an invalid request."}}}},"/apiv1/category/{categoryIds}":{"get":{"tags":["Products"],"summary":"Get categories by ID","operationId":"get_tdms_api_v1_getcategory","parameters":[{"name":"categoryIds","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returned when successful."},"404":{"description":"No matching categories found."},"403":{"description":"Returned when the user is not authorized."},"500":{"description":"Internal error."}}}},"/apiv1/products":{"get":{"tags":["Products"],"summary":"Search products","operationId":"get_tdms_api_v1_searchproducts","parameters":[{"name":"name","in":"query","schema":{"type":"string"}},{"name":"supplier","in":"query","schema":{"type":"string"}},{"name":"packages","in":"query","schema":{"type":"string"}},{"name":"countries","in":"query","schema":{"type":"string"}},{"name":"states","in":"query","schema":{"type":"string"}},{"name":"regions","in":"query","schema":{"type":"string"}},{"name":"localities","in":"query","schema":{"type":"string"}},{"name":"accommodation","in":"query","schema":{"type":"string"}},{"name":"activities","in":"query","schema":{"type":"string"}},{"name":"transport","in":"query","schema":{"type":"string"}},{"name":"productclass","in":"query","schema":{"type":"string"}},{"name":"minLat","in":"query","schema":{"type":"number","format":"float"}},{"name":"maxLat","in":"query","schema":{"type":"number","format":"float"}},{"name":"minLng","in":"query","schema":{"type":"number","format":"float"}},{"name":"maxLng","in":"query","schema":{"type":"number","format":"float"}},{"name":"travelStart","in":"query","schema":{"type":"string","format":"date"}},{"name":"travelEnd","in":"query","schema":{"type":"string","format":"date"}},{"name":"duration","in":"query","schema":{"type":"integer"}},{"name":"sortBy","in":"query","schema":{"type":"string","enum":["rrp","name","ranking"]}},{"name":"sortDirection","in":"query","schema":{"type":"string","enum":["asc","desc"]}},{"name":"records-start","in":"query","schema":{"type":"integer","minimum":0}},{"name":"records-length","in":"query","schema":{"type":"integer","maximum":100,"minimum":1}},{"name":"shortSearch","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Product search results","content":{"application/json":{"schema":{"properties":{"totalRecords":{"description":"Total number of matching records in database","type":"string"},"fetchedRecords":{"description":"Number of records returned in this response","type":"integer"},"totalDisplayRecords":{"description":"Total records that can be displayed","type":"string"},"results":{"description":"Array of product objects","type":"array","items":{"description":"Product details with fares and categories","properties":{"productId":{"description":"Product ID","type":"string"},"name":{"description":"Product name","type":"string"},"productClass":{"description":"Product class code (A=Activities, H=Accommodation, T=Transport)","type":"string"},"rrp":{"description":"Recommended retail price","type":"string"},"supplierName":{"description":"Supplier/operator name","type":"string"},"country":{"description":"Country name","type":"string"},"productImagePath":{"description":"Product image URL","type":"string"},"productTeaser":{"description":"Short product description","type":"string"},"categories":{"description":"Product category information","type":"object"},"faresprices":{"description":"Available fares and pricing (empty if shortSearch=true)","type":"array","items":{"description":"Fare and pricing information","properties":{"fareName":{"description":"Name of the fare","type":"string"},"fareTypeId":{"description":"Fare type identifier","type":"string"},"currencyCode":{"description":"Currency code (e.g., AUD)","type":"string"},"rrp":{"description":"Recommended retail price","type":"number"},"wholesale":{"description":"Wholesale price","type":"number"},"productPricesDetailsId":{"description":"Unique fare identifier for booking","type":"integer"}},"type":"object"}}},"type":"object"}}},"type":"object"}}}},"400":{"description":"Bad request - invalid search parameters"},"401":{"description":"Unauthorized - missing or invalid authentication token"},"403":{"description":"Forbidden - user not authorized to access products"},"500":{"description":"Internal server error"}},"security":[{"bearerAuth":[]},{"oauth2":[]}]}},"/apiv1/product/{productIds}":{"get":{"tags":["Products"],"summary":"Get product details by ID","operationId":"get_tdms_api_v1_getproduct","parameters":[{"name":"productIds","in":"path","required":true,"schema":{"type":"string"}},{"name":"includePackageOnly","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Product details successfully retrieved","content":{"application/json":{"schema":{"properties":{"totalRecords":{"description":"Total number of matching records","type":"string"},"fetchedRecords":{"description":"Number of records returned","type":"integer"},"totalDisplayRecords":{"description":"Total records that can be displayed","type":"string"},"results":{"description":"Array of detailed product objects","type":"array","items":{"type":"object"}}},"type":"object"}}}},"400":{"description":"Exception occurred, if no valid Product IDs found."},"403":{"description":"Returned when the user is not authorized."},"500":{"description":"Internal error."}}}},"/apiv1/products/lastUpdate":{"get":{"tags":["Products"],"summary":"Search for product updates","operationId":"get_tdms_api_v1_getallproductupdates","parameters":[{"name":"recordStart","in":"query","required":false,"schema":{"type":"integer"}},{"name":"recordLength","in":"query","required":false,"schema":{"type":"integer"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string"}},{"name":"updatedBefore","in":"query","required":false,"schema":{"type":"string"}},{"name":"updatedAfter","in":"query","required":false,"schema":{"type":"string"}},{"name":"productIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"countries","in":"query","required":false,"schema":{"type":"string"}},{"name":"states","in":"query","required":false,"schema":{"type":"string"}},{"name":"regions","in":"query","required":false,"schema":{"type":"string"}},{"name":"localities","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returned when successful","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"400":{"description":"Returned when invalid arguments are sent. If a valid argument is not given a list of valid types will be displayed in the error message."},"403":{"description":"Returned when the user is not authorized"},"500":{"description":"Exception occurred."}}}},"/apiv1/product/lastupdate/{productIds}":{"get":{"tags":["Products"],"summary":"Get the last updated date for given Products","operationId":"get_tdms_api_v1_lastupdated","parameters":[{"name":"productIds","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returned when successful.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"400":{"description":"Exception occurred, if a valid Product ID is not provided."},"403":{"description":"Returned when the user is not authorized."},"500":{"description":"Internal error."}}}},"/apiv1/suppliers":{"get":{"tags":["Products"],"summary":"Get a list of available suppliers","operationId":"get_tdms_api_v1_getsuppliers","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returned when successful.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"400":{"description":"Exception occurred, if no valid Product IDs found."},"403":{"description":"Returned when the user is not authorized."},"500":{"description":"Internal error."}}}},"/apiv1/media/images/product/{productId}/{size}":{"get":{"tags":["Products"],"summary":"Get a list of images for a given Product","operationId":"get_tdms_api_v1_getproductimagepaths","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"integer","pattern":"\\d+"}},{"name":"size","in":"path","required":true,"schema":{"type":"string","pattern":"sm|med|lg","enum":["sm","med","lg"]}}],"responses":{"200":{"description":"Returned when successful.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"400":{"description":"Exception occurred, if a valid Product ID is not provided."},"403":{"description":"Returned when the user is not authorized."},"500":{"description":"Internal error."}}}},"/apiv1/checkavailabilityrange/{productPricesDetailsId}/{timeId}/{startDate}/{days}":{"get":{"tags":["Availability and Pricing - Booking system based Live Availability"],"summary":"Check availability of a given fareprice","operationId":"get_tdms_api_v1_checkavailabilityrange","parameters":[{"name":"productPricesDetailsId","in":"path","required":true,"schema":{"type":"integer"}},{"name":"timeId","in":"path","required":true,"schema":{"type":"string"}},{"name":"startDate","in":"path","required":true,"schema":{"type":"string","format":"date"}},{"name":"days","in":"path","required":true,"schema":{"type":"integer"}},{"name":"cached","in":"query","required":false,"schema":{"type":"integer","default":0,"enum":[0,1]}}],"responses":{"200":{"description":"Returned when successful.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"403":{"description":"Returned when the user is not authorized."},"500":{"description":"Returned when invalid combination of parameters is issued."}}}},"/apiv1/bookingdetails/detailsToConfirmAvailability/{productPricesDetailsId}/{date}/{timeId}":{"get":{"tags":["Availability and Pricing - Booking system based Live Availability"],"summary":"Get pickup/dropoff details to confirm availability","operationId":"get_tdms_api_v1_detailstoconfirmavailability","parameters":[{"name":"productPricesDetailsId","in":"path","required":true,"schema":{"type":"integer"}},{"name":"date","in":"path","required":true,"schema":{"type":"string","format":"date"}},{"name":"timeId","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Returned when successful.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"403":{"description":"Returned when the user is not authorized."},"500":{"description":"Returned when invalid combination of parameters is issued."}}}},"/apiv1/checkAvailabilityByProductAndRange/{productId}/{fareTypeId}/{startDate}/{endDate}":{"post":{"tags":["Availability and Pricing - Siteminder Live Availability"],"summary":"Check availability by product and date range","operationId":"post_tdms_api_v1_checkavailabilitybyproductandrange","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"integer"}},{"name":"fareTypeId","in":"path","required":true,"schema":{"type":"integer"}},{"name":"startDate","in":"path","required":true,"schema":{"type":"string","format":"date"}},{"name":"endDate","in":"path","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Returned when successful.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"403":{"description":"Returned when the user is not authorized."},"404":{"description":"Returned when the product or fare could not be found."},"500":{"description":"Returned when invalid combination of parameters is issued."}}}},"/apiv1/checkAvailability":{"get":{"tags":["Availability and Pricing - Cached Availability and Live pricing"],"summary":"Check product availability","operationId":"get_tdms_api_v1_checkavailability","parameters":[{"name":"startDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"days","in":"query","required":true,"schema":{"type":"integer","maximum":93}},{"name":"productPricesDetailsIds[]","in":"query","required":true,"schema":{"type":"array","items":{"type":"integer"}}}],"responses":{"200":{"description":"Returned when successful.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"403":{"description":"Returned when the user is not authorized."},"409":{"description":"Returned when endpoint not available, fallback to `GET /apiv1/checkavailabilityrange/...`."},"500":{"description":"Returned when invalid combination of parameters is issued."}},"security":[{"bearerAuth":[]},{"oauth2":[]}]}},"/apiv1/checkAvailability/{productPricesDetailsId}/pricingData":{"get":{"tags":["Availability and Pricing - Cached Availability and Live pricing"],"summary":"Get pricing data for selected options","operationId":"get_tdms_api_v1_getpricingdataforfare","parameters":[{"name":"productPricesDetailsId","in":"path","required":true,"schema":{"type":"integer","pattern":"\\d+"}},{"name":"bookingTimeId","in":"query","required":true,"schema":{"type":"string"}},{"name":"bookingDate","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Returned when successful.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"403":{"description":"Returned when the user is not authorized."},"500":{"description":"Returned when invalid combination of parameters is issued."}}}},"/apiv1/checkAvailability/{productPricesDetailsId}/reservation":{"get":{"tags":["Availability and Pricing - Cached Availability and Live pricing"],"summary":"Check reservation and confirm availability","operationId":"get_tdms_api_v1_checkreservationforfare","parameters":[{"name":"productPricesDetailsId","in":"path","required":true,"schema":{"type":"integer","pattern":"\\d+"}},{"name":"bookingTimeId","in":"query","required":true,"schema":{"type":"string","nullable":true}},{"name":"bookingDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"pickupId","in":"query","required":false,"schema":{"type":"string","nullable":true}},{"name":"dropoffId","in":"query","required":false,"schema":{"type":"string","nullable":true}}],"responses":{"200":{"description":"Returned when successful.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"403":{"description":"Returned when the user is not authorized."},"500":{"description":"Returned when invalid combination of parameters is issued."}}}},"/apiv1/checkAvailabilityByPackageAndDate/{packageId}/{startDate}":{"get":{"tags":["Availability and Pricing - Package Availability"],"summary":"Check availability of options","operationId":"get_tdms_api_v1_checkavailabilitybypackageanddate","parameters":[{"name":"packageId","in":"path","required":true,"schema":{"type":"integer"}},{"name":"startDate","in":"path","required":true,"schema":{"type":"string","format":"date"}},{"name":"packageOptionProductPricesDetailsIds","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"cached","in":"query","required":false,"schema":{"type":"integer","default":0,"enum":[0,1]}}],"responses":{"200":{"description":"Returned when successful."},"403":{"description":"Returned when the user is not authorized."},"404":{"description":"Returned when Package Id not found, or when no package options support availability."},"500":{"description":"Returned when invalid combination of parameters is issued."}}}},"/apiv1/order":{"post":{"tags":["Order Placement"],"summary":"Submit an Order","operationId":"step5_submitOrder","requestBody":{"required":true,"content":{"application/json":{"schema":{"properties":{"bookingReference":{"description":"If no booking reference is supplied (by calling `POST /apiv1/bookingreference` prior), then, one will be created.","type":"string"},"agentReference":{"type":"string"},"paymentMethod":{"type":"string"},"emailVouchers":{"type":"boolean"},"totalCharged":{"type":"number","format":"float"},"creditCardFee":{"type":"number","format":"float"},"processAsQuote":{"type":"boolean"},"referralSourceId":{"type":"integer"},"products":{"type":"array","items":{"properties":{"productPricesDetailsId":{"type":"integer"},"qty":{"type":"integer"},"packageId":{"type":"integer"},"apiProviderId":{"type":"integer"},"datePriceCacheId":{"type":"integer"},"priceOverRidden":{"type":"boolean"},"agentRRP":{"type":"number","format":"float"},"adjustedAgentNR":{"type":"number","format":"float"},"discountClaimReason":{"type":"string"},"staffContactName":{"type":"string"},"rateDetails":{"type":"array","items":{"properties":{"commissionable":{"type":"boolean"},"gross":{"type":"number","format":"float"},"net":{"type":"number","format":"float"},"datePriceCacheId":{"type":"integer"},"allocatedRevenueGroup":{"type":"string"},"name":{"type":"string"}},"type":"object"}}},"type":"object"}},"payments":{"type":"array","items":{"properties":{"amount":{"type":"number","format":"float"},"journalAccountId":{"type":"integer"},"paymentMethod":{"type":"string"},"reference":{"type":"string"}},"type":"object"}},"redeemers":{"type":"array","items":{"properties":{"emailAddress":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"phone":{"type":"string"},"redeemerCountry":{"type":"integer"},"dateOfBirth":{"type":"string","format":"date"},"title":{"type":"string"},"products":{"type":"array","items":{"properties":{"productPricesDetailsId":{"type":"integer"},"redeemerQty":{"type":"integer"},"bookWithFirstRedeemer":{"type":"boolean"},"bookings":{"type":"array","items":{"properties":{"bookingComment":{"type":"string"},"travelDate":{"type":"string"},"datePriceCacheId":{"type":"integer"},"timeId":{"type":"string"},"pickupId":{"type":"string"},"commences":{"type":"string"},"pickupTime":{"type":"string"},"pickupLocation":{"type":"string"},"dropoffId":{"type":"string"},"dropoffLocation":{"type":"string"},"dropoffTime":{"type":"string"},"bookingDetailsComment":{"type":"string"},"optionalFields":{"type":"array","items":{"properties":{"optionalFieldId":{"type":"integer"},"fieldText":{"type":"string"}},"type":"object"}}},"type":"object"}}},"type":"object"}}},"type":"object"}}},"type":"object"}}}},"responses":{"200":{"description":"Order successfully created or quote generated","content":{"application/json":{"schema":{"properties":{"id":{"description":"ID of the created Order","type":"integer"},"hasCreditCardPayment":{"description":"Indicates if order has credit card payment","type":"boolean"},"eBookings":{"description":"eBookings object with booking results","type":"object"},"vouchers":{"description":"Vouchers object with PDF/HTML URLs","type":"object"},"messages":{"description":"Array of non-critical advisory messages","type":"array","items":{"type":"string"}},"bookingReference":{"description":"Booking reference for the order","type":"string"},"quoteUrl":{"description":"Quote URL (only for quotes)","type":"string"}},"type":"object"}}}},"403":{"description":"Returned when the user is not authorized."},"400":{"description":"Returned when there is an issue with the data provided."},"404":{"description":"Returned when there is no match for the bookingReference id supplied."},"409":{"description":"Returned when the bookingReference id has already been used or is related to an order that is currently being processed."},"500":{"description":"Returned when fatal order processing issues are encountered."}}}},"/apiv1/package/{productPricesDetailsId}":{"get":{"tags":["Products"],"summary":"Get options for package","operationId":"get_tdms_api_v1_getpackage","parameters":[{"name":"productPricesDetailsId","in":"path","required":true,"schema":{"type":"integer","pattern":"\\d+"}}],"responses":{"200":{"description":"Returned when successful."},"403":{"description":"Returned when the user is not authorized."},"404":{"description":"Returned when the package could not be found."}}}},"/apiv1/accommodation/availableAccommodationProductsByLocation":{"get":{"tags":["Accommodation"],"summary":"Get available accommodation products by location (alias)","operationId":"getAvailableAccommodationProductsByLocation","parameters":[{"name":"accommCountry","in":"query","required":true,"schema":{"type":"integer"}},{"name":"accommState","in":"query","required":true,"schema":{"type":"integer"}},{"name":"accommZone","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Returned when successful."},"400":{"description":"Returned when there is an issue with the data provided."},"403":{"description":"Returned when the user is not authorized."},"500":{"description":"Internal error."}}}},"/apiv1/voucher/{orderId}.json":{"get":{"tags":["Post Order Management"],"summary":"Get Voucher Details in JSON Format","operationId":"step1_getVoucherDetails","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"integer","pattern":"\\d+"}}],"responses":{"200":{"description":"Returned when successful","content":{"application/json":{"schema":{"description":"Voucher Object","properties":{"agent":{"description":"Agent object","properties":{"name":{"description":"Selling agent name","type":"string"},"address1":{"description":"Address line one","type":"string"},"address2":{"description":"Address line two","type":"string"},"state":{"description":"State","type":"string"},"postcode":{"description":"Postcode","type":"string"},"country":{"description":"Country of selling agent","type":"string"},"phone":{"description":"Phone number","type":"string"},"email":{"description":"Email","type":"string"},"website":{"description":"Website","type":"string"},"logo":{"description":"URL to logo of agent","type":"string"}},"type":"object"},"agentUser":{"description":"Agent User object","properties":{"name":{"description":"Selling Agent staff member's name","type":"string"},"email":{"description":"Email","type":"string"}},"type":"object"},"purchaseDate":{"description":"Purchase date in ISO-8601 format","type":"string"},"customerEmail":{"description":"Email of main customer","type":"string"},"bookingReference":{"description":"Order booking reference","type":"string"},"products":{"description":"Array of product objects","type":"array","items":{"description":"Details of product","properties":{"voucherNumber":{"description":"Voucher Number","type":"string"},"qty":{"description":"Quantity ordered","type":"integer"},"name":{"description":"Product name","type":"string"},"fareName":{"description":"Name of fare sold for product","type":"string"},"depositOnly":{"description":"Whether product is a deposit only fare","type":"boolean"},"remainingAmount":{"description":"Remaining amount to pay. Only applicable if depositOnly = true","type":"number","format":"float"},"instructions":{"description":"Fare instructions","type":"string"},"supplier":{"description":"Supplier object","properties":{"freePhone":{"description":"Free phone number","type":"string"},"suburb":{"description":"Suburb","type":"string"},"name":{"description":"Name","type":"string"},"address1":{"description":"Address line one","type":"string"},"address2":{"description":"Address line two","type":"string"},"state":{"description":"State","type":"string"},"postcode":{"description":"Postcode","type":"string"},"country":{"description":"Country of product supplier","type":"string"},"phone":{"description":"Phone number","type":"string"},"email":{"description":"Email","type":"string"}},"type":"object"},"redeemers":{"description":"Array of redeemer (customer) objects","type":"array","items":{"description":"Details of redeemer","properties":{"qty":{"description":"Quantity applied to this redeemer","type":"integer"},"bookingDetails":{"description":"Array of booking detail objects","type":"array","items":{"description":"Details of booking","properties":{"type":{"description":"Type of booking detail","type":"string"},"travelDate":{"description":"Date booked in ISO-8601 format","type":"string"},"fareValidFrom":{"description":"ISO-8601 date of when fare is valid from","type":"string"},"fareValidUntil":{"description":"ISO-8601 date of when fare is valid until","type":"string"},"commencementTime":{"description":"Time product/fare commences","type":"string"},"pickupTime":{"description":"Pickup time free-text","type":"string"},"pickupLocation":{"description":"Pickup location free-text","type":"string"},"optionalFields":{"description":"Array of optional field objects","type":"array","items":{"description":"Details of optional field","properties":{"name":{"description":"Optional field name","type":"string"},"value":{"description":"Value entered by customer","type":"string"}},"type":"object"}},"eBookingReferenceId":{"description":"Internal booking Id","type":"string"},"detailComment":{"description":"Comments applied to this specific booking detail","type":"string"},"comments":{"description":"Comments applied to the entire voucher","type":"string"},"apiProviderReferenceId":{"description":"Reference Id given if product is booked via third-party","type":"string"},"apiProviderDetails":{"description":"Details from API provider","type":"array","items":{"type":"string"}},"ticketNumber":{"description":"Secondary reference Id given if product is booked via third-party","type":"string"},"levy":{"description":"Levy","type":"number","format":"float"},"levyDescription":{"description":"Levy Description","type":"string"},"fareCurrencyLevy":{"description":"Fare Currency Levy","type":"number","format":"float"},"cancellationFeePolicyDescription":{"description":"Cancellation Fee Policy Description","type":"string"},"cancellationFeePolicyRules":{"description":"Cancellation Fee Policy Rules","type":"array","items":{"type":"string"}}},"type":"object"}},"name":{"description":"Redeemer (customer) name","type":"string"},"phone":{"description":"Redeemer phone","type":"string"},"postcode":{"description":"Postcode","type":"string"},"title":{"description":"Redeemer title (Mr, Mrs, etc)","type":"string"},"dateOfBirth":{"description":"Redeemer date of birth","type":"string"},"email":{"description":"Redeemer email address","type":"string"},"country":{"description":"Redeemer country","type":"string"}},"type":"object"}},"tripId":{"description":"Trip id","type":"integer"},"tourCode":{"description":"Tour code","type":"string"},"startLocation":{"description":"Start location","type":"string"},"endLocation":{"description":"End location","type":"string"}},"type":"object"}},"expires":{"description":"Expiry date of order in ISO-8601 format","type":"string"},"termsAndConditions":{"description":"HTML string of Terms and Conditions","type":"string"},"termsAndConditionsChecklist":{"description":"HTML string of Terms and Conditions checklist","type":"string"},"customerOrderPageUrl":{"description":"HTML string of Customer Order page url","type":"string"}},"type":"object"}}}},"401":{"description":"Not allowed to access order."},"404":{"description":"Order not found."},"500":{"description":"Internal error."}}}},"/apiv1/voucher/{orderId}.{type}":{"get":{"tags":["Post Order Management"],"summary":"Download Vouchers","operationId":"get_tdms_api_v1_getvoucher","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"integer","pattern":"\\d+"}},{"name":"type","in":"path","required":true,"schema":{"type":"string","pattern":"(html|pdf|json)"}}],"responses":{"200":{"description":"Returned when successfully forwarded request."},"500":{"description":"Returned when an error has occurred."}}}},"/apiv1/productpricedetails/{productPricesDetailsId}/availabilityemail":{"post":{"tags":["Availability and Pricing - Check Availability via mail to supplier"],"summary":"Send an availability request email to product's supplier","operationId":"step99_requestSupplierAvailabilityEmail","parameters":[{"name":"body","in":"query","required":false,"schema":{"type":"string"}},{"name":"date","in":"query","required":false,"schema":{"type":"string"}},{"name":"days","in":"query","required":false,"schema":{"type":"integer"}},{"name":"productPricesDetailsId","in":"path","required":true,"schema":{"type":"integer","pattern":"\\d+"}}],"responses":{"204":{"description":"Returned when successful."},"400":{"description":"Unable to send email."},"404":{"description":"Product, Product Price or Fare Type not found."},"500":{"description":"Internal error."}}}},"/apiv1/referralsources":{"get":{"tags":["Order Placement"],"summary":"Get referral sources","operationId":"step2_getReferralSources","responses":{"200":{"description":"Returned when successful.","content":{"application/json":{"schema":{"type":"array","items":{"properties":{"id":{"description":"Referral source ID","type":"integer"},"name":{"description":"Referral source name","type":"string"}},"type":"object"}}}}},"403":{"description":"Returned when the user is not authorized."}}}},"/apiv1/pgw/authenticate/{bookingReference}":{"get":{"tags":["Order Placement"],"summary":"Get Payment Gateway URL","operationId":"step7_getPaymentGatewayUrl","parameters":[{"name":"paymentAmount","in":"query","required":true,"schema":{"type":"number","format":"float"}},{"name":"returnUrl","in":"query","required":true,"schema":{"type":"string"}},{"name":"responseUrl","in":"query","required":false,"schema":{"type":"string"}},{"name":"eBookingUrl","in":"query","required":false,"schema":{"type":"string"}},{"name":"journalAccountId","in":"query","required":false,"schema":{"type":"integer"}},{"name":"orderId","in":"query","required":false,"schema":{"type":"integer"}},{"name":"shouldCustomerPayCreditCardFees","in":"query","required":false,"schema":{"type":"integer"}},{"name":"showProducts","in":"query","required":false,"schema":{"type":"integer"}},{"name":"customerEmailAddress","in":"query","required":false,"schema":{"type":"string"}},{"name":"bookingReference","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Payment gateway URL successfully generated","content":{"application/json":{"schema":{"properties":{"authenticated":{"description":"Indicates if authentication was successful","type":"boolean"},"redirectUrl":{"description":"URL to redirect customer to for payment processing","type":"string"},"quoteUrl":{"description":"URL to customer quote page (only for quotes)","type":"string"}},"type":"object"}}}},"400":{"description":"Returned when there is an issue with the data provided."},"403":{"description":"Returned when the user is not authorized."},"409":{"description":"Returned when a payment has already been made for that booking reference."}}}},"/apiv1/order/{bookingReference}/convertQuote":{"post":{"tags":["Order Placement"],"summary":"Convert Quote to Order","operationId":"step8_convertQuoteToOrder","parameters":[{"name":"bookingReference","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Quote successfully converted to order","content":{"application/json":{"schema":{"properties":{"id":{"description":"ID of the converted Order","type":"integer"},"hasCreditCardPayment":{"description":"Indicates if order has credit card payment","type":"boolean"},"eBookings":{"description":"eBookings object with booking results","type":"object"},"vouchers":{"description":"Vouchers object with PDF/HTML URLs","type":"object"},"messages":{"description":"Array of non-critical advisory messages","type":"array","items":{"type":"string"}},"bookingReference":{"description":"Booking reference for the converted order","type":"string"}},"type":"object"}}}},"400":{"description":"Returned when there is an issue with the data provided"},"403":{"description":"Returned when the user is not authorized"}}}},"/apiv1/order/{bookingReference}/supplierCancellationFees":{"get":{"tags":["Post Order Management"],"summary":"Get cancellation fees for an order","operationId":"step3_getSupplierCancellationFees","parameters":[{"name":"bookingReference","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returned when successful."},"400":{"description":"Returned when the order cannot be cancelled."},"403":{"description":"Returned when the user is not authorized."},"404":{"description":"Returned when the order does not exist."}}}},"/apiv1/order/{bookingReference}/cancel":{"post":{"tags":["Post Order Management"],"summary":"Cancel an Order","operationId":"step4_cancelOrder","parameters":[{"name":"bookingReference","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"totalRefundAmount":{"description":"Gross amount to be refunded to customer.","type":"number","format":"float"},"ordersProductsRefunds":{"type":"array","items":{"properties":{"ordersProductId":{"description":"ID of OrdersProduct to refund.","type":"integer"},"totalQty":{"description":"Quantity of OrdersProduct to refund.","type":"integer"},"agentCancellationFee":{"description":"Amount of agent cancellation fee to apply.","type":"number","format":"float"},"supplierCancellationFee":{"description":"Amount of supplier cancellation fee to apply.","type":"number","format":"float"},"refundCategoryId":{"description":"Category of reason for refund.","type":"integer"},"refundReason":{"description":"Description of reason for refund.","type":"string"},"supplierContactName":{"description":"Name of supplier contact who approved the refund.","type":"string"},"redeemers":{"type":"array","items":{"properties":{"id":{"description":"ID of redeemer to be refunded.","type":"integer"},"qty":{"description":"Qty of OrdersProduct to refund for this redeemer.","type":"integer"},"bookingDetails":{"type":"array","items":{"description":"IDs of BookingDetails to refund for this redeemer.","type":"integer"}}},"type":"object"}}},"type":"object"}},"refundPayments":{"type":"array","items":{"properties":{"amount":{"description":"Amount of payment.","type":"number","format":"float"},"journalAccountId":{"description":"ID of payment type. Either journalAccountId or paymentMethod must be set.","type":"integer"},"paymentMethod":{"description":"ID of payment type. Either journalAccountId or paymentMethod must be set.","type":"string"}},"type":"object"}}},"type":"object"}}}},"responses":{"204":{"description":"Returned when successful."},"400":{"description":"Returned when there is an issue with the data provided."},"403":{"description":"Returned when the user is not authorized."},"500":{"description":"Returned when fatal order processing issues are encountered."}}}},"/apiv1/agentCategories":{"get":{"tags":["Products"],"summary":"Get all agent categories","operationId":"getAllAgentCategories","responses":{"200":{"description":"Returned when successful.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"400":{"description":"Returned on an invalid request."},"403":{"description":"Returned when the user is not authorized."}}}},"/apiv1/agentCategories/{productId}":{"get":{"tags":["Products"],"summary":"Get Agent Categories for a specific Product","operationId":"getAgentCategoriesForProduct","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"integer","pattern":"\\d+"}}],"responses":{"200":{"description":"Returned when successful.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"400":{"description":"Returned on an invalid request."},"403":{"description":"Returned when the user is not authorized."}}}},"/apiv1/customerOrderDetail":{"get":{"tags":["Post Order Management"],"summary":"Get Customer Order Details","operationId":"step2_getCustomerOrderDetail","parameters":[{"name":"email","in":"query","required":false,"schema":{"type":"string"}},{"name":"since","in":"query","required":false,"schema":{"type":"string","pattern":"\\d{0,2}-[A-Za-z]{3}-\\d{4}"}},{"name":"toDate","in":"query","required":false,"schema":{"type":"string","pattern":"\\d{0,2}-[A-Za-z]{3}-\\d{4}"}},{"name":"orderId","in":"query","required":false,"schema":{"type":"integer"}},{"name":"searchOnlyStatus","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns array of customer order details","content":{"application/json":{"schema":{"type":"array","items":{"properties":{"email":{"description":"Customer email address","type":"string"},"firstName":{"description":"Customer first name","type":"string"},"lastName":{"description":"Customer last name","type":"string"},"phone":{"description":"Customer phone number","type":"string"},"productTags":{"description":"Product tags","type":"string","nullable":true},"orderId":{"description":"Order ID","type":"integer"},"bookingReference":{"description":"Booking reference","type":"string"},"salesAgentName":{"description":"Sales agent name","type":"string"},"salesAgentEmail":{"description":"Sales agent email","type":"string"},"salesBranchCode":{"description":"Sales branch code","type":"string"},"brand":{"description":"Brand","type":"string","nullable":true},"datePurchased":{"description":"Date order was purchased","type":"string","format":"date"},"earliestTravelDate":{"description":"Earliest travel date","type":"string","format":"date"},"latestTravelDate":{"description":"Latest travel date","type":"string","format":"date"},"vouchersPDF":{"description":"URL to PDF vouchers","type":"string"},"vouchersHTML":{"description":"URL to HTML vouchers","type":"string"},"orderStatus":{"description":"Order status (Order, Quote, Cancelled, Fully Refunded)","type":"string"},"totalAmount":{"description":"Total order amount","type":"number","format":"float"},"paidAmount":{"description":"Amount paid","type":"number","format":"float"},"netTotal":{"description":"Net total amount","type":"number","format":"float"},"commissionAmount":{"description":"Commission amount","type":"number","format":"float"},"vouchers":{"description":"Array of voucher details","type":"array","items":{"properties":{"voucherNumber":{"description":"Voucher number","type":"string"},"productQty":{"description":"Product quantity","type":"integer"},"productQtyAdjust":{"description":"Product quantity adjustments","type":"integer"}},"type":"object"}},"totalAmountExcludeCCFee":{"description":"Total amount excluding credit card fees","type":"number","format":"float"}},"type":"object"}}}}},"403":{"description":"Returned when the user is not authorized."},"500":{"description":"Internal server error."}}}},"/apiv1/report/productSales":{"post":{"tags":["Reports"],"summary":"Product Sales Report","operationId":"post_tdms_api_v1_getproductsalesreport","requestBody":{"content":{"application/json":{"schema":{"required":["startDate","endDate"],"properties":{"startDate":{"description":"Start Date. Y-M-D","type":"string","format":"date"},"endDate":{"description":"End Date. Y-M-D","type":"string","format":"date"}},"type":"object"}}}},"responses":{"200":{"description":"Returned when successful - returns array of product sales records","content":{"application/json":{}}},"403":{"description":"Returned when the user is not authorized."},"500":{"description":"Internal server error."}}}},"/apiv1/validateQuote/{ordersId}/{bookingReference}":{"get":{"tags":["Order Placement"],"summary":"Validate quote availability","operationId":"step6_validateQuote","parameters":[{"name":"ordersId","in":"path","required":true,"schema":{"type":"integer"}},{"name":"bookingReference","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Quote validation result - returns availability status for each product in the quote","content":{"application/json":{}}},"403":{"description":"Returned when the user is not authorized."},"404":{"description":"Quote not found."},"400":{"description":"It is not in quote state."},"500":{"description":"Internal Server Error."}}}},"/apiv1/validateCart":{"post":{"tags":["Order Placement"],"summary":"Validate cart\nCheck the products in the cart are available","operationId":"step4_validateCart","requestBody":{"required":true,"content":{"application/json":{"schema":{"properties":{"bookingReference":{"description":"bookingReference - optional","type":"string"},"agentReference":{"type":"string"},"paymentMethod":{"type":"string"},"emailVouchers":{"type":"boolean"},"totalCharged":{"type":"number","format":"float"},"creditCardFee":{"type":"number","format":"float"},"processAsQuote":{"type":"boolean"},"referralSourceId":{"type":"integer"},"products":{"type":"array","items":{"properties":{"productPricesDetailsId":{"type":"integer"},"qty":{"type":"integer"},"packageId":{"type":"integer"},"apiProviderId":{"type":"integer"},"datePriceCacheId":{"type":"integer"},"bookingKey":{"description":"defaultRateCode from fareprices in product search","type":"string"},"name":{"description":"Accommodation: Property Name - Name of venue from fareprices in product search","type":"string"},"fareName":{"description":"Accommodation: Room Name - Name of the room from fareprices in product search","type":"string"},"roomCode":{"description":"Accommodation: Room Code - (if available) from fareprices in product search","type":"string"},"priceOverRidden":{"type":"boolean"},"agentRRP":{"type":"number","format":"float"},"adjustedAgentNR":{"type":"number","format":"float"},"discountClaimReason":{"type":"string"},"staffContactName":{"type":"string"},"rateDetails":{"type":"array","items":{"properties":{"commissionable":{"type":"boolean"},"gross":{"type":"number","format":"float"},"net":{"type":"number","format":"float"},"datePriceCacheId":{"type":"integer"},"allocatedRevenueGroup":{"type":"string"},"name":{"type":"string"}},"type":"object"}}},"type":"object"}},"payments":{"type":"array","items":{"properties":{"amount":{"type":"number","format":"float"},"journalAccountId":{"type":"integer"},"paymentMethod":{"type":"string"},"reference":{"type":"string"}},"type":"object"}},"redeemers":{"type":"array","items":{"properties":{"emailAddress":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"phone":{"type":"string"},"redeemerCountry":{"type":"integer"},"dateOfBirth":{"type":"string","format":"date"},"title":{"type":"string"},"products":{"type":"array","items":{"properties":{"productPricesDetailsId":{"type":"integer"},"redeemerQty":{"type":"integer"},"bookWithFirstRedeemer":{"type":"boolean"},"bookings":{"type":"array","items":{"properties":{"bookingComment":{"type":"string"},"travelDate":{"type":"string"},"datePriceCacheId":{"type":"integer"},"timeId":{"type":"string"},"pickupId":{"type":"string"},"commences":{"type":"string"},"pickupTime":{"type":"string"},"pickupLocation":{"type":"string"},"dropoffId":{"type":"string"},"dropoffLocation":{"type":"string"},"dropoffTime":{"type":"string"},"bookingDetailsComment":{"type":"string"},"checkIn":{"description":"Accommodation: check in date","type":"string"},"checkOut":{"description":"Accommodation: check out date","type":"string"}},"type":"object"}},"optionalFields":{"type":"array","items":{"properties":{"optionalFieldId":{"type":"integer"},"fieldText":{"type":"string"}},"type":"object"}}},"type":"object"}}},"type":"object"}}},"type":"object"}}}},"responses":{"200":{"description":"Returned when successful"},"403":{"description":"Returned when the user is not authorized."},"404":{"description":"Quote not found."},"400":{"description":"It is not in quote state."},"500":{"description":"Internal Server Error."}}}},"/apiv1/accommodation/countries":{"get":{"tags":["Accommodation"],"summary":"Get list of accommodation countries (including SOA).","operationId":"accom1_getAccommodationCountries","responses":{"200":{"description":"Returned when successful."},"400":{"description":"Returned when unable to fetch countries list due to unknown error."},"403":{"description":"Returned when the user is not authorized."},"500":{"description":"Internal Server Error."}}}},"/apiv1/accommodation/types":{"get":{"tags":["Accommodation"],"summary":"Get accommodation property types","operationId":"accom4_getAccommodationTypes","responses":{"200":{"description":"Returned when successful."},"403":{"description":"Returned when the user is not authorized."}}}},"/apiv1/accommodation/locations":{"get":{"tags":["Accommodation"],"summary":"Get accommodation state/zone locations","operationId":"accom5_searchAccommodationLocations","parameters":[{"name":"accommCountry","in":"query","required":true,"schema":{"type":"integer"}},{"name":"term","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"default":{"description":""}}}},"/apiv1/accommodation/search":{"get":{"tags":["Accommodation"],"summary":"Get available accommodation products by location","operationId":"searchAccommodationProductsByLocationAndFilters","parameters":[{"name":"accommCountry","in":"query","required":true,"schema":{"type":"integer"}},{"name":"accommState","in":"query","required":true,"schema":{"type":"integer"}},{"name":"accommZone","in":"query","required":false,"schema":{"type":"integer"}},{"name":"accommPropertyType","in":"query","required":false,"schema":{"type":"string"}},{"name":"accommSearchKey","in":"query","required":false,"schema":{"type":"string"}},{"name":"roomOrDorm","in":"query","required":false,"schema":{"type":"string","default":"Dorm","enum":["Room","Dorm"]}},{"name":"numberOfDormBeds","in":"query","required":false,"schema":{"type":"integer","default":1}},{"name":"numRooms","in":"query","required":false,"schema":{"type":"integer","default":1}},{"name":"adultsPerRoom","in":"query","required":false,"schema":{"type":"integer","default":1}},{"name":"childrenPerRoom","in":"query","required":false,"schema":{"type":"integer","default":0}},{"name":"childrenAge","in":"query","required":false,"schema":{"type":"string"}},{"name":"checkInDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"checkOutDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"records-start","in":"query","required":false,"schema":{"type":"integer","default":0}},{"name":"records-length","in":"query","required":false,"schema":{"type":"integer","default":10}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string","enum":["asc","desc"]}}],"responses":{"200":{"description":"Returned when successful."},"400":{"description":"Returned when invalid parameters provided."},"403":{"description":"Returned when the user is not authorized."},"500":{"description":"Internal error."}}}},"/apiv1/test":{"get":{"tags":["Authentication"],"summary":"Test API connectivity and authentication","operationId":"get_tdms_api_v1_test","responses":{"200":{"description":"API test successful","content":{"application/json":{"schema":{"properties":{"message":{"description":"Success message","type":"string"}},"type":"object"}}}},"401":{"description":"Unauthorized - missing or invalid authentication token"},"403":{"description":"Forbidden - user is not authorized to access this endpoint"}},"security":[{"bearerAuth":[]},{"oauth2":[]}]}}},"components":{"securitySchemes":{"oauth2":{"type":"oauth2","description":"OAuth2 authentication using client credentials flow","flows":{"clientCredentials":{"tokenUrl":"/apiv1/token","scopes":{}}}},"bearerAuth":{"type":"http","description":"Bearer token authentication","bearerFormat":"OAuth","scheme":"bearer"}}},"tags":[{"name":"Authentication"},{"name":"Products"},{"name":"Availability and Pricing - Booking system based Live Availability"},{"name":"Availability and Pricing - Siteminder Live Availability"},{"name":"Availability and Pricing - Cached Availability and Live pricing"},{"name":"Availability and Pricing - Package Availability"},{"name":"Availability and Pricing - Check Availability via mail to supplier"},{"name":"Order Placement"},{"name":"Post Order Management"},{"name":"Accommodation"},{"name":"Reports"}]}
