openapi: 3.0.3
info:
  title: 'Freelance Travel App API Documentation'
  description: 'API for the Freelance Travel App - managing users, products, cart, quotes, bookings, and agent integrations.'
  version: 1.0.0
servers:
  -
    url: 'https://confirmation.freelancetravel.com'
tags:
  -
    name: Admin
    description: ''
  -
    name: 'Agent Integration'
    description: "\nAPIs for managing travel agent integrations and upgrades"
  -
    name: 'App Metadata'
    description: ''
  -
    name: Authentication
    description: "\nAPIs for user authentication and account management"
  -
    name: Caching
    description: ''
  -
    name: 'Cart & Quotes'
    description: "\nAPIs for managing shopping cart items, quotes, and bookings"
  -
    name: Discounts
    description: ''
  -
    name: Endpoints
    description: ''
  -
    name: Favourites
    description: ''
  -
    name: Products
    description: "\nAPIs for managing products and home feed"
  -
    name: Redeemers
    description: ''
  -
    name: 'Shared Payments'
    description: ''
  -
    name: System
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'You can retrieve your token by visiting your dashboard and clicking <b>Generate API token</b>.'
security:
  -
    default: []
paths:
  /api/admin/send/notification/topic:
    post:
      summary: 'Send a push notification to a topic.'
      operationId: sendAPushNotificationToATopic
      description: 'Dispatches a push notification to all subscribers of the specified topic.'
      parameters: []
      responses: {  }
      tags:
        - Admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'The notification title'
                  example: architecto
                description:
                  type: string
                  description: 'The notification body text'
                  example: 'Eius et animi quos velit et.'
                topic:
                  type: string
                  description: 'The FCM topic to send to'
                  example: architecto
                data:
                  type: array
                  description: 'Optional additional data payload'
                  example:
                    - architecto
                  items:
                    type: string
              required:
                - title
                - description
                - topic
      security: []
  /api/peterpans/admin/send/notification/topic:
    post:
      summary: 'Send a push notification to a topic.'
      operationId: sendAPushNotificationToATopic
      description: 'Dispatches a push notification to all subscribers of the specified topic.'
      parameters: []
      responses: {  }
      tags:
        - Admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'The notification title'
                  example: architecto
                description:
                  type: string
                  description: 'The notification body text'
                  example: 'Eius et animi quos velit et.'
                topic:
                  type: string
                  description: 'The FCM topic to send to'
                  example: architecto
                data:
                  type: array
                  description: 'Optional additional data payload'
                  example:
                    - architecto
                  items:
                    type: string
              required:
                - title
                - description
                - topic
      security: []
  /api/agent/default/token:
    get:
      summary: ''
      operationId: getApiAgentDefaultToken
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  title: 'Operation successful'
                  code: 200
                  data:
                    access_token: YzE4NzA3NTQ2ZTgzZGFhM2NmNTA0MzAxZDQ5Y2VjZmQwYTMxMDkyYTExZjIzMWJkOWZiMGNhMWI1NjNhN2RkYw
                properties:
                  success:
                    type: boolean
                    example: true
                  title:
                    type: string
                    example: 'Operation successful'
                  code:
                    type: integer
                    example: 200
                  data:
                    type: object
                    properties:
                      access_token:
                        type: string
                        example: YzE4NzA3NTQ2ZTgzZGFhM2NmNTA0MzAxZDQ5Y2VjZmQwYTMxMDkyYTExZjIzMWJkOWZiMGNhMWI1NjNhN2RkYw
      tags:
        - 'Agent Integration'
      security: []
  /api/agent/integration:
    get:
      summary: 'Get Agent Details'
      operationId: getAgentDetails
      description: "Get the current user's linked agent information."
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: '{"status": "success", "message": "User agent details", "data": {...}}'
      tags:
        - 'Agent Integration'
    post:
      summary: 'Add Agent Integration'
      operationId: addAgentIntegration
      description: "Link a travel agent account to the user's profile."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Agent integrated'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Agent integrated'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Agent already integrated'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Agent already integrated'
      tags:
        - 'Agent Integration'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "The agent's email/username."
                  example: agent@example.com
                password:
                  type: string
                  description: "The agent's password."
                  example: secret123
              required:
                - username
                - password
    put:
      summary: ''
      operationId: putApiAgentIntegration
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Agent Integration'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: 'Must be a valid email address.'
                  example: gbailey@example.net
                password:
                  type: string
                  description: ''
                  example: '|]|{+-'
              required:
                - username
                - password
      security: []
    delete:
      summary: ''
      operationId: deleteApiAgentIntegration
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Agent Integration'
      security: []
  /api/agent/integration/token:
    get:
      summary: ''
      operationId: getApiAgentIntegrationToken
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  title: 'Token not provided'
                  code: 401
                  data: []
                properties:
                  success:
                    type: boolean
                    example: false
                  title:
                    type: string
                    example: 'Token not provided'
                  code:
                    type: integer
                    example: 401
                  data:
                    type: array
                    example: []
      tags:
        - 'Agent Integration'
      security: []
  /api/agent/integration/commissionReport:
    get:
      summary: 'Get Commission Report'
      operationId: getCommissionReport
      description: 'Get commission earnings report for a date range.'
      parameters:
        -
          in: query
          name: startDate
          description: 'Start date (Y-m-d format).'
          example: '2024-01-01'
          required: true
          schema:
            type: string
            description: 'Start date (Y-m-d format).'
            example: '2024-01-01'
        -
          in: query
          name: endDate
          description: 'End date (Y-m-d format).'
          example: '2024-12-31'
          required: true
          schema:
            type: string
            description: 'End date (Y-m-d format).'
            example: '2024-12-31'
        -
          in: query
          name: onlyAvailablePoints
          description: 'Filter to only available points.'
          example: true
          required: false
          schema:
            type: boolean
            description: 'Filter to only available points.'
            example: true
        -
          in: query
          name: untilTodayOnly
          description: 'Only include up to today.'
          example: false
          required: false
          schema:
            type: boolean
            description: 'Only include up to today.'
            example: false
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: '{"status": "success", "message": "Commission report", "data": [...]}'
      tags:
        - 'Agent Integration'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                startDate:
                  type: string
                  description: 'Must be a valid date in the format <code>Y-m-d</code>.'
                  example: '2026-02-01'
                endDate:
                  type: string
                  description: 'Must be a valid date in the format <code>Y-m-d</code>.'
                  example: '2026-02-01'
                onlyAvailablePoints:
                  type: boolean
                  description: ''
                  example: true
                  nullable: true
                untilTodayOnly:
                  type: boolean
                  description: ''
                  example: true
                  nullable: true
              required:
                - startDate
                - endDate
  /api/agent/integration/points:
    post:
      summary: ''
      operationId: postApiAgentIntegrationPoints
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Agent Integration'
      security: []
  /api/agent/integration/upgradeToAgent:
    post:
      summary: 'Upgrade to Points Agent'
      operationId: upgradeToPointsAgent
      description: 'Upgrade the user to a points-earning travel agent.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Agent account created'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Agent account created'
      tags:
        - 'Agent Integration'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                referrer:
                  type: string
                  description: "The referrer's email address (optional)."
                  example: referrer@example.com
  /api/agent/integration/upgradeToCommissionAgent:
    post:
      summary: 'Upgrade to Commission Agent'
      operationId: upgradeToCommissionAgent
      description: 'Upgrade from points agent to commission-earning agent with bank details.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Upgraded to commission agent'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Upgraded to commission agent'
      tags:
        - 'Agent Integration'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bankBsb:
                  type: string
                  description: 'The bank BSB number.'
                  example: '012345'
                bankAccount:
                  type: string
                  description: 'The bank account number.'
                  example: '123456789'
                bankCountryShortCode:
                  type: string
                  description: 'Country code (AU, NZ).'
                  example: AU
                businessNumber:
                  type: string
                  description: 'ABN or business number.'
                  example: '12345678901'
                tradingName:
                  type: string
                  description: 'Business trading name.'
                  example: 'Travel Agency Pty Ltd'
              required:
                - bankBsb
                - bankAccount
                - bankCountryShortCode
                - businessNumber
                - tradingName
  /api/webhook/agent/upgradeToCommission:
    post:
      summary: ''
      operationId: postApiWebhookAgentUpgradeToCommission
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Agent Integration'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agentEmail:
                  type: string
                  description: 'Must be a valid email address.'
                  example: gbailey@example.net
                bankBsb:
                  type: string
                  description: ''
                  example: architecto
                bankAccount:
                  type: string
                  description: ''
                  example: architecto
                bankCountryShortCode:
                  type: string
                  description: ''
                  example: architecto
                businessNumber:
                  type: string
                  description: ''
                  example: architecto
                tradingName:
                  type: string
                  description: ''
                  example: architecto
              required:
                - agentEmail
                - bankBsb
                - bankAccount
                - bankCountryShortCode
                - businessNumber
      security: []
  /api/peterpans/agent/default/token:
    get:
      summary: ''
      operationId: getApiPeterpansAgentDefaultToken
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  title: 'Operation successful'
                  code: 200
                  data:
                    access_token: ZDU3NDc0ZGQ2MmFjMTIyYWY1MGI0MzJmNTc0NDdlNzY5MWNjMzRjZTc3MTc3ZWUyNTIxZGU5MzgyMjBhZmM1MA
                properties:
                  success:
                    type: boolean
                    example: true
                  title:
                    type: string
                    example: 'Operation successful'
                  code:
                    type: integer
                    example: 200
                  data:
                    type: object
                    properties:
                      access_token:
                        type: string
                        example: ZDU3NDc0ZGQ2MmFjMTIyYWY1MGI0MzJmNTc0NDdlNzY5MWNjMzRjZTc3MTc3ZWUyNTIxZGU5MzgyMjBhZmM1MA
      tags:
        - 'Agent Integration'
      security: []
  /api/peterpans/agent/integration:
    get:
      summary: 'Get Agent Details'
      operationId: getAgentDetails
      description: "Get the current user's linked agent information."
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: '{"status": "success", "message": "User agent details", "data": {...}}'
      tags:
        - 'Agent Integration'
    post:
      summary: 'Add Agent Integration'
      operationId: addAgentIntegration
      description: "Link a travel agent account to the user's profile."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Agent integrated'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Agent integrated'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Agent already integrated'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Agent already integrated'
      tags:
        - 'Agent Integration'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "The agent's email/username."
                  example: agent@example.com
                password:
                  type: string
                  description: "The agent's password."
                  example: secret123
              required:
                - username
                - password
    put:
      summary: ''
      operationId: putApiPeterpansAgentIntegration
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Agent Integration'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: 'Must be a valid email address.'
                  example: gbailey@example.net
                password:
                  type: string
                  description: ''
                  example: '|]|{+-'
              required:
                - username
                - password
      security: []
    delete:
      summary: ''
      operationId: deleteApiPeterpansAgentIntegration
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Agent Integration'
      security: []
  /api/peterpans/agent/integration/token:
    get:
      summary: ''
      operationId: getApiPeterpansAgentIntegrationToken
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  title: 'Token not provided'
                  code: 401
                  data: []
                properties:
                  success:
                    type: boolean
                    example: false
                  title:
                    type: string
                    example: 'Token not provided'
                  code:
                    type: integer
                    example: 401
                  data:
                    type: array
                    example: []
      tags:
        - 'Agent Integration'
      security: []
  /api/peterpans/agent/integration/commissionReport:
    get:
      summary: 'Get Commission Report'
      operationId: getCommissionReport
      description: 'Get commission earnings report for a date range.'
      parameters:
        -
          in: query
          name: startDate
          description: 'Start date (Y-m-d format).'
          example: '2024-01-01'
          required: true
          schema:
            type: string
            description: 'Start date (Y-m-d format).'
            example: '2024-01-01'
        -
          in: query
          name: endDate
          description: 'End date (Y-m-d format).'
          example: '2024-12-31'
          required: true
          schema:
            type: string
            description: 'End date (Y-m-d format).'
            example: '2024-12-31'
        -
          in: query
          name: onlyAvailablePoints
          description: 'Filter to only available points.'
          example: true
          required: false
          schema:
            type: boolean
            description: 'Filter to only available points.'
            example: true
        -
          in: query
          name: untilTodayOnly
          description: 'Only include up to today.'
          example: false
          required: false
          schema:
            type: boolean
            description: 'Only include up to today.'
            example: false
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: '{"status": "success", "message": "Commission report", "data": [...]}'
      tags:
        - 'Agent Integration'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                startDate:
                  type: string
                  description: 'Must be a valid date in the format <code>Y-m-d</code>.'
                  example: '2026-02-01'
                endDate:
                  type: string
                  description: 'Must be a valid date in the format <code>Y-m-d</code>.'
                  example: '2026-02-01'
                onlyAvailablePoints:
                  type: boolean
                  description: ''
                  example: true
                  nullable: true
                untilTodayOnly:
                  type: boolean
                  description: ''
                  example: true
                  nullable: true
              required:
                - startDate
                - endDate
  /api/peterpans/agent/integration/points:
    post:
      summary: ''
      operationId: postApiPeterpansAgentIntegrationPoints
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Agent Integration'
      security: []
  /api/peterpans/agent/integration/upgradeToAgent:
    post:
      summary: 'Upgrade to Points Agent'
      operationId: upgradeToPointsAgent
      description: 'Upgrade the user to a points-earning travel agent.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Agent account created'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Agent account created'
      tags:
        - 'Agent Integration'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                referrer:
                  type: string
                  description: "The referrer's email address (optional)."
                  example: referrer@example.com
  /api/peterpans/agent/integration/upgradeToCommissionAgent:
    post:
      summary: 'Upgrade to Commission Agent'
      operationId: upgradeToCommissionAgent
      description: 'Upgrade from points agent to commission-earning agent with bank details.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Upgraded to commission agent'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Upgraded to commission agent'
      tags:
        - 'Agent Integration'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bankBsb:
                  type: string
                  description: 'The bank BSB number.'
                  example: '012345'
                bankAccount:
                  type: string
                  description: 'The bank account number.'
                  example: '123456789'
                bankCountryShortCode:
                  type: string
                  description: 'Country code (AU, NZ).'
                  example: AU
                businessNumber:
                  type: string
                  description: 'ABN or business number.'
                  example: '12345678901'
                tradingName:
                  type: string
                  description: 'Business trading name.'
                  example: 'Travel Agency Pty Ltd'
              required:
                - bankBsb
                - bankAccount
                - bankCountryShortCode
                - businessNumber
                - tradingName
  /api/app/minSupportVersion:
    get:
      summary: 'Get the minimum supported mobile app version.'
      operationId: getTheMinimumSupportedMobileAppVersion
      description: "Retrieves the current minimum version requirement for mobile clients.\nReturns \"0.0.0\" if no version has been set."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  title: 'Mobile min supported version'
                  code: 200
                  data:
                    platform: FTX
                    version: 0.0.0
                properties:
                  success:
                    type: boolean
                    example: true
                  title:
                    type: string
                    example: 'Mobile min supported version'
                  code:
                    type: integer
                    example: 200
                  data:
                    type: object
                    properties:
                      platform:
                        type: string
                        example: FTX
                      version:
                        type: string
                        example: 0.0.0
      tags:
        - 'App Metadata'
      security: []
  /api/admin/mobile/minSupportVersion:
    post:
      summary: 'Set the minimum supported mobile app version.'
      operationId: setTheMinimumSupportedMobileAppVersion
      description: "Updates the minimum version requirement for mobile clients.\nClients below this version will be prompted to update."
      parameters: []
      responses: {  }
      tags:
        - 'App Metadata'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                version:
                  type: string
                  description: 'The minimum version (e.g., "1.2.0")'
                  example: architecto
              required:
                - version
      security: []
  /api/peterpans/app/minSupportVersion:
    get:
      summary: 'Get the minimum supported mobile app version.'
      operationId: getTheMinimumSupportedMobileAppVersion
      description: "Retrieves the current minimum version requirement for mobile clients.\nReturns \"0.0.0\" if no version has been set."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  title: 'Mobile min supported version'
                  code: 200
                  data:
                    platform: PTX
                    version: 0.0.0
                properties:
                  success:
                    type: boolean
                    example: true
                  title:
                    type: string
                    example: 'Mobile min supported version'
                  code:
                    type: integer
                    example: 200
                  data:
                    type: object
                    properties:
                      platform:
                        type: string
                        example: PTX
                      version:
                        type: string
                        example: 0.0.0
      tags:
        - 'App Metadata'
      security: []
  /api/peterpans/admin/mobile/minSupportVersion:
    post:
      summary: 'Set the minimum supported mobile app version.'
      operationId: setTheMinimumSupportedMobileAppVersion
      description: "Updates the minimum version requirement for mobile clients.\nClients below this version will be prompted to update."
      parameters: []
      responses: {  }
      tags:
        - 'App Metadata'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                version:
                  type: string
                  description: 'The minimum version (e.g., "1.2.0")'
                  example: architecto
              required:
                - version
      security: []
  /api/user/signup/email:
    post:
      summary: 'Sign Up with Email'
      operationId: signUpWithEmail
      description: 'Register a new user account using email and password.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: successfully
                  data:
                    uuid: ...
                    email: ...
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: successfully
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                        example: ...
                      email:
                        type: string
                        example: ...
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Email already exists. Please login.'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Email already exists. Please login.'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "The user's full name."
                  example: 'John Doe'
                email:
                  type: string
                  description: "The user's email address."
                  example: john@example.com
                password:
                  type: string
                  description: 'The password (min 6 characters).'
                  example: secret123
              required:
                - name
                - email
                - password
      security: []
  /api/user/login/email:
    post:
      summary: 'Login with Email'
      operationId: loginWithEmail
      description: 'Authenticate a user with email and password.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Access and Refresh tokens'
                  data:
                    accessToken: ...
                    refreshToken: ...
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Access and Refresh tokens'
                  data:
                    type: object
                    properties:
                      accessToken:
                        type: string
                        example: ...
                      refreshToken:
                        type: string
                        example: ...
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Invalid Credentials'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Invalid Credentials'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "The user's email address."
                  example: john@example.com
                password:
                  type: string
                  description: "The user's password."
                  example: secret123
              required:
                - email
                - password
      security: []
  /api/user/login/email/forgot-password:
    post:
      summary: 'Send Forgot Password OTP'
      operationId: sendForgotPasswordOTP
      description: "Send an OTP to the user's email for password reset."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'OTP sent to your email'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'OTP sent to your email'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Email not registered'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Email not registered'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "The user's email address."
                  example: john@example.com
              required:
                - email
      security: []
  /api/user/email/otp/verify:
    post:
      summary: 'Verify OTP'
      operationId: verifyOTP
      description: "Verify the OTP code sent to user's email."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Otp Verfied'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Otp Verfied'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Invalid OTP/email'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Invalid OTP/email'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "The user's email address."
                  example: john@example.com
                otp:
                  type: string
                  description: 'The 6-digit OTP code.'
                  example: '123456'
              required:
                - email
                - otp
      security: []
  /api/user/email/reset-password:
    post:
      summary: 'Reset Password with OTP'
      operationId: resetPasswordWithOTP
      description: 'Reset password using OTP verification.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Password changed successfully'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Password changed successfully'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "The user's email."
                  example: john@example.com
                otp:
                  type: string
                  description: 'The OTP code received via email.'
                  example: '123456'
                new_password:
                  type: string
                  description: 'The new password.'
                  example: newpassword123
              required:
                - email
                - otp
                - new_password
      security: []
  /api/user/login/apple:
    post:
      summary: 'Authenticate user via Apple Sign-In.'
      operationId: authenticateUserViaAppleSignIn
      description: "Validates the Apple access token, creates or updates the user,\nand returns JWT tokens for authentication."
      parameters: []
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: "The user's first name (for new users)"
                  example: architecto
                  nullable: true
                last_name:
                  type: string
                  description: "The user's last name (for new users)"
                  example: architecto
                  nullable: true
                access_token:
                  type: string
                  description: 'The Apple identity token'
                  example: architecto
              required:
                - access_token
      security: []
  /api/user/callback/apple:
    post:
      summary: 'Handle Apple Sign-In callback redirect.'
      operationId: handleAppleSignInCallbackRedirect
      description: "Redirects the Apple OAuth callback to the mobile app\nusing an intent URL with the authentication data."
      parameters: []
      responses: {  }
      tags:
        - Authentication
      security: []
  /api/user/callback/apple/v2:
    post:
      summary: ''
      operationId: postApiUserCallbackAppleV2
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Authentication
      security: []
  /api/user/login/google:
    post:
      summary: 'Authenticate user via Google access token.'
      operationId: authenticateUserViaGoogleAccessToken
      description: "Validates the Google access token from mobile app,\ncreates or updates the user, and returns JWT tokens."
      parameters: []
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                google_access_token:
                  type: string
                  description: 'The Google access token'
                  example: architecto
              required:
                - google_access_token
      security: []
  /api/user/token/access:
    post:
      summary: 'Refresh Access Token'
      operationId: refreshAccessToken
      description: 'Generate a new access token using a refresh token.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'New access token'
                  data:
                    accessToken: ...
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'New access token'
                  data:
                    type: object
                    properties:
                      accessToken:
                        type: string
                        example: ...
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: "The user's UUID."
                  example: 550e8400-e29b-41d4-a716-446655440000
                refresh_token:
                  type: string
                  description: 'The refresh token.'
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
              required:
                - user_id
                - refresh_token
      security: []
  /api/user/detail:
    get:
      summary: 'Get User Details'
      operationId: getUserDetails
      description: "Get the authenticated user's profile details."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Account details'
                  data:
                    uuid: ...
                    email: ...
                    name: ...
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Account details'
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                        example: ...
                      email:
                        type: string
                        example: ...
                      name:
                        type: string
                        example: ...
      tags:
        - Authentication
    put:
      summary: 'Update User Profile'
      operationId: updateUserProfile
      description: "Update the authenticated user's profile information."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Profile updated'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Profile updated'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: "The user's title (Mr, Mrs, etc)."
                  example: Mr
                first_name:
                  type: string
                  description: "The user's first name."
                  example: John
                last_name:
                  type: string
                  description: "The user's last name."
                  example: Doe
                date_of_birth:
                  type: string
                  description: 'Date of birth (d-M-Y format).'
                  example: 15-Jan-1990
                phone_number:
                  type: string
                  description: "The user's phone number."
                  example: '+61412345678'
                post_code:
                  type: string
                  description: "The user's postal code."
                  example: '2000'
                country_code:
                  type: string
                  description: "The user's country code."
                  example: AU
              required:
                - first_name
                - last_name
                - date_of_birth
  /api/user/email/send-verification:
    post:
      summary: 'Resend Verification Email'
      operationId: resendVerificationEmail
      description: 'Resend the email verification OTP to the user.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Verification email sent'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Verification email sent'
      tags:
        - Authentication
  /api/user/nickname:
    put:
      summary: ''
      operationId: putApiUserNickname
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                  description: 'Must not be greater than 50 characters.'
                  example: b
              required:
                - nickname
      security: []
  /api/user/delete:
    delete:
      summary: 'Delete Account (Temporary)'
      operationId: deleteAccountTemporary
      description: "Mark the user's account for deletion. Account will be permanently deleted after retention period."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Account scheduled for deletion'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Account scheduled for deletion'
      tags:
        - Authentication
  /api/user/detail/change-password:
    post:
      summary: 'Change Password'
      operationId: changePassword
      description: "Change the authenticated user's password."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Password changed'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Password changed'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Incorrect current password'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Incorrect current password'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                current_password:
                  type: string
                  description: 'The current password.'
                  example: oldpassword123
                new_password:
                  type: string
                  description: 'The new password (min 6 characters).'
                  example: newpassword123
              required:
                - current_password
                - new_password
  /api/user/apple/new-email/add:
    post:
      summary: ''
      operationId: postApiUserAppleNewEmailAdd
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                new_email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: gbailey@example.net
              required:
                - new_email
      security: []
  /api/user/apple/new-email/verify:
    post:
      summary: ''
      operationId: postApiUserAppleNewEmailVerify
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                otp:
                  type: string
                  description: ''
                  example: architecto
              required:
                - otp
      security: []
  /api/user/points/show-hide:
    post:
      summary: ''
      operationId: postApiUserPointsShowHide
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Authentication
      security: []
  /api/user/fcm/token/add:
    post:
      summary: ''
      operationId: postApiUserFcmTokenAdd
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fcmToken:
                  type: string
                  description: ''
                  example: architecto
                userAgentInfo:
                  type: string
                  description: ''
                  example: architecto
                  nullable: true
              required:
                - fcmToken
      security: []
  '/api/user/fcm/token/{fcmToken}':
    delete:
      summary: ''
      operationId: deleteApiUserFcmTokenFcmToken
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Authentication
      security: []
    parameters:
      -
        in: path
        name: fcmToken
        description: ''
        example: architecto
        required: true
        schema:
          type: string
  /api/user/metaData:
    get:
      summary: ''
      operationId: getApiUserMetaData
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  title: 'Token not provided'
                  code: 401
                  data: []
                properties:
                  success:
                    type: boolean
                    example: false
                  title:
                    type: string
                    example: 'Token not provided'
                  code:
                    type: integer
                    example: 401
                  data:
                    type: array
                    example: []
      tags:
        - Authentication
      security: []
  /api/peterpans/user/signup/email:
    post:
      summary: 'Sign Up with Email'
      operationId: signUpWithEmail
      description: 'Register a new user account using email and password.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: successfully
                  data:
                    uuid: ...
                    email: ...
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: successfully
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                        example: ...
                      email:
                        type: string
                        example: ...
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Email already exists. Please login.'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Email already exists. Please login.'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "The user's full name."
                  example: 'John Doe'
                email:
                  type: string
                  description: "The user's email address."
                  example: john@example.com
                password:
                  type: string
                  description: 'The password (min 6 characters).'
                  example: secret123
              required:
                - name
                - email
                - password
      security: []
  /api/peterpans/user/login/email:
    post:
      summary: 'Login with Email'
      operationId: loginWithEmail
      description: 'Authenticate a user with email and password.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Access and Refresh tokens'
                  data:
                    accessToken: ...
                    refreshToken: ...
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Access and Refresh tokens'
                  data:
                    type: object
                    properties:
                      accessToken:
                        type: string
                        example: ...
                      refreshToken:
                        type: string
                        example: ...
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Invalid Credentials'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Invalid Credentials'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "The user's email address."
                  example: john@example.com
                password:
                  type: string
                  description: "The user's password."
                  example: secret123
              required:
                - email
                - password
      security: []
  /api/peterpans/user/login/email/forgot-password:
    post:
      summary: 'Send Forgot Password OTP'
      operationId: sendForgotPasswordOTP
      description: "Send an OTP to the user's email for password reset."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'OTP sent to your email'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'OTP sent to your email'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Email not registered'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Email not registered'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "The user's email address."
                  example: john@example.com
              required:
                - email
      security: []
  /api/peterpans/user/email/otp/verify:
    post:
      summary: 'Verify OTP'
      operationId: verifyOTP
      description: "Verify the OTP code sent to user's email."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Otp Verfied'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Otp Verfied'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Invalid OTP/email'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Invalid OTP/email'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "The user's email address."
                  example: john@example.com
                otp:
                  type: string
                  description: 'The 6-digit OTP code.'
                  example: '123456'
              required:
                - email
                - otp
      security: []
  /api/peterpans/user/email/reset-password:
    post:
      summary: 'Reset Password with OTP'
      operationId: resetPasswordWithOTP
      description: 'Reset password using OTP verification.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Password changed successfully'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Password changed successfully'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "The user's email."
                  example: john@example.com
                otp:
                  type: string
                  description: 'The OTP code received via email.'
                  example: '123456'
                new_password:
                  type: string
                  description: 'The new password.'
                  example: newpassword123
              required:
                - email
                - otp
                - new_password
      security: []
  /api/peterpans/user/login/apple:
    post:
      summary: 'Authenticate user via Apple Sign-In.'
      operationId: authenticateUserViaAppleSignIn
      description: "Validates the Apple access token, creates or updates the user,\nand returns JWT tokens for authentication."
      parameters: []
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: "The user's first name (for new users)"
                  example: architecto
                  nullable: true
                last_name:
                  type: string
                  description: "The user's last name (for new users)"
                  example: architecto
                  nullable: true
                access_token:
                  type: string
                  description: 'The Apple identity token'
                  example: architecto
              required:
                - access_token
      security: []
  /api/peterpans/user/callback/apple:
    post:
      summary: 'Handle Apple Sign-In callback redirect.'
      operationId: handleAppleSignInCallbackRedirect
      description: "Redirects the Apple OAuth callback to the mobile app\nusing an intent URL with the authentication data."
      parameters: []
      responses: {  }
      tags:
        - Authentication
      security: []
  /api/peterpans/user/callback/apple/v2:
    post:
      summary: ''
      operationId: postApiPeterpansUserCallbackAppleV2
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Authentication
      security: []
  /api/peterpans/user/login/google:
    post:
      summary: 'Authenticate user via Google access token.'
      operationId: authenticateUserViaGoogleAccessToken
      description: "Validates the Google access token from mobile app,\ncreates or updates the user, and returns JWT tokens."
      parameters: []
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                google_access_token:
                  type: string
                  description: 'The Google access token'
                  example: architecto
              required:
                - google_access_token
      security: []
  /api/peterpans/user/token/access:
    post:
      summary: 'Refresh Access Token'
      operationId: refreshAccessToken
      description: 'Generate a new access token using a refresh token.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'New access token'
                  data:
                    accessToken: ...
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'New access token'
                  data:
                    type: object
                    properties:
                      accessToken:
                        type: string
                        example: ...
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: "The user's UUID."
                  example: 550e8400-e29b-41d4-a716-446655440000
                refresh_token:
                  type: string
                  description: 'The refresh token.'
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
              required:
                - user_id
                - refresh_token
      security: []
  /api/peterpans/user/detail:
    get:
      summary: 'Get User Details'
      operationId: getUserDetails
      description: "Get the authenticated user's profile details."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Account details'
                  data:
                    uuid: ...
                    email: ...
                    name: ...
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Account details'
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                        example: ...
                      email:
                        type: string
                        example: ...
                      name:
                        type: string
                        example: ...
      tags:
        - Authentication
    put:
      summary: 'Update User Profile'
      operationId: updateUserProfile
      description: "Update the authenticated user's profile information."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Profile updated'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Profile updated'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: "The user's title (Mr, Mrs, etc)."
                  example: Mr
                first_name:
                  type: string
                  description: "The user's first name."
                  example: John
                last_name:
                  type: string
                  description: "The user's last name."
                  example: Doe
                date_of_birth:
                  type: string
                  description: 'Date of birth (d-M-Y format).'
                  example: 15-Jan-1990
                phone_number:
                  type: string
                  description: "The user's phone number."
                  example: '+61412345678'
                post_code:
                  type: string
                  description: "The user's postal code."
                  example: '2000'
                country_code:
                  type: string
                  description: "The user's country code."
                  example: AU
              required:
                - first_name
                - last_name
                - date_of_birth
  /api/peterpans/user/email/send-verification:
    post:
      summary: 'Resend Verification Email'
      operationId: resendVerificationEmail
      description: 'Resend the email verification OTP to the user.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Verification email sent'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Verification email sent'
      tags:
        - Authentication
  /api/peterpans/user/nickname:
    put:
      summary: ''
      operationId: putApiPeterpansUserNickname
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                  description: 'Must not be greater than 50 characters.'
                  example: b
              required:
                - nickname
      security: []
  /api/peterpans/user/delete:
    delete:
      summary: 'Delete Account (Temporary)'
      operationId: deleteAccountTemporary
      description: "Mark the user's account for deletion. Account will be permanently deleted after retention period."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Account scheduled for deletion'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Account scheduled for deletion'
      tags:
        - Authentication
  /api/peterpans/user/detail/change-password:
    post:
      summary: 'Change Password'
      operationId: changePassword
      description: "Change the authenticated user's password."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Password changed'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Password changed'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Incorrect current password'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Incorrect current password'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                current_password:
                  type: string
                  description: 'The current password.'
                  example: oldpassword123
                new_password:
                  type: string
                  description: 'The new password (min 6 characters).'
                  example: newpassword123
              required:
                - current_password
                - new_password
  /api/peterpans/user/apple/new-email/add:
    post:
      summary: ''
      operationId: postApiPeterpansUserAppleNewEmailAdd
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                new_email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: gbailey@example.net
              required:
                - new_email
      security: []
  /api/peterpans/user/apple/new-email/verify:
    post:
      summary: ''
      operationId: postApiPeterpansUserAppleNewEmailVerify
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                otp:
                  type: string
                  description: ''
                  example: architecto
              required:
                - otp
      security: []
  /api/peterpans/user/points/show-hide:
    post:
      summary: ''
      operationId: postApiPeterpansUserPointsShowHide
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Authentication
      security: []
  /api/peterpans/user/fcm/token/add:
    post:
      summary: ''
      operationId: postApiPeterpansUserFcmTokenAdd
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fcmToken:
                  type: string
                  description: ''
                  example: architecto
                userAgentInfo:
                  type: string
                  description: ''
                  example: architecto
                  nullable: true
              required:
                - fcmToken
      security: []
  '/api/peterpans/user/fcm/token/{fcmToken}':
    delete:
      summary: ''
      operationId: deleteApiPeterpansUserFcmTokenFcmToken
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Authentication
      security: []
    parameters:
      -
        in: path
        name: fcmToken
        description: ''
        example: architecto
        required: true
        schema:
          type: string
  /api/peterpans/user/metaData:
    get:
      summary: ''
      operationId: getApiPeterpansUserMetaData
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  title: 'Token not provided'
                  code: 401
                  data: []
                properties:
                  success:
                    type: boolean
                    example: false
                  title:
                    type: string
                    example: 'Token not provided'
                  code:
                    type: integer
                    example: 401
                  data:
                    type: array
                    example: []
      tags:
        - Authentication
      security: []
  '/api/cache/product/{tdmsProductId}':
    get:
      summary: 'Cache the latest product details from TDMS.'
      operationId: cacheTheLatestProductDetailsFromTDMS
      description: "Fetches the product's last update timestamp and compares it with\nthe cached version. If outdated, retrieves fresh product details\nfrom TDMS API and updates the cache."
      parameters: []
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Server Error'
                properties:
                  message:
                    type: string
                    example: 'Server Error'
      tags:
        - Caching
      security: []
    parameters:
      -
        in: path
        name: tdmsProductId
        description: ''
        example: architecto
        required: true
        schema:
          type: string
  '/api/cache/product/{tdmsProductId}/price/{ppdid}/details':
    get:
      summary: 'Cache product price availability and booking details.'
      operationId: cacheProductPriceAvailabilityAndBookingDetails
      description: "Fetches and caches fareprice availability for a specific product\nprice detail ID, along with booking details. Requires query parameters\nfor API provider, fare type, booking date, and time."
      parameters:
        -
          in: query
          name: apiProviderId
          description: 'The API provider ID'
          example: 16
          required: true
          schema:
            type: integer
            description: 'The API provider ID'
            example: 16
        -
          in: query
          name: groupFaresForAvailabilityCheck
          description: 'Whether to group fares'
          example: false
          required: true
          schema:
            type: boolean
            description: 'Whether to group fares'
            example: false
        -
          in: query
          name: fareTypeId
          description: 'The fare type ID'
          example: 16
          required: true
          schema:
            type: integer
            description: 'The fare type ID'
            example: 16
        -
          in: query
          name: bookingDate
          description: 'date The booking date (Y-m-d format)'
          example: architecto
          required: true
          schema:
            type: string
            description: 'date The booking date (Y-m-d format)'
            example: architecto
        -
          in: query
          name: timeId
          description: 'The time slot ID'
          example: architecto
          required: true
          schema:
            type: string
            description: 'The time slot ID'
            example: architecto
      responses:
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  title: 'Validation error'
                  code: 400
                  data:
                    bookingDate:
                      - 'The booking date is not a valid date.'
                properties:
                  success:
                    type: boolean
                    example: false
                  title:
                    type: string
                    example: 'Validation error'
                  code:
                    type: integer
                    example: 400
                  data:
                    type: object
                    properties:
                      bookingDate:
                        type: array
                        example:
                          - 'The booking date is not a valid date.'
                        items:
                          type: string
      tags:
        - Caching
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                apiProviderId:
                  type: integer
                  description: ''
                  example: 16
                groupFaresForAvailabilityCheck:
                  type: boolean
                  description: ''
                  example: false
                fareTypeId:
                  type: integer
                  description: ''
                  example: 16
                bookingDate:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2026-02-01T05:49:35'
                timeId:
                  type: string
                  description: ''
                  example: architecto
              required:
                - apiProviderId
                - groupFaresForAvailabilityCheck
                - fareTypeId
                - bookingDate
                - timeId
      security: []
    parameters:
      -
        in: path
        name: tdmsProductId
        description: ''
        example: architecto
        required: true
        schema:
          type: string
      -
        in: path
        name: ppdid
        description: ''
        example: architecto
        required: true
        schema:
          type: string
  /api/cache/user/resources:
    get:
      summary: 'Queue a job to cache user resources.'
      operationId: queueAJobToCacheUserResources
      description: "Dispatches a background job to cache user-specific data like\ncart items, quotes, and preferences. Requires either an authenticated\nuser or a valid session ID."
      parameters: []
      responses:
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  title: 'Unauthorized user'
                  code: 400
                  data: []
                properties:
                  success:
                    type: boolean
                    example: false
                  title:
                    type: string
                    example: 'Unauthorized user'
                  code:
                    type: integer
                    example: 400
                  data:
                    type: array
                    example: []
      tags:
        - Caching
      security: []
  /api/product/feed/categories:
    get:
      summary: ''
      operationId: getApiProductFeedCategories
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  title: 'Product categories'
                  code: 200
                  data:
                    Boat:
                      - Boat
                      - Boat
                    Bungalow:
                      - Bungalow
                    Cabins:
                      - Cabins
                    Camping:
                      - Camping
                      - Camping
                    Activity:
                      - Camping
                      - '4WD Tours'
                      - Abseiling
                      - Adventure
                      - 'Alpine Hiking'
                      - Ballooning
                      - 'Bungy Jumping'
                      - 'Camel Riding'
                      - Camping
                      - Canoeing
                      - Canyoning
                      - Diving
                      - Golf
                      - Hiking
                      - 'Ice Climbing'
                      - 'Jet Boating'
                      - 'Jet Ski'
                      - Kayaking
                      - 'Live Aboard Diving'
                      - 'Mountain Biking'
                      - 'Paddle Board'
                      - Paragliding
                      - Rafting
                      - 'Rock Climbing'
                      - 'Sand Boarding'
                      - 'Scenic Flights / Heli'
                      - Shopping
                      - 'Ski/Snowboarding/ski sports'
                      - Skydiving
                      - 'Skydiving - Indoor'
                      - Snorkelling
                      - Surfing
                      - Swimming
                      - 'Water Sports'
                      - Ziplining
                    Hostel:
                      - Dorms
                      - Double/Twin
                      - Hostel
                      - Single
                      - Triple
                    Glamping:
                      - Glamping
                    Homestay:
                      - Homestay
                    'Sleeper Train':
                      - 'Sleeper Train'
                    Suite:
                      - Suite
                    Villa:
                      - Villa
                    4WD:
                      - 4WD
                    Bus:
                      - Bus
                      - 'Hop on Hop Off'
                      - 'Shuttle Bus'
                    Campervan:
                      - Campervan
                    Coach:
                      - Coach
                    Ferry:
                      - Ferry
                    Flights:
                      - Flights
                    'Hire Car':
                      - 'Hire Car'
                    'Island Hopping':
                      - 'Island Hopping'
                      - 'Island Hopping'
                    'Sail & Cruise':
                      - 'Island Hopping'
                      - Cruise
                      - 'Island Hopping'
                      - 'River Cruises'
                    Train:
                      - Trains
                    Attraction:
                      - Aquarium
                      - Attraction
                      - 'Hot Pools'
                      - Museums
                      - 'National Parks'
                      - 'Theme Parks'
                    'Food & Drink':
                      - 'Beer/Cider Tours'
                      - 'Brewery Tours'
                      - 'Food Tour'
                      - 'Party Tour'
                      - Wineries
                    Hire:
                      - 'Bike Hire'
                      - Segway
                      - 'Self Drive'
                    Tours:
                      - 'Bike Tours'
                      - Caving
                      - 'City Tour'
                      - 'Eco Tour'
                      - Farm
                      - Fishing
                      - 'Forest / Rainforest'
                      - 'Geothermal Parks'
                      - 'Glacier Hiking'
                      - 'Marine Parks / Reserve'
                      - Nature
                      - Outback
                      - Safari
                      - Sailing
                      - 'Scenic Tour / Sightseeing'
                      - 'Sunset tour'
                      - 'Train Tour'
                      - 'Volcano Tours'
                      - Voluntourism
                      - 'Walking Tours'
                    'Wildlife & Animals':
                      - 'Crocodile Safari'
                      - 'Dolphins/ Dolphin Swim'
                      - 'Whale Watching'
                      - 'Zoos / Wildlife Parks'
                    'Health & Wellness':
                      - 'Glacier Hot Pools/Massage'
                      - Massage
                      - Retreat
                      - 'Spa Treatments'
                      - Yoga
                properties:
                  success:
                    type: boolean
                    example: true
                  title:
                    type: string
                    example: 'Product categories'
                  code:
                    type: integer
                    example: 200
                  data:
                    type: object
                    properties:
                      Boat:
                        type: array
                        example:
                          - Boat
                          - Boat
                        items:
                          type: string
                      Bungalow:
                        type: array
                        example:
                          - Bungalow
                        items:
                          type: string
                      Cabins:
                        type: array
                        example:
                          - Cabins
                        items:
                          type: string
                      Camping:
                        type: array
                        example:
                          - Camping
                          - Camping
                        items:
                          type: string
                      Activity:
                        type: array
                        example:
                          - Camping
                          - '4WD Tours'
                          - Abseiling
                          - Adventure
                          - 'Alpine Hiking'
                          - Ballooning
                          - 'Bungy Jumping'
                          - 'Camel Riding'
                          - Camping
                          - Canoeing
                          - Canyoning
                          - Diving
                          - Golf
                          - Hiking
                          - 'Ice Climbing'
                          - 'Jet Boating'
                          - 'Jet Ski'
                          - Kayaking
                          - 'Live Aboard Diving'
                          - 'Mountain Biking'
                          - 'Paddle Board'
                          - Paragliding
                          - Rafting
                          - 'Rock Climbing'
                          - 'Sand Boarding'
                          - 'Scenic Flights / Heli'
                          - Shopping
                          - 'Ski/Snowboarding/ski sports'
                          - Skydiving
                          - 'Skydiving - Indoor'
                          - Snorkelling
                          - Surfing
                          - Swimming
                          - 'Water Sports'
                          - Ziplining
                        items:
                          type: string
                      Hostel:
                        type: array
                        example:
                          - Dorms
                          - Double/Twin
                          - Hostel
                          - Single
                          - Triple
                        items:
                          type: string
                      Glamping:
                        type: array
                        example:
                          - Glamping
                        items:
                          type: string
                      Homestay:
                        type: array
                        example:
                          - Homestay
                        items:
                          type: string
                      'Sleeper Train':
                        type: array
                        example:
                          - 'Sleeper Train'
                        items:
                          type: string
                      Suite:
                        type: array
                        example:
                          - Suite
                        items:
                          type: string
                      Villa:
                        type: array
                        example:
                          - Villa
                        items:
                          type: string
                      4WD:
                        type: array
                        example:
                          - 4WD
                        items:
                          type: string
                      Bus:
                        type: array
                        example:
                          - Bus
                          - 'Hop on Hop Off'
                          - 'Shuttle Bus'
                        items:
                          type: string
                      Campervan:
                        type: array
                        example:
                          - Campervan
                        items:
                          type: string
                      Coach:
                        type: array
                        example:
                          - Coach
                        items:
                          type: string
                      Ferry:
                        type: array
                        example:
                          - Ferry
                        items:
                          type: string
                      Flights:
                        type: array
                        example:
                          - Flights
                        items:
                          type: string
                      'Hire Car':
                        type: array
                        example:
                          - 'Hire Car'
                        items:
                          type: string
                      'Island Hopping':
                        type: array
                        example:
                          - 'Island Hopping'
                          - 'Island Hopping'
                        items:
                          type: string
                      'Sail & Cruise':
                        type: array
                        example:
                          - 'Island Hopping'
                          - Cruise
                          - 'Island Hopping'
                          - 'River Cruises'
                        items:
                          type: string
                      Train:
                        type: array
                        example:
                          - Trains
                        items:
                          type: string
                      Attraction:
                        type: array
                        example:
                          - Aquarium
                          - Attraction
                          - 'Hot Pools'
                          - Museums
                          - 'National Parks'
                          - 'Theme Parks'
                        items:
                          type: string
                      'Food & Drink':
                        type: array
                        example:
                          - 'Beer/Cider Tours'
                          - 'Brewery Tours'
                          - 'Food Tour'
[...]
