{"swagger":"2.0","info":{"version":"v2","title":"IbisNx.API v2"},"host":"online.ibisres.com","schemes":["https"],"paths":{"/api/v2/nxID":{"get":{"tags":["NxServerApi"],"operationId":"NxServerApi_Nxid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}}}}},"/api/v2/booking":{"get":{"tags":["NxServerApi"],"operationId":"NxServerApi_BookingGet","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"nxID","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/_booking"}}}},"post":{"tags":["NxServerApi"],"operationId":"NxServerApi_BookingPost","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/_booking"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/_booking"}}}},"patch":{"tags":["NxServerApi"],"operationId":"NxServerApi_BookingPatch","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/_key_value"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/_booking"}}}}},"/api/v2/booking/departures":{"get":{"tags":["NxServerApi"],"operationId":"NxServerApi_BookingDepartures","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"days","in":"query","required":false,"type":"integer","format":"int32"},{"name":"date","in":"query","required":false,"type":"string","format":"date-time"},{"name":"sector_code_start","in":"query","required":false,"type":"string"},{"name":"sector_code_end","in":"query","required":false,"type":"string"},{"name":"product_filter","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/_departure"}}}}}},"/api/v2/booking/departures/days":{"get":{"tags":["NxServerApi"],"operationId":"NxServerApi_BookingDeparturesDays","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"days","in":"query","required":true,"type":"integer","format":"int32"},{"name":"space_required","in":"query","required":true,"type":"integer","format":"int32"},{"name":"date","in":"query","required":false,"type":"string","format":"date-time"},{"name":"product_filter","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"format":"date-time","type":"string"}}}}}},"/api/v2/booking/departures/meta":{"get":{"tags":["NxServerApi"],"operationId":"NxServerApi_BookingDeparturesMeta","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"departure_key","in":"query","required":false,"type":"string"},{"name":"existing_locks","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/_departure_meta"}}}}},"/api/v2/operators":{"get":{"tags":["NxServerApi"],"operationId":"NxServerApi_Operators","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/_operator"}}}}}},"/api/v2/operators/detail":{"get":{"tags":["NxServerApi"],"operationId":"NxServerApi_OperatorsDetail","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"operatorCode","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/_operator"}}}}},"/api/v2/products":{"get":{"tags":["NxServerApi"],"operationId":"NxServerApi_Products","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/_product"}}}}}},"/api/v2/products/detail":{"get":{"tags":["NxServerApi"],"operationId":"NxServerApi_ProductsDetail","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"productCode","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/_product"}}}}},"/api/v2/products/groups":{"get":{"tags":["NxServerApi"],"operationId":"NxServerApi_ProductsGroups","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/_product_group"}}}}}},"/api/v2/person/CreditCardStore":{"get":{"tags":["NxServerApi"],"operationId":"NxServerApi_PersonCreditcardstoreGet","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/_stored_credit_card"}}}},"post":{"tags":["NxServerApi"],"operationId":"NxServerApi_PersonCreditcardstorePost","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/_stored_credit_card"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/_stored_credit_card"}}}}}},"definitions":{"_booking":{"required":["status","product_datetime"],"type":"object","properties":{"booking_id":{"format":"int32","type":"integer"},"nxID":{"type":"string"},"departure_key":{"type":"string"},"pickup_location":{"type":"string"},"pickup_datetime":{"format":"date-time","type":"string"},"pickup_latlong":{"type":"string"},"status":{"type":"string"},"first_name":{"type":"string"},"last_name":{"type":"string"},"marketing_region":{"type":"string"},"voucher_ref":{"type":"string"},"note":{"type":"string"},"extra_info1":{"type":"string"},"return_time":{"type":"string"},"promo_code":{"type":"string"},"book_items":{"type":"array","items":{"$ref":"#/definitions/_booking_item"}},"addon_items":{"type":"array","items":{"$ref":"#/definitions/_addon_item"}},"operator_code":{"type":"string"},"product_code":{"type":"string"},"product_name":{"type":"string"},"product_datetime":{"format":"date-time","type":"string"},"product":{"$ref":"#/definitions/_product"},"person_nxID":{"type":"string"},"combo_code":{"type":"string"},"dropoff_location":{"type":"string"},"affiliate_account":{"type":"string"},"settlement_method":{"type":"string"},"email_customer":{"type":"string"},"email_agent":{"type":"string"},"checkin_code":{"type":"string"},"packageInstance_NxID":{"type":"string"},"Cart_NxID":{"type":"string"},"phone_customer":{"type":"string"}}},"_booking_item":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"list_order":{"format":"int32","type":"integer"},"unit_price_inc":{"format":"double","type":"number"},"units":{"format":"int32","type":"integer"},"places_per_unit":{"format":"int32","type":"integer"},"Details":{"type":"string"},"line_commission":{"format":"double","type":"number"},"item_type":{"type":"string"},"max_avail":{"format":"int32","type":"integer"},"online_attribs":{"type":"string"}}},"_addon_item":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"online_attribs":{"type":"string"},"list_order":{"format":"int32","type":"integer"},"unit_price_inc":{"format":"double","type":"number"},"units":{"format":"int32","type":"integer"},"line_commission":{"format":"double","type":"number"},"max_avail":{"format":"int32","type":"integer"},"places_per_unit":{"format":"int32","type":"integer"}}},"_product":{"type":"object","properties":{"product_code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"prod_type":{"type":"string"},"operator_code":{"type":"string"},"lat_long":{"type":"string"},"trip_advice":{"type":"string"},"disclaimer":{"type":"string"},"booking_pricing":{"type":"array","items":{"$ref":"#/definitions/_booking_item"}},"addon_pricing":{"$ref":"#/definitions/_addon_item"},"list_order":{"format":"int32","type":"integer"},"duration":{"type":"string"},"promo_code":{"type":"string"},"store_creditcard":{"type":"boolean"},"defaults":{"type":"string"},"keywords":{"type":"string"},"timeZone":{"type":"string"},"product_code_transport":{"type":"string"},"brand":{"type":"string"},"Sk_Product_Transport":{"format":"int32","type":"integer"}}},"_key_value":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"},"data1":{"type":"string"},"data2":{"type":"string"}}},"_departure":{"required":["product_datetime"],"type":"object","properties":{"departure_key":{"type":"string"},"product_datetime":{"format":"date-time","type":"string"},"departure_datetime":{"format":"date-time","type":"string"},"product_code":{"type":"string"},"product_name":{"type":"string"},"product_keywords":{"type":"string"},"available_places":{"format":"int32","type":"integer"},"note":{"type":"string"},"list_order":{"format":"int32","type":"integer"}}},"_departure_meta":{"required":["product_datetime"],"type":"object","properties":{"departure_key":{"type":"string"},"product_code":{"type":"string"},"product_name":{"type":"string"},"product_datetime":{"format":"date-time","type":"string"},"departure_datetime":{"format":"date-time","type":"string"},"available_places":{"format":"int32","type":"integer"},"book_items":{"type":"array","items":{"$ref":"#/definitions/_booking_item"}},"pickup_dropoffs":{"type":"array","items":{"$ref":"#/definitions/_pickup_dropoff"}},"marketing_regions":{"type":"array","items":{"$ref":"#/definitions/_key_value"}},"extra_info1_list":{"type":"array","items":{"$ref":"#/definitions/_key_value"}},"disclaimer":{"type":"string"},"pickup_default":{"type":"string"},"dropoff_default":{"type":"string"},"addon_items":{"type":"array","items":{"$ref":"#/definitions/_addon_item"}},"settlement_method":{"type":"string"}}},"_pickup_dropoff":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"time_offset":{"format":"int32","type":"integer"},"is_pickup":{"type":"boolean"},"is_dropoff":{"type":"boolean"},"location":{"type":"string"},"lat_long":{"type":"string"},"Note":{"type":"string"},"address_note":{"type":"string"},"PickupDropOff_datetime":{"format":"date-time","type":"string"}}},"_operator":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"operator_code":{"type":"string"},"name":{"type":"string"},"staff":{"type":"string"},"phone":{"type":"string"},"website_url":{"type":"string"},"email_address":{"type":"string"},"address":{"$ref":"#/definitions/_address"},"contact_nxId":{"type":"string"},"timeZone":{"type":"string"},"onlineName":{"type":"string"},"onlineRegion":{"type":"string"}}},"_address":{"type":"object","properties":{"street1":{"type":"string"},"street2":{"type":"string"},"city":{"type":"string"},"post_code":{"type":"string"},"region":{"type":"string"},"state":{"type":"string"},"country":{"type":"string"}}},"_product_group":{"type":"object","properties":{"group_code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"prod_codes":{"type":"array","items":{"type":"string"}},"operator_id":{"format":"int32","type":"integer"},"grouping1":{"type":"string"},"online_attribs":{"type":"string"}}},"_stored_credit_card":{"type":"object","properties":{"nxID":{"type":"string"},"card_processor":{"type":"string"},"card_name":{"type":"string"},"card_summary":{"type":"string"},"remote_billingID":{"type":"string"},"person_nxID":{"type":"string"},"details":{"type":"string"},"expiry_date":{"format":"date-time","type":"string"}}}}}