{"swagger":"2.0","info":{"description":"\"Tour Builder\"","version":"1.0.0","title":"TOUR BUILDER API","contact":{"name":"Adventium Tech Support","url":"https://www.adventium.tech","email":"tech-support@adventium.tech"}},"host":"tourbuilder.adventium.tech:8082","basePath":"/","tags":[{"name":"booking-controller","description":"Booking Controller"},{"name":"builder-controller","description":"Builder Controller"},{"name":"index-controller","description":"Index Controller"},{"name":"tapapi-controller","description":"TAPAPI Controller"},{"name":"tdmsebs-controller","description":"TDMSEBS Controller"}],"paths":{"/":{"get":{"tags":["index-controller"],"summary":"index","operationId":"indexUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tap/v1/cancelHeldReservation":{"post":{"tags":["tapapi-controller"],"summary":"Cancel a held reservation","operationId":"cancelHeldReservationUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"reservationRequest","description":"reservationRequest","required":true,"schema":{"$ref":"#/definitions/CancelHeldReservationRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«CancelHeldReservationResponse»"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tap/v1/cancelReservation":{"post":{"tags":["tapapi-controller"],"summary":"Cancel a confirmed reservation","operationId":"cancelReservationUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"reservationRequest","description":"reservationRequest","required":true,"schema":{"$ref":"#/definitions/CancelReservationRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«CancelReservationResponse»"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tap/v1/confirmReservation":{"post":{"tags":["tapapi-controller"],"summary":"Confirm a held reservsation","operationId":"confirmReservationUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"reservationRequest","description":"reservationRequest","required":true,"schema":{"$ref":"#/definitions/ConfirmReservationRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«ConfirmReservationResponse»"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tap/v1/holdReservation":{"post":{"tags":["tapapi-controller"],"summary":"Create a provisional reservation, holding inventory for a set amount of time before confirming","operationId":"holdReservationUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"holdReservationRequest","description":"holdReservationRequest","required":true,"schema":{"$ref":"#/definitions/HoldReservationRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«HoldReservationResponse»"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tap/v1/makeReservation":{"post":{"tags":["tapapi-controller"],"summary":"Create a confirmed reservation immediately","operationId":"makeReservationUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"reservationRequest","description":"reservationRequest","required":true,"schema":{"$ref":"#/definitions/ReservationRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«ReservationResponse»"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tap/v1/ping":{"get":{"tags":["tapapi-controller"],"summary":"Ping Test Call","operationId":"pingUsingGET_2","produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"type":"boolean"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tap/v1/productAvailability/{productId}/{date}":{"get":{"tags":["tapapi-controller"],"summary":"Return Product Availability for a particular product on a given date","operationId":"productAvailabilityUsingGET","produces":["application/json"],"parameters":[{"name":"date","in":"path","description":"date","required":true,"type":"string"},{"name":"productId","in":"path","description":"productId","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«ProductDetailResponse»"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tap/v1/productAvailability/{productId}/{fromDate}/{toDate}":{"get":{"tags":["tapapi-controller"],"summary":"Return Product Availability for a particular product on a given date range","operationId":"productAvailabilityRangeUsingGET","produces":["application/json"],"parameters":[{"name":"fromDate","in":"path","description":"fromDate","required":true,"type":"string"},{"name":"productId","in":"path","description":"productId","required":true,"type":"string"},{"name":"toDate","in":"path","description":"toDate","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«ProductDetailResponse»"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tap/v1/productAvailabilityForTravellers/{productId}/{date}/{travellerMix}":{"get":{"tags":["tapapi-controller"],"summary":"Return Product Availability for a particular product on a given date and a provided number (and ages) of travellers","operationId":"productAvailabilityForTravellersUsingGET","produces":["application/json"],"parameters":[{"name":"date","in":"path","description":"date","required":true,"type":"string"},{"name":"productId","in":"path","description":"productId","required":true,"type":"string"},{"name":"travellerMix","in":"path","description":"travellerMix","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«ProductDetailResponse»"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tap/v1/productAvailabilityForTravellers/{productId}/{fromDate}/{toDate}/{travellerMix}":{"get":{"tags":["tapapi-controller"],"summary":"Return Product Availability for a particular product on a given date range and a provided number (and ages) of travellers","operationId":"productAvailabilityForTravellersRangeUsingGET","produces":["application/json"],"parameters":[{"name":"fromDate","in":"path","description":"fromDate","required":true,"type":"string"},{"name":"productId","in":"path","description":"productId","required":true,"type":"string"},{"name":"toDate","in":"path","description":"toDate","required":true,"type":"string"},{"name":"travellerMix","in":"path","description":"travellerMix","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«ProductDetailResponse»"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tap/v1/productDetail/{productId}":{"get":{"tags":["tapapi-controller"],"summary":"Returns Product Details for an individual product","operationId":"productDetailUsingGET","produces":["application/json"],"parameters":[{"name":"productId","in":"path","description":"productId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«List«ProductDetailResponse»»"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tap/v1/productSummaryList":{"get":{"tags":["tapapi-controller"],"summary":"Provides a summary of every product for an Operator","operationId":"productSummaryListUsingGET","produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«List«ProductSummaryResponse»»"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tap/v1/retrieveReservation/{reservationId}":{"get":{"tags":["tapapi-controller"],"summary":"Retrieve a reservation","operationId":"retrieveReservationUsingGET","produces":["application/json"],"parameters":[{"name":"reservationId","in":"path","description":"reservationId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«ReservationResponse»"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tourbuilder/v1/booking/ping":{"get":{"tags":["booking-controller"],"summary":"Ping Test Call","operationId":"pingUsingGET","produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"type":"boolean"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tourbuilder/v1/builder/createSample":{"get":{"tags":["builder-controller"],"summary":"Create Sample","operationId":"createSampleUsingGET","produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«Package»"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tourbuilder/v1/builder/load":{"post":{"tags":["builder-controller"],"summary":"Load","operationId":"loadUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"uniquePackageId","description":"uniquePackageId","required":true,"schema":{"$ref":"#/definitions/RequestData«UniquePackageId»"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«Package»"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tourbuilder/v1/builder/load/{supplierId}/{packageId}":{"get":{"tags":["builder-controller"],"summary":"Load via GET","operationId":"loadUsingGET","produces":["application/json"],"parameters":[{"name":"packageId","in":"path","description":"packageId","required":true,"type":"string"},{"name":"supplierId","in":"path","description":"supplierId","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«Package»"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tourbuilder/v1/builder/ping":{"get":{"tags":["builder-controller"],"summary":"Ping Test Call","operationId":"pingUsingGET_1","produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"type":"boolean"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tourbuilder/v1/builder/publish":{"post":{"tags":["builder-controller"],"summary":"Publish","operationId":"publishUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"publishRequest","description":"publishRequest","required":true,"schema":{"$ref":"#/definitions/RequestData«PublishRequest»"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«boolean»"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tourbuilder/v1/builder/quickLink":{"get":{"tags":["builder-controller"],"summary":"QuickLink","operationId":"quickLinkUsingGET","produces":["application/json"],"parameters":[{"name":"ataFaretypeId","in":"query","description":"ataFaretypeId","required":true,"type":"string"},{"name":"ataPPDId","in":"query","description":"ataPPDId","required":true,"type":"string"},{"name":"ataProductId","in":"query","description":"ataProductId","required":true,"type":"string"},{"name":"dateRange","in":"query","description":"dateRange","required":false,"type":"integer","format":"int32"},{"name":"otsFaretypeId1","in":"query","description":"otsFaretypeId1","required":true,"type":"string"},{"name":"otsFaretypeId2","in":"query","description":"otsFaretypeId2","required":false,"type":"string"},{"name":"otsPPDId1","in":"query","description":"otsPPDId1","required":true,"type":"string"},{"name":"otsPPDId2","in":"query","description":"otsPPDId2","required":false,"type":"string"},{"name":"otsProductId1","in":"query","description":"otsProductId1","required":true,"type":"string"},{"name":"otsProductId2","in":"query","description":"otsProductId2","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«Package»"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tourbuilder/v1/builder/save":{"post":{"tags":["builder-controller"],"summary":"Save","operationId":"saveUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"p","description":"p","required":true,"schema":{"$ref":"#/definitions/RequestData«Package»"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«Package»"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tourbuilder/v1/builder/saveLinkerData":{"post":{"tags":["builder-controller"],"summary":"SaveLinkerData","operationId":"saveLinkerDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"linkerData","description":"linkerData","required":true,"schema":{"$ref":"#/definitions/RequestData«LinkerData»"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseData«Package»"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tourbuilder/v1/tdms/availability/{productIdentifier}":{"get":{"tags":["tdmsebs-controller"],"summary":"Availability","operationId":"getAvailabilityUsingGET","produces":["application/json"],"parameters":[{"name":"bookingTimeId","in":"query","description":"bookingTimeId","required":true,"type":"string"},{"name":"endDate","in":"query","description":"endDate","required":true,"type":"string"},{"name":"productIdentifier","in":"path","description":"productIdentifier","required":true,"type":"string"},{"name":"startDate","in":"query","description":"startDate","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AvailabilityResponse"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tourbuilder/v1/tdms/booking/cancel":{"post":{"tags":["tdmsebs-controller"],"summary":"Booking Cancellation","operationId":"cancelUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"cancelRequest","description":"cancelRequest","required":true,"schema":{"$ref":"#/definitions/CancelRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CancelResponse"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tourbuilder/v1/tdms/booking/{productIdentifier}":{"post":{"tags":["tdmsebs-controller"],"summary":"Bookings","operationId":"nonGroupBookingUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"bookingRequest","description":"bookingRequest","required":true,"schema":{"$ref":"#/definitions/BookingsRequest"}},{"name":"productIdentifier","in":"path","description":"productIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BookingResponse"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tourbuilder/v1/tdms/bookingdetails/{productIdentifier}":{"get":{"tags":["tdmsebs-controller"],"summary":"Booking Parameters","operationId":"getBookingParametersUsingGET","produces":["application/json"],"parameters":[{"name":"productIdentifier","in":"path","description":"productIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BookingParametersResponse"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tourbuilder/v1/tdms/bookings/{productIdentifier}":{"post":{"tags":["tdmsebs-controller"],"summary":"Group Bookings","operationId":"groupBookingsUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"bookingRequest","description":"bookingRequest","required":true,"schema":{"$ref":"#/definitions/BookingsRequest"}},{"name":"productIdentifier","in":"path","description":"productIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BookingsResponse"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tourbuilder/v1/tdms/ping":{"get":{"tags":["tdmsebs-controller"],"summary":"Ping Test Call","operationId":"pingUsingGET_3","produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"type":"boolean"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/tourbuilder/v1/tdms/token":{"post":{"tags":["tdmsebs-controller"],"summary":"Token Authentication","operationId":"tokenUsingPOST","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"client_id","in":"formData","required":false,"type":"string"},{"name":"client_secret","in":"formData","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/TokenResponse"}},"201":{"description":"Created"},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}}},"definitions":{"AdditionalField":{"type":"object","properties":{"additionalFieldId":{"type":"string"},"additionalFieldTitle":{"type":"string"},"mandatory":{"type":"boolean"},"options":{"type":"array","items":{"type":"string"}},"type":{"type":"string"}},"title":"AdditionalField"},"AdditionalFields":{"type":"object","properties":{"values":{"type":"object","additionalProperties":{"type":"string"}}},"title":"AdditionalFields"},"Agency":{"type":"object","properties":{"agent":{"type":"string"},"branch":{"type":"string"},"branchCode":{"type":"string"},"phone":{"type":"string"}},"title":"Agency"},"Availability":{"type":"object","properties":{"date":{"type":"string"},"net":{"type":"number"},"notApplicable":{"type":"boolean"},"quantityAvailable":{"type":"integer","format":"int32"},"rrp":{"type":"number"}},"title":"Availability"},"AvailabilityResponse":{"type":"object","properties":{"availability":{"type":"array","items":{"$ref":"#/definitions/Availability"}}},"title":"AvailabilityResponse"},"BookingDetail":{"type":"object","properties":{"additionalFields":{"type":"array","items":{"$ref":"#/definitions/AdditionalFields"}},"bookingDate":{"type":"string"},"bookingTimeId":{"type":"string"},"currencyCode":{"type":"string"},"net":{"type":"number"},"pickupLocationId":{"type":"string"},"quantity":{"type":"integer","format":"int32"},"rrp":{"type":"number"},"voucherNumber":{"type":"string"}},"title":"BookingDetail"},"BookingDetailCustomer":{"type":"object","properties":{"customerIndex":{"type":"integer","format":"int32"}},"title":"BookingDetailCustomer"},"BookingParametersResponse":{"type":"object","properties":{"additionalFields":{"type":"array","items":{"$ref":"#/definitions/AdditionalField"}},"bookingTimes":{"type":"array","items":{"$ref":"#/definitions/BookingTime"}},"pickupLocations":{"type":"array","items":{"$ref":"#/definitions/PickupLocation"}}},"title":"BookingParametersResponse"},"BookingRange":{"type":"object","properties":{"bookingDetailCustomers":{"type":"array","items":{"$ref":"#/definitions/BookingDetailCustomer"}},"bookingDetails":{"type":"array","items":{"$ref":"#/definitions/BookingDetail"}},"endDate":{"type":"string"},"startDate":{"type":"string"}},"title":"BookingRange"},"BookingResponse":{"type":"object","properties":{"bookingNotes":{"type":"string"},"bookingReferenceId":{"type":"string"},"errorMessage":{"type":"string"},"success":{"type":"boolean"}},"title":"BookingResponse"},"BookingTime":{"type":"object","properties":{"bookingTime":{"type":"string"},"bookingTimeId":{"type":"string"},"default":{"type":"boolean"}},"title":"BookingTime"},"BookingsRequest":{"type":"object","properties":{"additionalFields":{"type":"array","items":{"$ref":"#/definitions/AdditionalFields"}},"agency":{"$ref":"#/definitions/Agency"},"bookingDate":{"type":"string"},"bookingTimeId":{"type":"string"},"bookings":{"type":"array","items":{"$ref":"#/definitions/BookingRange"}},"currencyCode":{"type":"string"},"customers":{"type":"array","items":{"$ref":"#/definitions/Customer"}},"net":{"type":"number"},"orderReference":{"type":"string"},"pickupLocationId":{"type":"string"},"quantity":{"type":"integer","format":"int32"},"rrp":{"type":"number"},"voucherNumber":{"type":"string"}},"title":"BookingsRequest"},"BookingsResponse":{"type":"object","properties":{"bookings":{"type":"array","items":{"$ref":"#/definitions/BookingsResponseDetails"}},"orderReference":{"type":"string"}},"title":"BookingsResponse"},"BookingsResponseCustomerDetails":{"type":"object","properties":{"bookingNotes":{"type":"string"},"bookingReferenceId":{"type":"string"},"customerIndex":{"type":"integer","format":"int32"},"errorMessage":{"type":"string"},"success":{"type":"boolean"}},"title":"BookingsResponseCustomerDetails"},"BookingsResponseDetails":{"type":"object","properties":{"bookingDate":{"type":"string"},"bookingDetailCustomers":{"type":"array","items":{"$ref":"#/definitions/BookingsResponseCustomerDetails"}},"voucherNumber":{"type":"string"}},"title":"BookingsResponseDetails"},"CancelHeldReservationRequest":{"type":"object","properties":{"dummy":{"type":"string"}},"title":"CancelHeldReservationRequest"},"CancelHeldReservationResponse":{"type":"object","properties":{"dummy":{"type":"string"}},"title":"CancelHeldReservationResponse"},"CancelRequest":{"type":"object","properties":{"bookingReferenceId":{"type":"string"},"reason":{"type":"string"}},"title":"CancelRequest"},"CancelReservationRequest":{"type":"object","properties":{"dummy":{"type":"string"}},"title":"CancelReservationRequest"},"CancelReservationResponse":{"type":"object","properties":{"dummy":{"type":"string"}},"title":"CancelReservationResponse"},"CancelResponse":{"type":"object","properties":{"errorMessage":{"type":"string"},"success":{"type":"boolean"}},"title":"CancelResponse"},"ComponentQuestion":{"type":"object","discriminator":"@type","properties":{"mandatory":{"type":"boolean"},"perPerson":{"type":"boolean"},"questionID":{"type":"string"},"questionText":{"type":"string"}},"title":"ComponentQuestion"},"ComponentQuestionDate":{"title":"ComponentQuestionDate","allOf":[{"$ref":"#/definitions/ComponentQuestion"},{"type":"object","properties":{"mandatory":{"type":"boolean"},"perPerson":{"type":"boolean"},"questionID":{"type":"string"},"questionText":{"type":"string"}},"title":"ComponentQuestionDate"}]},"ComponentQuestionInteger":{"title":"ComponentQuestionInteger","allOf":[{"$ref":"#/definitions/ComponentQuestion"},{"type":"object","properties":{"mandatory":{"type":"boolean"},"perPerson":{"type":"boolean"},"questionID":{"type":"string"},"questionText":{"type":"string"}},"title":"ComponentQuestionInteger"}]},"ComponentQuestionList":{"title":"ComponentQuestionList","allOf":[{"$ref":"#/definitions/ComponentQuestion"},{"type":"object","properties":{"mandatory":{"type":"boolean"},"perPerson":{"type":"boolean"},"questionID":{"type":"string"},"questionText":{"type":"string"},"validValues":{"type":"array","items":{"type":"string"}}},"title":"ComponentQuestionList"}]},"ComponentQuestionRegex":{"title":"ComponentQuestionRegex","allOf":[{"$ref":"#/definitions/ComponentQuestion"},{"type":"object","properties":{"answerRegex":{"type":"string"},"mandatory":{"type":"boolean"},"perPerson":{"type":"boolean"},"questionID":{"type":"string"},"questionText":{"type":"string"}},"title":"ComponentQuestionRegex"}]},"ConfirmReservationRequest":{"type":"object","properties":{"dummy":{"type":"string"}},"title":"ConfirmReservationRequest"},"ConfirmReservationResponse":{"type":"object","properties":{"dummy":{"type":"string"}},"title":"ConfirmReservationResponse"},"CurrencyAmount":{"type":"object","properties":{"amount":{"type":"number"},"currencyId":{"type":"string"}},"title":"CurrencyAmount"},"Customer":{"type":"object","properties":{"customerCountry":{"type":"string"},"customerDateOfBirth":{"type":"string"},"customerEmail":{"type":"string"},"customerFirstName":{"type":"string"},"customerIndex":{"type":"integer","format":"int32"},"customerLastName":{"type":"string"},"customerPhone":{"type":"string"},"customerTitle":{"type":"string"},"voucherComment":{"type":"string"}},"title":"Customer"},"Duration":{"type":"object","properties":{"nano":{"type":"integer","format":"int32"},"negative":{"type":"boolean"},"seconds":{"type":"integer","format":"int64"},"units":{"type":"array","items":{"$ref":"#/definitions/TemporalUnit"}},"zero":{"type":"boolean"}},"title":"Duration"},"HoldReservationRequest":{"type":"object","properties":{"dummy":{"type":"string"}},"title":"HoldReservationRequest"},"HoldReservationResponse":{"type":"object","properties":{"dummy":{"type":"string"}},"title":"HoldReservationResponse"},"IsoChronology":{"type":"object","properties":{"calendarType":{"type":"string"},"id":{"type":"string"}},"title":"IsoChronology"},"LinkerData":{"type":"object","properties":{"daysAfter2":{"type":"integer","format":"int32"},"daysAfter3":{"type":"integer","format":"int32"},"ebooking":{"type":"string"},"fareTypeId":{"type":"string"},"outboundFareTypeId1":{"type":"string"},"outboundFareTypeId2":{"type":"string"},"outboundFareTypeId3":{"type":"string"},"outboundProductCode1":{"type":"string"},"outboundProductCode2":{"type":"string"},"outboundProductCode3":{"type":"string"},"outboundProductPricesDetailsId1":{"type":"integer","format":"int64"},"outboundProductPricesDetailsId2":{"type":"integer","format":"int64"},"outboundProductPricesDetailsId3":{"type":"integer","format":"int64"},"productCode":{"type":"string"}},"title":"LinkerData"},"Markdown":{"type":"object","properties":{"markdown":{"type":"string"}},"title":"Markdown"},"Package":{"type":"object","properties":{"allowAdditionalFees":{"type":"boolean"},"components":{"type":"array","items":{"$ref":"#/definitions/PackageComponentHolder"}},"content":{"$ref":"#/definitions/PackageContent"},"costMarkup":{"type":"number"},"dateRange":{"type":"integer","format":"int32"},"departurePricing":{"type":"array","items":{"$ref":"#/definitions/PricingSeason"}},"departureSchedule":{"$ref":"#/definitions/Schedule"},"duration":{"$ref":"#/definitions/Period"},"leadinNett":{"$ref":"#/definitions/CurrencyAmount"},"leadinPrice":{"$ref":"#/definitions/CurrencyAmount"},"openDated":{"type":"boolean"},"packageTitle":{"type":"string"},"priceMarkup":{"type":"number"},"questions":{"type":"array","items":{"$ref":"#/definitions/PackageQuestion"}},"uniquePackageId":{"$ref":"#/definitions/UniquePackageId"}},"title":"Package"},"PackageComponentHolder":{"type":"object","discriminator":"@type","title":"PackageComponentHolder"},"PackageComponentHolderOptional":{"title":"PackageComponentHolderOptional","allOf":[{"$ref":"#/definitions/PackageComponentHolder"},{"type":"object","properties":{"component":{"$ref":"#/definitions/PackageComponent"}},"title":"PackageComponentHolderOptional"}]},"PackageComponentHolderSetDependant":{"title":"PackageComponentHolderSetDependant","allOf":[{"$ref":"#/definitions/PackageComponentHolder"},{"type":"object","properties":{"atLeastOne":{"type":"boolean"},"components":{"type":"array","items":{"$ref":"#/definitions/PackageComponent"}}},"title":"PackageComponentHolderSetDependant"}]},"PackageComponentHolderSetManyOf":{"title":"PackageComponentHolderSetManyOf","allOf":[{"$ref":"#/definitions/PackageComponentHolder"},{"type":"object","properties":{"atLeastOne":{"type":"boolean"},"component":{"type":"array","items":{"$ref":"#/definitions/PackageComponent"}}},"title":"PackageComponentHolderSetManyOf"}]},"PackageComponentHolderSetOneOf":{"title":"PackageComponentHolderSetOneOf","allOf":[{"$ref":"#/definitions/PackageComponentHolder"},{"type":"object","properties":{"atLeastOne":{"type":"boolean"},"components":{"type":"array","items":{"$ref":"#/definitions/PackageComponent"}}},"title":"PackageComponentHolderSetOneOf"}]},"PackageComponentHolderSimple":{"title":"PackageComponentHolderSimple","allOf":[{"$ref":"#/definitions/PackageComponentHolder"},{"type":"object","properties":{"component":{"$ref":"#/definitions/PackageComponent"}},"title":"PackageComponentHolderSimple"}]},"PackageContent":{"type":"object","properties":{"attributes":{"type":"array","items":{"$ref":"#/definitions/PackageContentAttribute"}},"checklist":{"$ref":"#/definitions/Markdown"},"extraInformation":{"type":"array","items":{"$ref":"#/definitions/PackageContentExtraInformation"}},"finishingPoint":{"$ref":"#/definitions/Markdown"},"images":{"type":"array","items":{"$ref":"#/definitions/PackageContentImage"}},"inclusions":{"type":"array","items":{"$ref":"#/definitions/PackageContentInclusion"}},"introduction":{"$ref":"#/definitions/Markdown"},"itinerary":{"type":"array","items":{"$ref":"#/definitions/PackageContentItineraryDay"}},"joiningPoint":{"$ref":"#/definitions/Markdown"},"joiningPointInstructions":{"$ref":"#/definitions/Markdown"},"leadInTitle":{"type":"string"},"luggageLimit":{"$ref":"#/definitions/Markdown"},"map":{"$ref":"#/definitions/PackageContentImage"},"numberOfDays":{"type":"integer","format":"int32"},"sales1":{"$ref":"#/definitions/Markdown"},"sales2":{"$ref":"#/definitions/Markdown"},"title":{"type":"string"}},"title":"PackageContent"},"PackageContentAttribute":{"type":"object","properties":{"name":{"type":"string","enum":["START","FINISH","DESTINATION","STYLE","THEME","PHYSICAL_RATING","TRIP_RATING","MIN_AGE","MAX_AGE","MIN_GROUP_SIZE","MAX_GROUP_SIZE"]},"value":{"$ref":"#/definitions/Markdown"}},"title":"PackageContentAttribute"},"PackageContentExtraInformation":{"type":"object","properties":{"text":{"$ref":"#/definitions/Markdown"},"title":{"type":"string"}},"title":"PackageContentExtraInformation"},"PackageContentImage":{"type":"object","properties":{"title":{"type":"string"},"url":{"$ref":"#/definitions/URL"}},"title":"PackageContentImage"},"PackageContentInclusion":{"type":"object","properties":{"text":{"$ref":"#/definitions/Markdown"},"title":{"type":"string","enum":["MEALS","TRANSPORT","ACCOMMODATION","ACTIVITIES"]}},"title":"PackageContentInclusion"},"PackageContentItineraryDay":{"type":"object","properties":{"dayNumber":{"type":"integer","format":"int32"},"includesBreakfast":{"type":"boolean"},"includesDinner":{"type":"boolean"},"includesLunch":{"type":"boolean"},"text":{"$ref":"#/definitions/Markdown"},"title":{"type":"string"}},"title":"PackageContentItineraryDay"},"PackageQuestion":{"type":"object","properties":{"componentQuestion":{"$ref":"#/definitions/ComponentQuestion"},"questionReferences":{"type":"array","items":{"$ref":"#/definitions/QuestionReference"}}},"title":"PackageQuestion"},"Period":{"type":"object","properties":{"chronology":{"$ref":"#/definitions/IsoChronology"},"days":{"type":"integer","format":"int32"},"months":{"type":"integer","format":"int32"},"negative":{"type":"boolean"},"units":{"type":"array","items":{"$ref":"#/definitions/TemporalUnit"}},"years":{"type":"integer","format":"int32"},"zero":{"type":"boolean"}},"title":"Period"},"PickupLocation":{"type":"object","properties":{"pickupLocation":{"type":"string"},"pickupLocationId":{"type":"string"},"pickupTime":{"type":"string"}},"title":"PickupLocation"},"PricingSeason":{"type":"object","properties":{"adultCount":{"type":"integer","format":"int32"},"daysOfWeek":{"type":"array","items":{"type":"string","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"]}},"fromDate":{"type":"string","format":"date"},"price":{"$ref":"#/definitions/CurrencyAmount"},"toDate":{"type":"string","format":"date"}},"title":"PricingSeason"},"ProductDetailResponse":{"type":"object","properties":{"productId":{"type":"string"}},"title":"ProductDetailResponse"},"ProductSummaryResponse":{"type":"object","properties":{"endLocationName":{"type":"string"},"leadinPrice":{"$ref":"#/definitions/CurrencyAmount"},"productId":{"type":"string"},"productImage":{"type":"string"},"productName":{"type":"string"},"startLocationName":{"type":"string"}},"title":"ProductSummaryResponse"},"PublishRequest":{"type":"object","properties":{"system":{"type":"string","enum":["TDMS"]},"uniquePackageId":{"$ref":"#/definitions/UniquePackageId"}},"title":"PublishRequest"},"QuestionReference":{"type":"object","properties":{"componentId":{"type":"string"},"questionID":{"type":"string"}},"title":"QuestionReference"},"RequestData«LinkerData»":{"type":"object","properties":{"data":{"$ref":"#/definitions/LinkerData"},"sessionID":{"type":"string"}},"title":"RequestData«LinkerData»"},"RequestData«Package»":{"type":"object","properties":{"data":{"$ref":"#/definitions/Package"},"sessionID":{"type":"string"}},"title":"RequestData«Package»"},"RequestData«PublishRequest»":{"type":"object","properties":{"data":{"$ref":"#/definitions/PublishRequest"},"sessionID":{"type":"string"}},"title":"RequestData«PublishRequest»"},"RequestData«UniquePackageId»":{"type":"object","properties":{"data":{"$ref":"#/definitions/UniquePackageId"},"sessionID":{"type":"string"}},"title":"RequestData«UniquePackageId»"},"ReservationRequest":{"type":"object","properties":{"dummy":{"type":"string"}},"title":"ReservationRequest"},"ReservationResponse":{"type":"object","properties":{"dummy":{"type":"string"}},"title":"ReservationResponse"},"ResponseData«CancelHeldReservationResponse»":{"type":"object","properties":{"data":{"$ref":"#/definitions/CancelHeldReservationResponse"},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«CancelHeldReservationResponse»"},"ResponseData«CancelReservationResponse»":{"type":"object","properties":{"data":{"$ref":"#/definitions/CancelReservationResponse"},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«CancelReservationResponse»"},"ResponseData«ConfirmReservationResponse»":{"type":"object","properties":{"data":{"$ref":"#/definitions/ConfirmReservationResponse"},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«ConfirmReservationResponse»"},"ResponseData«HoldReservationResponse»":{"type":"object","properties":{"data":{"$ref":"#/definitions/HoldReservationResponse"},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«HoldReservationResponse»"},"ResponseData«List«ProductDetailResponse»»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/ProductDetailResponse"}},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«List«ProductDetailResponse»»"},"ResponseData«List«ProductSummaryResponse»»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/ProductSummaryResponse"}},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«List«ProductSummaryResponse»»"},"ResponseData«Package»":{"type":"object","properties":{"data":{"$ref":"#/definitions/Package"},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«Package»"},"ResponseData«ProductDetailResponse»":{"type":"object","properties":{"data":{"$ref":"#/definitions/ProductDetailResponse"},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«ProductDetailResponse»"},"ResponseData«ReservationResponse»":{"type":"object","properties":{"data":{"$ref":"#/definitions/ReservationResponse"},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«ReservationResponse»"},"ResponseData«boolean»":{"type":"object","properties":{"data":{"type":"boolean"},"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}},"status":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ResponseExtraInformation"}}},"title":"ResponseData«boolean»"},"ResponseExtraInformation":{"type":"object","properties":{"code":{"type":"string"},"text":{"type":"string"}},"title":"ResponseExtraInformation"},"Schedule":{"type":"object","discriminator":"@type","title":"Schedule"},"ScheduleDaily":{"title":"ScheduleDaily","allOf":[{"$ref":"#/definitions/Schedule"},{"type":"object","properties":{"date":{"type":"string","format":"date"}},"title":"ScheduleDaily"}]},"ScheduleList":{"title":"ScheduleList","allOf":[{"$ref":"#/definitions/Schedule"},{"type":"object","properties":{"dates":{"type":"array","items":{"$ref":"#/definitions/LocalDate"}}},"title":"ScheduleList"}]},"ScheduleRange":{"title":"ScheduleRange","allOf":[{"$ref":"#/definitions/Schedule"},{"type":"object","properties":{"daysOfWeek":{"type":"array","items":{"type":"string","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"]}},"fromDate":{"type":"string","format":"date"},"toDate":{"type":"string","format":"date"}},"title":"ScheduleRange"}]},"ScheduleSingle":{"title":"ScheduleSingle","allOf":[{"$ref":"#/definitions/Schedule"},{"type":"object","properties":{"date":{"type":"string","format":"date"}},"title":"ScheduleSingle"}]},"TemporalUnit":{"type":"object","properties":{"dateBased":{"type":"boolean"},"duration":{"$ref":"#/definitions/Duration"},"durationEstimated":{"type":"boolean"},"timeBased":{"type":"boolean"}},"title":"TemporalUnit"},"TokenResponse":{"type":"object","properties":{"access_token":{"type":"string"},"error_description":{"type":"string"},"expires_in":{"type":"integer","format":"int32"},"scope":{"type":"string"},"token_type":{"type":"string"}},"title":"TokenResponse"},"URL":{"type":"object","properties":{"authority":{"type":"string"},"content":{"type":"object"},"defaultPort":{"type":"integer","format":"int32"},"deserializedFields":{"$ref":"#/definitions/URLStreamHandler"},"file":{"type":"string"},"host":{"type":"string"},"path":{"type":"string"},"port":{"type":"integer","format":"int32"},"protocol":{"type":"string"},"query":{"type":"string"},"ref":{"type":"string"},"serializedHashCode":{"type":"integer","format":"int32"},"userInfo":{"type":"string"}},"title":"URL"},"URLStreamHandler":{"type":"object","title":"URLStreamHandler"},"UniquePackageId":{"type":"object","properties":{"packageId":{"type":"string"},"supplierId":{"type":"string"}},"title":"UniquePackageId"}}}