{"swagger":"2.0","info":{"description":"Api Documentation","version":"1.0","title":"Api Documentation","termsOfService":"urn:tos","contact":{},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0"}},"host":"tstest.websitetravel.com","basePath":"/transportsoa","tags":[{"name":"rental-controller","description":"Rental Controller"},{"name":"test-controller","description":"Test Controller"}],"paths":{"/rentalapi/v1/book":{"post":{"tags":["rental-controller"],"summary":"book","operationId":"bookUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"bookRequest","description":"bookRequest","required":true,"schema":{"$ref":"#/definitions/BookRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessResponseDTO«BookingResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/rentalapi/v1/cancel":{"post":{"tags":["rental-controller"],"summary":"cancel","operationId":"cancelUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"cancelRequest","description":"cancelRequest","required":true,"schema":{"$ref":"#/definitions/CancelRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessResponseDTO«string»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/rentalapi/v1/createQuote":{"post":{"tags":["rental-controller"],"summary":"createQuote","operationId":"createQuoteUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"requestDTO","description":"requestDTO","required":true,"schema":{"$ref":"#/definitions/QuoteCreationRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessResponseDTO«CreateQuoteResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/rentalapi/v1/getAvailabilityByCriteria":{"get":{"tags":["rental-controller"],"summary":"getAvailabilityByCriteria","operationId":"getAvailabilityByCriteriaUsingGET","produces":["*/*"],"parameters":[{"name":"campaignCode","in":"query","description":"campaignCode","required":false,"type":"string"},{"name":"driverAge","in":"query","description":"driverAge","required":true,"type":"string"},{"name":"dropOffDate","in":"query","description":"dropOffDate","required":true,"type":"string","format":"date"},{"name":"dropOffLocationName","in":"query","description":"dropOffLocationName","required":true,"type":"string"},{"name":"pickUpDate","in":"query","description":"pickUpDate","required":true,"type":"string","format":"date"},{"name":"pickUpLocationName","in":"query","description":"pickUpLocationName","required":true,"type":"string"},{"name":"vehicleType","in":"query","description":"vehicleType","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessResponseDTO«List«AvailabilityResponse»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/rentalapi/v1/getLocations":{"get":{"tags":["rental-controller"],"summary":"getLocations","operationId":"getLocationsUsingGET","produces":["*/*"],"parameters":[{"name":"country","in":"query","description":"country","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessResponseDTO«Set«string»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/rentalapi/v1/getRentalCountries":{"get":{"tags":["rental-controller"],"summary":"getRentalCountries","operationId":"getRentalCountriesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessResponseDTO«Set«string»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/rentalapi/v1/getReservation":{"get":{"tags":["rental-controller"],"summary":"getReservation","operationId":"getReservationUsingGET","produces":["*/*"],"parameters":[{"name":"ref","in":"query","description":"ref","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessResponseDTO«ReservationResponse»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/rentalapi/v1/getVehicleTypes":{"get":{"tags":["rental-controller"],"summary":"getVehicleTypes","operationId":"getVehicleTypesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessResponseDTO«Set«string»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/rentalapi/v1/ping":{"get":{"tags":["rental-controller"],"summary":"Ping Test Call","operationId":"pingUsingGET","produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"type":"boolean"}},"400":{"description":"Failed"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/rentalapi/v1/products":{"get":{"tags":["rental-controller"],"summary":"getProducts","operationId":"getProductsUsingGET","produces":["*/*"],"parameters":[{"name":"apiName","in":"query","description":"apiName","required":true,"type":"string"},{"name":"pageNumber","in":"query","description":"pageNumber","required":true,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessResponseDTO«PageResponseDTO«ProductResponseDTO»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/rentalapi/v1/updateQuote":{"post":{"tags":["rental-controller"],"summary":"updateQuote","operationId":"updateQuoteUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"requestDTO","description":"requestDTO","required":true,"schema":{"$ref":"#/definitions/QuoteUpdatingRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessResponseDTO«CreateQuoteResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/rentalapi/v1/updateReservation":{"patch":{"tags":["rental-controller"],"summary":"updateReservation","operationId":"updateReservationUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"reservationRef","in":"query","description":"reservationRef","required":true,"type":"string"},{"in":"body","name":"updateRequest","description":"updateRequest","required":true,"schema":{"$ref":"#/definitions/ValidateUpdateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessResponseDTO«UpdateReservationResponseDTO»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/rentalapi/v1/validateUpdateReservation":{"post":{"tags":["rental-controller"],"summary":"validateUpdateReservation","operationId":"validateUpdateReservationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"reservationRef","in":"query","description":"reservationRef","required":true,"type":"string"},{"in":"body","name":"validateRequest","description":"validateRequest","required":true,"schema":{"$ref":"#/definitions/ValidateUpdateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessResponseDTO«ValidateUpdateResponseDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/testapi/v1/importJucyFleetTypes":{"get":{"tags":["test-controller"],"summary":"importJucyFleetTypes","operationId":"importJucyFleetTypesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessResponseDTO«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/testapi/v1/importJucyLocations":{"get":{"tags":["test-controller"],"summary":"importJucyLocations","operationId":"importJucyLocationsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessResponseDTO«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/testapi/v1/importJucyProducts":{"get":{"tags":["test-controller"],"summary":"importJucyProducts","operationId":"importJucyProductsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessResponseDTO«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/testapi/v1/importRcmFleetTypes":{"get":{"tags":["test-controller"],"summary":"importRcmFleetTypes","operationId":"importRcmFleetTypesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessResponseDTO«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/testapi/v1/importRcmProducts":{"get":{"tags":["test-controller"],"summary":"importRcmProducts","operationId":"importRcmProductsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessResponseDTO«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}}},"definitions":{"AddressDTO":{"type":"object","properties":{"City":{"type":"string"},"Country":{"type":"string"},"Latitude":{"type":"number","format":"double"},"Line1":{"type":"string"},"Longitude":{"type":"number","format":"double"},"Name":{"type":"string"},"PostCode":{"type":"string"}},"title":"AddressDTO"},"AvailabilityResponse":{"type":"object","properties":{"agentCommissionRate":{"type":"number","format":"float"},"agentPaymentType":{"type":"integer","format":"int64"},"availability":{"type":"string"},"availableMessage":{"type":"string"},"campaignCode":{"type":"string"},"campaignId":{"type":"string"},"categoryCode":{"type":"string"},"dailyRate":{"$ref":"#/definitions/PriceResponse"},"dealText":{"type":"string"},"description":{"type":"string"},"discountPercentageApplied":{"type":"number","format":"float"},"dropOffLocationAddress":{"$ref":"#/definitions/LocationDTO"},"dropOffTimes":{"type":"array","items":{"type":"string"}},"id":{"type":"string"},"isAfterHourPickUp":{"type":"boolean"},"isAfterHoursDropOffAvailable":{"type":"boolean"},"isAfterHoursPickUpAvailable":{"type":"boolean"},"mandatoryFees":{"type":"array","items":{"$ref":"#/definitions/ItemResponse"}},"minimumHirePeriod":{"type":"string"},"name":{"type":"string"},"pickUpLocationAddress":{"$ref":"#/definitions/LocationDTO"},"pickupTimes":{"type":"array","items":{"type":"string"}},"rentalDays":{"type":"integer","format":"int64"},"source":{"type":"string"},"total":{"$ref":"#/definitions/PriceResponse"},"type":{"type":"string"},"typeSlug":{"type":"string"}},"title":"AvailabilityResponse"},"BookRequest":{"type":"object","properties":{"agentVoucherReference":{"type":"string"},"arrivalFlight":{"type":"string"},"country":{"type":"string"},"dateOfBirth":{"type":"string","format":"date"},"deposit":{"type":"boolean"},"extraKmsId":{"type":"integer","format":"int32"},"insuranceId":{"type":"integer","format":"int32"},"licenseCountry":{"type":"string"},"licenseExpiry":{"type":"string","format":"date"},"licenseNumber":{"type":"string"},"marketingAllowed":{"type":"boolean"},"numberOfTravelling":{"type":"integer","format":"int32"},"optionalsFee":{"type":"array","items":{"$ref":"#/definitions/OrderRQ"}},"quoteId":{"type":"string"},"reservationReference":{"type":"string"},"source":{"type":"string"}},"title":"BookRequest"},"BookingRS":{"type":"object","properties":{"agentBalanceDue":{"$ref":"#/definitions/PriceRS"},"agentCollects":{"$ref":"#/definitions/PriceRS"},"agentCommission":{"$ref":"#/definitions/PriceRS"},"balanceDue":{"$ref":"#/definitions/PriceRS"},"dateCreated":{"type":"string"},"driverAge":{"type":"integer","format":"int32"},"dropOffDate":{"type":"string"},"dropOffLocation":{"type":"string"},"dropOffLocationAddress":{"$ref":"#/definitions/LocationDTO"},"fleetCategory":{"$ref":"#/definitions/FleetCategoryRS"},"hirerDetails":{"$ref":"#/definitions/HirerDetailRS"},"lines":{"type":"array","items":{"$ref":"#/definitions/ItemRS"}},"pickUpDate":{"type":"string"},"pickUpLocation":{"type":"string"},"pickUpLocationAddress":{"$ref":"#/definitions/LocationDTO"},"quoteId":{"type":"string"},"rentalDays":{"type":"integer","format":"int32"},"reservationId":{"type":"integer","format":"int64"},"reservationReference":{"type":"string"},"status":{"type":"string"},"totalPrice":{"$ref":"#/definitions/PriceRS"},"voucherReference":{"type":"string"}},"title":"BookingRS"},"BookingResponse":{"type":"object","properties":{"bookingId":{"type":"string"},"bookingReference":{"type":"string"},"source":{"type":"string"},"status":{"type":"string"}},"title":"BookingResponse"},"CancelRequest":{"type":"object","properties":{"reservationNumber":{"type":"string"},"source":{"type":"string"}},"title":"CancelRequest"},"CreateQuoteResponse":{"type":"object","properties":{"agentBalanceDue":{"$ref":"#/definitions/PriceResponse"},"agentCollects":{"$ref":"#/definitions/PriceResponse"},"agentCommission":{"$ref":"#/definitions/PriceResponse"},"balanceDue":{"$ref":"#/definitions/PriceResponse"},"balanceDueWithCCFee":{"$ref":"#/definitions/PriceResponse"},"ccSurchargePercentage":{"type":"number","format":"float"},"fleetCategory":{"$ref":"#/definitions/FleetCategoryResponse"},"insuranceProducts":{"type":"array","items":{"$ref":"#/definitions/ProductResponse"}},"kmCharges":{"type":"array","items":{"$ref":"#/definitions/KmChargeResponse"}},"lines":{"type":"array","items":{"$ref":"#/definitions/ItemResponse"}},"quoteId":{"type":"string"},"rentalDays":{"type":"integer","format":"int32"},"reservationId":{"type":"integer","format":"int64"},"reservationReference":{"type":"string"},"secondaryProducts":{"type":"array","items":{"$ref":"#/definitions/ProductResponse"}},"source":{"type":"string"},"totalPrice":{"$ref":"#/definitions/PriceResponse"}},"title":"CreateQuoteResponse"},"FleetCategoryRS":{"type":"object","properties":{"availability":{"type":"string"},"availabilityMessage":{"type":"string"},"categoryCode":{"type":"string"},"code":{"type":"string"},"dailyRate":{"$ref":"#/definitions/PriceRS"},"description":{"type":"string"},"fleetTypeCode":{"type":"string"},"id":{"type":"string"},"isAfterHourPickUp":{"type":"boolean"},"name":{"type":"string"},"rentalDays":{"type":"integer","format":"int32"},"total":{"$ref":"#/definitions/PriceRS"},"type":{"type":"string"}},"title":"FleetCategoryRS"},"FleetCategoryResponse":{"type":"object","properties":{"agentCommissionRate":{"type":"integer","format":"int32"},"agentPaymentType":{"type":"integer","format":"int32"},"availability":{"type":"string"},"campaignCode":{"type":"string"},"campaignId":{"type":"string"},"categoryCode":{"type":"string"},"dailyRate":{"$ref":"#/definitions/PriceResponse"},"dealText":{"type":"string"},"description":{"type":"string"},"discountPercentageApplied":{"type":"integer","format":"int32"},"freeDays":{"type":"integer","format":"int32"},"id":{"type":"string"},"isAfterHourPickUp":{"type":"boolean"},"mandatoryFees":{"type":"array","items":{"$ref":"#/definitions/MandatoryFee"}},"minimumHirePeriod":{"type":"string"},"name":{"type":"string"},"priceDifference":{"type":"string"},"rentalDays":{"type":"integer","format":"int32"},"total":{"$ref":"#/definitions/PriceResponse"},"type":{"type":"string"},"typeSlug":{"type":"string"}},"title":"FleetCategoryResponse"},"HirerDetailRS":{"type":"object","properties":{"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"mailingList":{"type":"boolean"},"mobileNumber":{"type":"string"}},"title":"HirerDetailRS"},"HirerDetails":{"type":"object","properties":{"acceptedTerms":{"type":"boolean"},"driversLicenceCountry":{"type":"string"},"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"mailingList":{"type":"boolean"},"mobilePhone":{"type":"string"}},"title":"HirerDetails"},"HirerDetailsResponse":{"type":"object","properties":{"arrivalFlightNumber":{"type":"string"},"dateOfBirth":{"type":"string"},"departureFlightNumber":{"type":"string"},"driversLicenceCountry":{"type":"string"},"driversLicenceExpiry":{"type":"string"},"driversLicenceNumber":{"type":"string"},"email":{"type":"string"},"firstName":{"type":"string"},"homeAddress":{"$ref":"#/definitions/HomeAddressResponse"},"lastName":{"type":"string"},"lucyClubNumber":{"type":"string"},"mobileNumber":{"type":"string"},"numberOfPeople":{"type":"integer","format":"int32"},"optIn":{"type":"boolean"}},"title":"HirerDetailsResponse"},"HomeAddressResponse":{"type":"object","properties":{"city":{"type":"string"},"country":{"type":"string"},"postCode":{"type":"string"},"state":{"type":"string"},"street":{"type":"string"}},"title":"HomeAddressResponse"},"ItemKmChargeResponse":{"type":"object","properties":{"dailyRate":{"$ref":"#/definitions/PriceResponse"},"description":{"type":"string"},"feeForEachAdditionalKm":{"$ref":"#/definitions/PriceResponse"},"id":{"type":"integer","format":"int32"},"isDefault":{"type":"boolean"},"maximumPrice":{"$ref":"#/definitions/PriceResponse"},"mileageDesc":{"type":"string"},"notes":{"type":"string"},"numberOfDays":{"type":"integer","format":"int32"},"numberOfKmsFree":{"type":"integer","format":"int32"},"totalAmount":{"$ref":"#/definitions/PriceResponse"}},"title":"ItemKmChargeResponse"},"ItemRS":{"type":"object","properties":{"allowMultiple":{"type":"boolean"},"category":{"type":"string"},"commissionable":{"type":"boolean"},"description":{"type":"string"},"excess":{"$ref":"#/definitions/PriceRS"},"excessType":{"type":"string"},"isMandatory":{"type":"boolean"},"isPercentageOnTotalCost":{"type":"boolean"},"maxPrice":{"$ref":"#/definitions/PriceRS"},"name":{"type":"string"},"numberOfDaysCalculated":{"type":"integer","format":"int32"},"price":{"$ref":"#/definitions/PriceRS"},"productCode":{"type":"string"},"productId":{"type":"string"},"productType":{"type":"string"},"qty":{"type":"integer","format":"int32"},"rentalDays":{"type":"integer","format":"int32"},"total":{"$ref":"#/definitions/PriceRS"}},"title":"ItemRS"},"ItemResponse":{"type":"object","properties":{"allowMultiple":{"type":"boolean"},"category":{"type":"string"},"commissionable":{"type":"boolean"},"description":{"type":"string"},"excess":{"$ref":"#/definitions/PriceResponse"},"excessType":{"type":"string"},"gst":{"type":"boolean"},"isDefault":{"type":"boolean"},"isMandatory":{"type":"boolean"},"isPercentageOnTotalCost":{"type":"boolean"},"maxPrice":{"$ref":"#/definitions/PriceResponse"},"name":{"type":"string"},"numberOfDaysCalculated":{"type":"integer","format":"int32"},"payAgency":{"type":"boolean"},"price":{"$ref":"#/definitions/PriceResponse"},"productCode":{"type":"string"},"productId":{"type":"string"},"productType":{"type":"string"},"qty":{"type":"integer","format":"int32"},"rentalDays":{"type":"integer","format":"int32"},"stampduty":{"type":"boolean"},"total":{"$ref":"#/definitions/PriceResponse"}},"title":"ItemResponse"},"KmChargeResponse":{"type":"object","properties":{"allowMultiple":{"type":"boolean"},"description":{"type":"string"},"group":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/definitions/ItemKmChargeResponse"}},"required":{"type":"boolean"},"webCategory":{"type":"string"}},"title":"KmChargeResponse"},"LocationDTO":{"type":"object","properties":{"siteAddress":{"$ref":"#/definitions/AddressDTO"},"siteLocation":{"type":"string"}},"title":"LocationDTO"},"MandatoryFee":{"type":"object","properties":{"AllowMultiple":{"type":"boolean"},"Category":{"type":"string"},"Commissionable":{"type":"boolean"},"Description":{"type":"string"},"IsMandatory":{"type":"boolean"},"MaxPrice":{"$ref":"#/definitions/Price"},"Name":{"type":"string"},"NumberOfDaysCalculated":{"type":"integer","format":"int32"},"Price":{"$ref":"#/definitions/Price"},"ProductId":{"type":"string"},"ProductType":{"type":"string"},"Qty":{"type":"integer","format":"int32"},"RentalDays":{"type":"integer","format":"int32"},"Total":{"$ref":"#/definitions/Price"}},"title":"MandatoryFee"},"OrderRQ":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"qty":{"type":"integer","format":"int32"}},"title":"OrderRQ"},"PageResponseDTO«ProductResponseDTO»":{"type":"object","properties":{"pageNumber":{"type":"integer","format":"int64"},"pageSize":{"type":"integer","format":"int64"},"rows":{"type":"array","items":{"$ref":"#/definitions/ProductResponseDTO"}},"totalElements":{"type":"integer","format":"int64"},"totalPage":{"type":"integer","format":"int64"}},"title":"PageResponseDTO«ProductResponseDTO»"},"Price":{"type":"object","properties":{"CurrencyCode":{"type":"string"},"Value":{"type":"number","format":"float"}},"title":"Price"},"PriceRS":{"type":"object","properties":{"currencyCode":{"type":"string"},"value":{"type":"number","format":"float"}},"title":"PriceRS"},"PriceResponse":{"type":"object","properties":{"currencyCode":{"type":"string"},"value":{"type":"number","format":"float"}},"title":"PriceResponse"},"ProductRS":{"type":"object","properties":{"allowMultiple":{"type":"boolean"},"description":{"type":"string"},"group":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/definitions/ItemRS"}},"required":{"type":"boolean"},"webCategory":{"type":"string"}},"title":"ProductRS"},"ProductResponse":{"type":"object","properties":{"allowMultiple":{"type":"boolean"},"description":{"type":"string"},"group":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/definitions/ItemResponse"}},"required":{"type":"boolean"},"webCategory":{"type":"string"}},"title":"ProductResponse"},"ProductResponseDTO":{"type":"object","properties":{"apiName":{"type":"string"},"description":{"type":"string"},"emailImage":{"type":"string"},"excessReductionDescription":{"type":"string"},"excessReductionFeatures":{"type":"string"},"features":{"type":"string"},"featuresDescription":{"type":"string"},"fleetType":{"type":"string"},"fleetTypeId":{"type":"string"},"fleetTypeSlug":{"type":"string"},"floorPlans":{"type":"string"},"gallery":{"type":"string"},"id":{"type":"integer","format":"int64"},"includedWith":{"type":"string"},"keyFeatures":{"type":"string"},"modifiedAt":{"type":"string","format":"date-time"},"pages":{"type":"string"},"productCode":{"type":"string"},"productId":{"type":"string"},"productName":{"type":"string"},"region":{"type":"string"},"shortDescription":{"type":"string"},"specifications":{"type":"string"},"specificationsDescription":{"type":"string"}},"title":"ProductResponseDTO"},"QuoteCreationRequest":{"type":"object","properties":{"campaignCode":{"type":"string"},"categoryCode":{"type":"string"},"driverAge":{"type":"string"},"dropOffDateTime":{"type":"string","format":"date-time"},"dropOffLocationName":{"type":"string"},"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"mobilePhone":{"type":"string"},"numberOfTravelling":{"type":"integer","format":"int32"},"pickUpDateTime":{"type":"string","format":"date-time"},"pickUpLocationName":{"type":"string"},"source":{"type":"string"}},"title":"QuoteCreationRequest"},"QuoteUpdatingRequest":{"type":"object","properties":{"extraKmsId":{"type":"integer","format":"int32"},"insuranceId":{"type":"integer","format":"int32"},"numberOfTravelling":{"type":"integer","format":"int32"},"optionalsFee":{"type":"array","items":{"$ref":"#/definitions/OrderRQ"}},"quoteId":{"type":"string"},"reservationReference":{"type":"string"},"secondaryProductsAndInsuranceMap":{"type":"string"},"source":{"type":"string"}},"title":"QuoteUpdatingRequest"},"ReservationResponse":{"type":"object","properties":{"agentBalanceDue":{"$ref":"#/definitions/PriceResponse"},"agentCollects":{"$ref":"#/definitions/PriceResponse"},"agentCommission":{"$ref":"#/definitions/PriceResponse"},"agentVoucherReference":{"$ref":"#/definitions/PriceResponse"},"balanceDue":{"$ref":"#/definitions/PriceResponse"},"balanceDueWithCCFee":{"$ref":"#/definitions/PriceResponse"},"bookingStatus":{"type":"string"},"ccSurchargePercentage":{"type":"number","format":"float"},"dateCreated":{"type":"string"},"dropOffDate":{"type":"string"},"dropOffLocation":{"type":"string"},"dropOffLocationAddress":{"$ref":"#/definitions/LocationDTO"},"dropOffTimes":{"type":"array","items":{"type":"string"}},"fleetCategory":{"$ref":"#/definitions/FleetCategoryResponse"},"hirerDetails":{"$ref":"#/definitions/HirerDetailsResponse"},"insuranceProducts":{"type":"array","items":{"$ref":"#/definitions/ProductResponse"}},"lines":{"type":"array","items":{"$ref":"#/definitions/ItemResponse"}},"pickUpDate":{"type":"string"},"pickUpLocation":{"type":"string"},"pickUpLocationAddress":{"$ref":"#/definitions/LocationDTO"},"pickupTimes":{"type":"array","items":{"type":"string"}},"quoteId":{"type":"string"},"quoteName":{"type":"string"},"rentalDays":{"type":"integer","format":"int32"},"reservationId":{"type":"integer","format":"int64"},"reservationReference":{"type":"string"},"secondaryProducts":{"type":"array","items":{"$ref":"#/definitions/ProductResponse"}},"status":{"type":"string"},"totalPrice":{"$ref":"#/definitions/PriceResponse"}},"title":"ReservationResponse"},"SuccessResponseDTO«BookingResponse»":{"type":"object","properties":{"data":{"$ref":"#/definitions/BookingResponse"},"message":{"type":"string"},"status":{"type":"integer","format":"int32"}},"title":"SuccessResponseDTO«BookingResponse»"},"SuccessResponseDTO«CreateQuoteResponse»":{"type":"object","properties":{"data":{"$ref":"#/definitions/CreateQuoteResponse"},"message":{"type":"string"},"status":{"type":"integer","format":"int32"}},"title":"SuccessResponseDTO«CreateQuoteResponse»"},"SuccessResponseDTO«List«AvailabilityResponse»»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/AvailabilityResponse"}},"message":{"type":"string"},"status":{"type":"integer","format":"int32"}},"title":"SuccessResponseDTO«List«AvailabilityResponse»»"},"SuccessResponseDTO«PageResponseDTO«ProductResponseDTO»»":{"type":"object","properties":{"data":{"$ref":"#/definitions/PageResponseDTO«ProductResponseDTO»"},"message":{"type":"string"},"status":{"type":"integer","format":"int32"}},"title":"SuccessResponseDTO«PageResponseDTO«ProductResponseDTO»»"},"SuccessResponseDTO«ReservationResponse»":{"type":"object","properties":{"data":{"$ref":"#/definitions/ReservationResponse"},"message":{"type":"string"},"status":{"type":"integer","format":"int32"}},"title":"SuccessResponseDTO«ReservationResponse»"},"SuccessResponseDTO«Set«string»»":{"type":"object","properties":{"data":{"type":"array","items":{"type":"string"}},"message":{"type":"string"},"status":{"type":"integer","format":"int32"}},"title":"SuccessResponseDTO«Set«string»»"},"SuccessResponseDTO«UpdateReservationResponseDTO»":{"type":"object","properties":{"data":{"$ref":"#/definitions/UpdateReservationResponseDTO"},"message":{"type":"string"},"status":{"type":"integer","format":"int32"}},"title":"SuccessResponseDTO«UpdateReservationResponseDTO»"},"SuccessResponseDTO«ValidateUpdateResponseDTO»":{"type":"object","properties":{"data":{"$ref":"#/definitions/ValidateUpdateResponseDTO"},"message":{"type":"string"},"status":{"type":"integer","format":"int32"}},"title":"SuccessResponseDTO«ValidateUpdateResponseDTO»"},"SuccessResponseDTO«string»":{"type":"object","properties":{"data":{"type":"string"},"message":{"type":"string"},"status":{"type":"integer","format":"int32"}},"title":"SuccessResponseDTO«string»"},"TripDetailsRS":{"type":"object","properties":{"dropOffDate":{"type":"string"},"dropOffLocation":{"type":"string"},"dropOffTimes":{"type":"array","items":{"type":"string"}},"fleetCategory":{"$ref":"#/definitions/FleetCategoryRS"},"insuranceProducts":{"$ref":"#/definitions/ProductRS"},"lines":{"type":"array","items":{"$ref":"#/definitions/ItemRS"}},"pickUpDate":{"type":"string"},"pickUpLocation":{"type":"string"},"pickupTimes":{"type":"array","items":{"type":"string"}},"rentalDays":{"type":"integer","format":"int32"},"secondaryProducts":{"type":"array","items":{"$ref":"#/definitions/ProductRS"}},"totalPrice":{"$ref":"#/definitions/PriceRS"}},"title":"TripDetailsRS"},"UpdateReservationResponseDTO":{"type":"object","properties":{"booking":{"$ref":"#/definitions/BookingRS"},"bookingNo":{"type":"integer","format":"int32"},"reference":{"type":"string"},"status":{"type":"string"}},"title":"UpdateReservationResponseDTO"},"ValidateUpdateRequest":{"type":"object","properties":{"campaignCode":{"type":"string"},"categoryCode":{"type":"string"},"driverAge":{"type":"integer","format":"int32"},"dropOffDateTime":{"type":"string"},"dropOffLocationName":{"type":"string"},"hirerDetails":{"$ref":"#/definitions/HirerDetails"},"insurance":{"type":"string"},"pascal":{"type":"boolean"},"pickUpDateTime":{"type":"string"},"pickUpLocationName":{"type":"string"},"secondaryProducts":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}},"voucherReference":{"type":"string"}},"title":"ValidateUpdateRequest"},"ValidateUpdateResponseDTO":{"type":"object","properties":{"bookingNo":{"type":"integer","format":"int32"},"message":{"type":"string"},"original":{"$ref":"#/definitions/BookingRS"},"reference":{"type":"string"},"status":{"type":"string"},"updates":{"$ref":"#/definitions/TripDetailsRS"}},"title":"ValidateUpdateResponseDTO"}}}